<div class="row class-selection sticky-top pt-1 nav-is-sticky" id="class_selection">
    {{#each classes}}
        <div class="class-filter class-icon" id="{{name}}">{{upper}}</div>
    {{/each}}
</div>