{% extends "base.html" %}
{% load static %}

{% block extra_head %}

<script type="text/javascript" src="{% static "js/timer/jquery.countdown.js" %}"></script>
<script type="text/javascript" src="{% static "js/timer/jquery.countdown.min.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "css/landing_page.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/stars.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/api.css" %}">

<script src="{% static "js/landing_page.js" %}"></script>

<script type="text/javascript" src="{% static "js/list.min.js" %}"></script>

{% endblock extra_head %}

{% block title_splash %}
    <div class="container titleSplash pt-5">
        <div class="p-3 page-description">Classic World of Warcraft Tools for the Experienced Player</div>
        <div class="row class-selection nav-is-sticky steel-textured"></div>
    </div>
    {% endblock title_splash %}

    {% block mainbody %}
    <div class="mainBody container">
        <div class="row selection-header sticky-top">
            <!-- <h2 class="my-auto font-weight-bold">Onybuff.com</h2> -->
        </div>
        <div class="row content-container mt-4">
            <div class="card-container col-lg-8 col-12 recent-news">
                <div class="card mb-3 bg-transparent border-light text-center">
                    <div class="card-header bg-transparent border-light text-light">
                        <button class="btn btn-sm float-left" title="Refresh"
        					style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; background-color: transparent;" type="button">
        					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        				</button>
                        <!-- <div class="clearfix"></div> -->
                        <h5><span class="fix-me">NEW SAVED SPECS</span></h5>
                    </div>
                {% for specname,spec in specs.items %}
                <div class="card-body text-light">
                    <h5 class="card-title text-center">
                        <a name="{{spec.obj.name}}" class="saved-list-href" data-id="{{spec.obj.id}}" href="{% url 'talents' spec.obj.wow_class.name|lower %}?{{spec.obj.hash}}">{{spec.obj.name}}</a>
                    </h5>
                    <div class="row justify-content-between">
                        <div class="col-sm">
                            <p>By:
                            {% if spec.obj.user == request.user %}
                                <a href="">me</a>
                                {% elif not spec.obj.private %}
                                <a href="">{{spec.obj.user.disc_username}}</a>
                                {% else %}
                                anonymous
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-sm">
                            <span class="{{spec.obj.wow_class.name}}">{{spec.obj.wow_class.name|title}}</span> --
                            <span>
                            {% with trees=spec.obj.treeallotted_set.all %}
                            {% for tree in trees %}
                            {% if not tree == trees|first %}
                            /
                            {% else %}
                            {% endif %}
                            {{tree.invested}}
                            {% endfor %}
                            {% endwith %}
                            </span>
                        </div>

                            {# ratings #}

                          <div class="col-sm" style="left: 50px;">
                              {% if request.user.is_superuser and spec.obj.user != request.user %}
<!-- NOTE: FIX-ME -->         <span style="position: relative; bottom: 2px; float: right; color: azure; font-size: 14px; right:55px"><a href="" class="remove-rating">({{spec.obj.ratings.count}})</a></span>
                               {% else %}
                               <span style="position: relative; bottom: 2px; float: right; color: azure; font-size: 14px; right:55px">({{spec.obj.ratings.count}})</span>
                               {% endif %}
                          <div class="ratings-container" name="{{spec.obj.name}}" data-id="{{spec.obj.id}}" data-wowclass="{{spec.obj.wow_class.name}}">
                          {% if not request.user.is_authenticated or spec.has_voted or request.user == spec.obj.user %}

                            <div class="star-box">
                                {% widthratio spec.obj.rating 1 20 as width %}
                              <div class="star-limiter" style="width:{{width|default:0}}%">
                                <div class="longbar">
                                    {% for n in rangen %}
                                  <span class="glyphicon glyphicon-star"></span>
                                    {% endfor %}
                                </div>
                              </div>
                            </div>
                            <div class="star-bg">
                                <div class="longbar">
                                    {% for n in rangen %}
                                  <span class="glyphicon glyphicon-star"></span>
                                    {% endfor %}
                            </div>
                          </div>
                          <!-- <p id="rating_data"></p> -->
                          {% else %}
                          <div class="star-box rating-vote">
                            <div class="star-limiter" style="width: 0%">
                              <div class="longbar">
                                  {% for n in rangen %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endfor %}
                              </div>
                            </div>
                          </div>
                          <div class="star-bg rating-vote">
                              <div class="longbar">
                                  {% for n in rangen %}
                                <span class="glyphicon glyphicon-star-empty"></span>
                                  {% endfor %}
                              </div>
                        </div>
                          {% endif %}
                          <div class="clearfix"></div>
                      </div>
                </div>
            </div>

            <div class="row justify-content-between">

                    <div class="col-2">
                    </div>
                    <div class="col-6 flex-column">
                        <div class="mb-auto p-2">
                            <span class="fix-me">Description</span>: <span>{{spec.obj.description}}</span>
                        </div>
                        <br>
                    </div>
                    <div class="col-2 flex-row"></div>
            </div>
            <div class="row justify-content-between">
                <div class="col-4">
                        <span class="fix-me"> Added</span>:
                        <span class="text-muted" style="font-size: 10px; font-style: italic;"> {{spec.obj.created}}</span>
                </div>

                <div class="col-7">
                    <div class="p-2">
                        {% for tag in spec.obj.tags.all %}
                            <span><a href="#{{tag.name}}">#{{tag.name}}</a></span>
                            {% endfor %}
                    </div>
                </div>
                <div class="col-1">
                    <div class="p-2">
                        {% if spec.obj.user.email == request.user.email %}
                            <a class="btn btn-sm float-right" style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; -webkit-appearance: unset;"
                            type="button" role="button" {% comment %} href="{% url 'talents' spec.obj.wow_class.name|lower %}?{{spec.obj.hash}}" {% endcomment %}>
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span>
                            </a>
                            <div class="clearfix"></div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <hr style="border: 1px solid grey; width: 40%; margin-top:10px; margin-bottom:10px;"></hr>
            <div class="row">
                    <br>
                    <table style="margin:auto;">
                        <thead>
                            <tr>
                                <th colspan="2"><div><h5 class="fix-me">AVAILABLE PROPERTIES</h5></div><div><span style="font-size:80%;">not 100% comprehensive</span></div></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span>spec name</span></td>
                                <td><span class="fix-me">{{spec.obj.name}}</span></td>
                            </tr>
                            <tr>
                                <td><span>created</span></td>
                                <td><span class="fix-me">{{spec.obj.created}}</span></td>
                            </tr>
                            <tr>
                                <td><span>last updated</span></td>
                                <td><span class="fix-me">{{spec.obj.updated}}</span></td>
                            </tr>
                            <tr>
                                <td><span>num ratings</span></td>
                                <td><span class="fix-me">{{spec.obj.ratings.count}}</span></td>
                            </tr>
                            <tr>
                                <td><span>avg rating</span></td>
                                <td><span class="fix-me">{{spec.obj.rating}}</span></td>
                            </tr>
                            <tr>
                                <td><span>wow class name</span></td>
                                <td><span class="fix-me">{{spec.obj.wow_class.name}}</span></td>
                            </tr>
                            <tr>
                                <td><span>hash</span></td>
                                <td><span class="fix-me">{{spec.obj.hash}}</span></td>
                            </tr>
                            <tr>
                                <td><span>private?</span></td>
                                <td><span class="fix-me">{{spec.obj.private}}</span></td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th colspan="2">USER</th>
                            </tr>
                        </thead>
                        {% with user=spec.obj.user %}
                        <tbody>
                            <tr>
                                <td><span>discord uid</span></td>
                                <td><span class="fix-me">{{user.uid}}</span></td>
                            </tr>
                            <tr>
                                <td><span>discord username</span></td>
                                <td><span class="fix-me">{{user.disc_username}}</span></td>
                            </tr>
                            <tr>
                                <td><span>discord tag</span></td>
                                <td><span class="fix-me">{{user.tag}}</span></td>
                            </tr>
                            <tr>
                                <td><span>date joined</span></td>
                                <td><span class="fix-me">{{user.date_joined}}</span></td>
                            </tr>
                            <tr>
                                <td><span>db index</span></td>
                                <td><span class="fix-me">{{user.id}}</span></td>
                            </tr>
                            <tr>
                                <td><span>email</span></td>
                                <td><span class="fix-me">{{user.email}}</span></td>
                            </tr>
                            <tr>
                                <td><span>staff?</span></td>
                                <td><span class="fix-me">{{user.is_staff}}</span></td>
                            </tr>
                            <tr>
                                <td><span>admin?</span></td>
                                <td><span class="fix-me">{{user.is_superuser}}</span></td>
                            </tr>
                        </tbody>
                        {% endwith %}
                        <thead>
                            <tr>
                                <th colspan="2">TREES</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tree in spec.obj.treeallotted_set.all %}
                            <tr>
                                <td>{{tree.name}}</td>
                                <td class="fix-me">{{tree.invested}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <thead>
                            <tr>
                                <th colspan="2">TAGS</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tag in spec.obj.tags.all %}
                            <tr>
                                <td colspan="2" class="fix-me">{{tag.name}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                        <br>
                    </div>
                </div>
                <hr style="border: 1px solid white; width: 100%;"></hr>

                {% endfor %} {# endspecs #}

                {% for consumelist in consume_lists %}
                <div class="card-body text-light">
                    <h5 class="card-title text-center"><a href="{% url 'profession_tool' %}?{{consumelist.hash}}">{{consumelist.name}}</a></h5>
                {% for n in rangen %}
                    {% if n == rangen|first %}
                    <a class="btn btn-sm float-right"
                        style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: rgb(231, 186, 0); border: 0; -webkit-appearance: unset;">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true" title="Edit"></span>
                    </a>
                    {% else %}
                    <a class="btn btn-sm float-right"
                        style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: rgb(231, 186, 0); border: 0; -webkit-appearance: unset;">
                        <span class="glyphicon glyphicon-star" aria-hidden="true" title="Edit"></span>
                    </a>
                    {% endif %}
                {% endfor %}
                <div class="clearfix"></div>
                <p>By:
                {% if consumelist.user.email == request.user.email %}
                    <a href="">me</a>
                {% elif not consumelist.private %}
                    <a href="">{{consumelist.user.disc_username}}</a>
                {% else %}
                    anonymous
                {% endif %}
                </p>
                <span> -------------------- </span>
                <p><span style="text-decoration: underline;">Description</span>: {{consumelist.description}}</p>
                <p><span style="text-decoration: underline;"> Added</span>:<span class="text-muted"> {{consumelist.created}}</span></p>

                {% for tag in consumelist.tags.all %}
                    <span><a href="#{{tag.name}}">#{{tag.name}}</a></span>
                {% endfor %}
                {% if consumelist.user.email == request.user.email %}
                    <a class="btn btn-sm float-right" style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; -webkit-appearance: unset;"
                    type="button" role="button" {% comment %} href="{% url 'profession_tool' %}?{{consumelist.hash}}" {% endcomment %}>
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Edit"></span>
                    </a>
                    <div class="clearfix"></div>
                {% endif %}
                <table class="table table-sm table-striped table-dark table-hover" style="margin:auto;">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <div>
                                    <h5 class="fix-me">AVAILABLE PROPERTIES</h5>
                                </div>
                                <div>
                                    <span style="font-size:80%;">not 100% comprehensive</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>list name</span></td>
                            <td><span class="fix-me">{{consumelist.name}}</span></td>
                            <td><code>{% verbatim %}{{consumelist.name}}{% endverbatim %}</code></td>
                        </tr>
                        <tr>
                            <td><span>created</span></td>
                            <td><span class="fix-me">{{consumelist.created}}</span></td>
                            <td><code>{% verbatim %}{{consumelist.created}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>last updated</span></td>
                            <td><span class="fix-me">{{consumelist.updated}}</span></td>
                            <td><code>{% verbatim %}{{consumelist.updated}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>num ratings</span></td>
                            <td><span class="fix-me">{{consumelist.ratings.count}}</span></td>
                            <td><code>{% verbatim %}{{consumelist.ratings.count}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>avg rating</span></td>
                            <td><span class="fix-me">{{consumelist.rating}}</span></td>
                            <td><code>{% verbatim %}{{consumelist.rating}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>hash</span></td>
                            <td><span class="fix-me">{{consumelist.hash}}</span></td>
                            <td><code>{% verbatim %}{{consumelist.hash}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>private?</span></td>
                            <td><span class="fix-me">{{consumelist.private}}</span></td>
                            <td><code>{% verbatim %}{{consumelist.private}}{% endverbatim %}</code></td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th style="color: #96c6f5" colspan="1">USER</th>
                            <th colspan="2"><code>{% verbatim %}{% with user=consumelist.user %}{% endverbatim %}</code></th>

                        </tr>
                    </thead>
                    {% with user=consumelist.user %}
                    <tbody>
                        <tr>
                            <td><span>discord uid</span></td>
                            <td><span class="fix-me">{{user.uid}}</span></td>
                            <td><code>{% verbatim %}{{user.uid}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>discord username</span></td>
                            <td><span class="fix-me">{{user.disc_username}}</span></td>
                            <td><code>{% verbatim %}{{user.disc_username}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>discord tag</span></td>
                            <td><span class="fix-me">{{user.tag}}</span></td>
                            <td><code>{% verbatim %}{{user.tag}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>date joined</span></td>
                            <td><span class="fix-me">{{user.date_joined}}</span></td>
                            <td><code>{% verbatim %}{{user.date_joined}}{% endverbatim %}</code></td>
                        </tr>
                        <tr>
                            <td><span>db index</span></td>
                            <td><span class="fix-me">{{user.id}}</span></td>
                            <td><code>{% verbatim %}{{user.id}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>email</span></td>
                            <td><span class="fix-me">{{user.email}}</span></td>
                            <td><code>{% verbatim %}{{user.email}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>staff?</span></td>
                            <td><span class="fix-me">{{user.is_staff}}</span></td>
                            <td><code>{% verbatim %}{{user.is_staff}}{% endverbatim %}</code></td>

                        </tr>
                        <tr>
                            <td><span>admin?</span></td>
                            <td><span class="fix-me">{{user.is_superuser}}</span></td>
                            <td><code>{% verbatim %}{{user.is_superuser}}{% endverbatim %}</code></td>

                        </tr>
                    </tbody>
                    {% endwith %}
                    <thead>
                        <tr>
                            <!-- <th>VIA CUSTOM DICT</th> -->
                            <th colspan="3"><code>{% verbatim %}{% for listname,y in saved_list.items %}{% endverbatim %}</code></th>
                        </tr>
                    </thead>
                    {% for listname,y in saved_lists.items %}
                    {% if listname == consumelist.name %}
                    <thead>
                        <tr>
                            <th style="color: #96c6f5" colspan="1">listname</th>
                            <th colspan="1" class="fix-me">{{listname}}</th>
                            <th colspan="1"><code>{% verbatim %}{{listname}}{% endverbatim %}</code></th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th colspan="3"><code>{% verbatim %}{% for profname,b in y.consumes.items %}{% endverbatim %}</code></th>
                        </tr>
                    </thead>
                    {% for profname,b in y.consumes.items %}
                    <thead>
                        <tr>
                            <th style="color: #96c6f5" scope="col">profession</th>
                            <th scope="col" class="fix-me">{{profname}}</th>
                            <th scope="col"><code>{% verbatim %}{{profname}}{% endverbatim %}</code></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr colspan="3">
                            <td colspan="3"><code>{% verbatim %}{% for consume_name,quantity in b.items %}{% endverbatim %}</code></td>

                        </tr>
                        <tr colspan="3">
                            <td colspan="2"><code>{% verbatim %}{{consume_name}}{% endverbatim %}</code></td>
                            <td><code>{% verbatim %}{{quantity}}{% endverbatim %}</code></td>
                        </tr>
                        {% for consume_name,quantity in b.items %}
                            <tr>
                                <td colspan="2">{{consume_name}}</td>
                                <td class="fix-me">{{quantity}}</td>
                            </tr>
                        {% endfor %}

                    {% endfor %}
                    </tbody>
                    {% else %}
                    {% endif %}
                    {% endfor %}
                    <thead>
                        <tr>
                            <th colspan="3">TAGS</th>
                        </tr>
                        <tr>
                            <th colspan="3"><code>{% verbatim %}{% for tag in consumelist.tags.all %}{% endverbatim %}</code></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="3">
                                {% for tag in consumelist.tags.all %}
                                <span class="fix-me">{{tag.name}}</span>,

                                {% endfor %}
                            </td>

                        </tr>
                    </tbody>
                </table>

                <hr style="border: 1px solid white; width: 100%;"></hr>
                </div>
                {% endfor %} {# endconsumelists #}

                </div>


                <div class="pt-4">
                    <div class="card mb-3 bg-transparent border-light text-center">
                        <h5 class="card-header bg-transparent border-light text-light">
                            Changelog
                        </h5>
                        <div class="card-body text-light">
                            <p class="card-text text-left">05/02/2020</p>
                            <ul class="card-text text-left" style="list-style-type:disc;">
                                <li> Implemented item data requests via AJAX </li>
                                <li> Rewrote recipe list rendering to use vanilla JS </li>
                                <li> Implemented basic fuzzy-search (API page) </li>
                            </ul>
                            <p class="card-text text-left">03/03/2020</p>
                            <ul class="card-text text-left" style="list-style-type:disc;">
                                <li><a href="https://cdn.discordapp.com/attachments/421900327336411140/684525496800641045/unknown.png"> Rank 14 </a></li>
                            </ul>
                            <p class="card-text text-left">02/29/2020</p>
                            <ul class="card-text text-left" style="list-style-type:disc;">
                                <li><a href="https://www.reddit.com/r/classicwow/comments/fb6vze/this_horde_premade_on_heartseekerus_kept_us/"> made it on reddit</a></li>
                            </ul>
                            <p class="card-text text-left">07/16/2019</p>
                            <ul class="card-text text-left" style="list-style-type:disc;">
                                <li> API page created </li>
                                <li> Rating System Implemented </li>
                            </ul>
                            <p class="card-text text-left">07/14/2019</p>
                            <ul class="card-text text-left" style="list-style-type:disc;">
                                <li>
                                    Implemented ability to save and view saved consume lists
                                </li>
                            </ul>
                            <p class="card-text text-left">07/1/2019</p>
                            <ul class="card-text text-left">
                                <li>
                                    Django migration
                                </li>
                            </ul>
                            <p class="card-text text-left">04/29/2019</p>
                            <ul class="card-text text-left" style="list-style-type:disc;">
                                <li>
                                    Added Specs and Guides Section.
                                </li>
                                <li>
                                    Added Working Talent Calculator.
                                </li>
                                <li>
                                    Updated Consume Tool to display more useful information.
                                </li>
                                <li>
                                    Changed overall site style and design.
                                </li>
                            </ul>
                            <p class="card-text text-left">01/5/2019</p>
                            <ul class="card-text text-left" style="list-style-type:disc;">
                                <li>
                                    Initial Launch with consume tool and enchant tool.
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer text-muted border-light">
                            <p>We are constantly adding new things to Onybuff.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% load titlecase from custom_filters %}

    <div class="row">
        <div class="col-3"></div>
        <div class="col-8">
        <table id="profession-table" class="table table-sm table-striped table-dark table-hover" style="margin:auto; overflow-y: scroll;">
            <thead>
                <tr>
                    <th><input class="fuzzy-search" /></th>
                    <th>
                        <button id="prof_loader" type="button" class="btn btn-warning">Load</button>

                        <!-- <button class="btn btn-sm float-left" title="Load"
        					style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; background-color: transparent;" type="button">
        					<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        				</button> -->
                    </th>

                </tr>
                <tr>
                    <th scope="col">recipe</th>
                    <th scope="col">materials</th>
                </tr>
            </thead>
            <tbody id="tbody123" class="list">

            </tbody>
        </table>
    </div>
    </div>


    {% endblock mainbody %}

    {% block footer %}
    {# "not necessary, here to demonstrate block.super" #}
    {{block.super}}
    {% endblock footer %}

{% block javascript %}
<script>

var coords = {'x':0, 'y':0}
var previous_ix = 0
// var prev_query_keys = Object.keys(localStorage)
var prev_query_keys = Object.keys(all_items)

$("#prof_loader").on({
    click: e=> {
        $.ajax({
            url: '/ajax/prof_loader/',
            data: {
                'prof': 'Enchanting',
            },
            dataType: 'json',
            success: prof_receiver,
            complete: init_list_searching
        });
    }
})

function init_list_searching(response) {
    var monkeyList = new List('profession-table', {
      valueNames: ['consume-name'],
    });
}

function empty_tooltip() {
    var tooltip_container = document.getElementById("tooltip_container")
    for (let i = 0; i < tooltip_container.children.length; i++) {
        tooltip_container.children[i].remove()
    }
}

function hide_tooltip() {
    var tooltip_container = document.getElementById("tooltip_container")
    for (let i = 0; i < tooltip_container.children.length; i++) {
        tooltip_container.children[i].hidden = true
    }
}

function unhide_tooltip() {
    var tooltip_container = document.getElementById("tooltip_container")
    for (let i = 0; i < tooltip_container.children.length; i++) {
        tooltip_container.children[i].hidden = false
    }
}

function add_mousemove(e) {
    var target = e.target
    target.addEventListener('mousemove', update_tooltip_coords)
}

function update_tooltip_coords(e) {
    coords.x = coords.x + e.movementX
    coords.y = coords.y + e.movementY
    position_tooltip(coords.x, coords.y)
}

function position_tooltip(x, y) {
    var tooltip_container = document.getElementById("tooltip_container")
    tooltip_container.style.cssText = `left: ${x}px; top: ${y}px; visibility: visible;`
}

function mouseleave_cleanup(e) {
    e.target.removeEventListener('mousemove', update_tooltip_coords)
    empty_tooltip()
}

function tooltip_init(e) {
    empty_tooltip()
    add_mousemove(e)
    var target = e.target
    var parent = target.closest('div.data-container')
    var ix = parent.getAttribute("data-ix")
    coords.x = e.pageX
    coords.y = e.pageY

    if (prev_query_keys.includes(ix)) {
        var data = all_items[ix]

        API_create_tooltip(data)
        update_tooltip_coords(e)
    } else {
        var data = {}
        data['ix'] = ix
        $.ajax({
            method: "GET",
            url: '/ajax/get_item_info/',
            data: data,
            dataType: 'json',
            success: API_create_tooltip,
            complete: add_item_query,
        })
    }
}

function add_item_query(data) {

    var ix = data.responseJSON.ix
    var item = data.responseJSON

    if (!prev_query_keys.includes(ix)) {
        all_items[ix] = item
        if (storageAvailable('localStorage')) {
            localStorage.setItem(ix, JSON.stringify(item));
        }
        prev_query_keys.push(ix)
        console.log(`added ${ix}`)
    }
}
// create_element(tag, class_name, style, text, id)
function prof_receiver(data) {
    var tbody = document.getElementById("tbody123")
    var table = tbody.closest("table")

    data.forEach(function (recipe) {
        var tablerow = create_element('tr')
        var td = create_element('td', 'recipe', "text-align: left;")
        var recipe_container = create_element('div', `recipe-container data-container q${recipe.quality}`)

        var image_name = static_url+`images/icons/large/${recipe.img}.jpg`
        var recipe_img_el = create_element('img', 'icon-medium recipe-image', `background-image: url(${image_name});`)
        recipe_img_el.src = static_url+"images/icon_border_2.png"
        recipe_img_el.addEventListener("mouseover", tooltip_init)
        recipe_img_el.addEventListener("mouseleave", mouseleave_cleanup)

        var ix = document.createAttribute("data-ix");
        ix.value = recipe.ix
        recipe_container.setAttributeNode(ix)

        var recipe_name_el = create_element('span', 'consume-name', 'margin-left: 5px;', recipe.name)

        recipe_name_el.addEventListener("mouseover", tooltip_init)
        recipe_name_el.addEventListener("mouseleave", mouseleave_cleanup)

        recipe_container.appendChild(recipe_img_el)
        recipe_container.appendChild(recipe_name_el)
        td.appendChild(recipe_container)
        tablerow.appendChild(td)

        var mats_td = create_element('td', 'reagant-list')

        recipe.mats.forEach(function (mat) {
            var mat_container = create_element('div', 'data-container', 'display: inline-block;')
            var mat_image_name = static_url+`images/icons/large/${mat.img}.jpg`
            var mat_img = create_element('img', 'icon-medium', `background-image: url(${mat_image_name});`)
            mat_img.addEventListener("mouseover", tooltip_init)
            mat_img.addEventListener("mouseleave", mouseleave_cleanup)

            var mat_ix = document.createAttribute("data-ix");
            mat_ix.value = mat.ix
            mat_container.setAttributeNode(mat_ix)

            mat_img.src = static_url+"images/icon_border_2.png"

            mat_container.appendChild(mat_img)
            mats_td.appendChild(mat_container)

        tablerow.appendChild(mats_td)

        tbody.appendChild(tablerow)

        })
    })
}


function API_create_tooltip(data) {

	var tooltip_container = document.getElementById("tooltip_container")
	var tooltip = create_element('div', 'tooltip-container', "float: right; white-space: pre-wrap;", '', 'tooltip')

	if (data.img) {
		let image_name = static_url+`images/icons/large/${data.img}.jpg`
		style = `pointer-events: none; float: left; background-image: url(${image_name})`
		var img = create_element('img', 'icon-medium', style, '', "tooltip_img")
		img.src = static_url+"images/icon_border_2.png"
		tooltip_container.appendChild(img)
	}

	var title = create_element('div', `title q${data.quality}`, 'clear: both; margin-right: 5px; padding-right: 5px; width: 100%;', `${data.name}`)
	tooltip.appendChild(title)

	if ((data.slot && data.q > 1) || (data.bop)) {
		var bop_text = (data.bop) ? "Binds when picked up" : "Binds when equipped"
		var bop_elem = create_element('div', 'bop', '', `${bop_text}`)
		tooltip.appendChild(bop_elem)
	}

	if (data.quest_item) {
		var quest_item = create_element('div', 'unique', 'padding-right: 5px; margin-right: 5px;', "Quest Item")
		tooltip.appendChild(quest_item)
	}

	if (data.unique) {
		var unique = create_element('div', 'unique', 'padding-right: 5px; margin-right: 5px;', "Unique")
		tooltip.appendChild(unique)
	}

	if (data.slot) {
		var slot_text = (data.slot == 'Bag') ? `${data.slots} Slot Bag` : data.slot
		var slot = create_element('div', 'slot', 'float:left; margin-right: 5px; padding-right: 5px;', `${slot_text}\n`)
		tooltip.appendChild(slot)
	}

	if (data.proficiency) {
		var proficiency = create_element('div', 'proficiency', 'float: right; clear: right;', `${data.proficiency}`)
		tooltip.appendChild(proficiency)
	}

	if (data.damage) {
		var damage_text = ""
		data.damage.forEach(function(x) {
			damage_text += `${x}\n`
		})
		var damage = create_element('div', 'damage', 'float: left; clear:left; margin-right: 10px; padding-right: 10px', damage_text)
		tooltip.appendChild(damage)
	}

	if (data.speed) {
		var speed = create_element('div', 'speed', 'float: right; clear: right; margin-left: 10px; padding-left: 10px', `Speed ${data.speed}`)
		tooltip.appendChild(speed)
	}

	if (data.dps) {
		var dps = create_element('div', 'dps', 'clear: both;', `(${data.dps} damage per second)`)
		tooltip.appendChild(dps)

	}

	if (data.armor) {
		var armor = create_element('div', 'armor', 'clear: both;', `${data.armor} Armor`)
		tooltip.appendChild(armor)
	}

	if (data.stats) {
		var stat_text = ""
		// var _stats = looseJsonParse(data.stats)
		for (let [key, val] of Object.entries(data.stats)) {
			let some_text = `${val} ${key}\n`

			if (key!='Block') {
				some_text = "+"+some_text
			}
			stat_text += some_text
		}
		var stats = create_element('div', 'stats', "float: left; clear: both", `${stat_text}`)
		tooltip.appendChild(stats)

	}

	if (data.resists) {
		var resist_text = ""
		// var _resists = looseJsonParse(data.resists)
		for (let [key, val] of Object.entries(data.resists)) {
			resist_text += `+${val} ${key} Resist\n`
		}
		var resists = create_element('div', 'resists', "float: left; clear: both", `${resist_text}`)
		tooltip.appendChild(resists)
	}


	if (data.durability) {
		var durability = create_element('div', 'durability', 'clear: both;', `Durability ${data.durability} / ${data.durability}`)
		tooltip.appendChild(durability)
	}

	if (data.requirements) {
		// var _requirements = looseJsonParse(data.requirements)
		var requirements = create_element('div', 'requirements', 'clear: both;')

		for (let [key, val] of Object.entries(data.requirements)) {
			if (key == "level") {
				requirements.appendChild(create_element('div', 'required_level', '', `Required Level: ${val}`))
			} else if (key == "class") {
				var class_reqs = create_element('div', 'class_text', '', "Classes: ")

				let first_class_name = val.shift()
				let class_span = create_element('span', `${first_class_name.toLowerCase()}`, '', `${first_class_name}`)

				class_reqs.appendChild(class_span)

				val.forEach(function(class_name) {
					class_reqs.appendChild(create_element('span', '', '', ', '))

					class_reqs.appendChild(create_element('span', `${class_name.toLowerCase()}`, '', `${class_name}`))
				})

				val.unshift(first_class_name)

			requirements.appendChild(class_reqs)
			} else if (key == "rank") {
				let rank_req = create_element('div', 'required_rank', '', `Requires ${val}`)
				requirements.appendChild(rank_req)
			} else if (key=='profession') {
				for (let [k, v] of Object.entries(val)) {
					var req_text = "Requires "+titleCase(k)
					if (ALL_PROFS.includes(k.toString())) {
						req_text += ` (${v})`
					}
					let prof_req = create_element('div', 'required_prof', '', req_text)
					requirements.appendChild(prof_req)
				}
			}
		}
		requirements.appendChild(create_element('div', '', 'clear: both;'))
		tooltip.appendChild(requirements)
	}

	if (data.equips) {
		// var _equips = looseJsonParse(data.equips)
		var equips = create_element('div', 'use q2', 'clear: both; font-size: 13px')

		data.equips.forEach(function(x) {
			equips.appendChild(create_element('div', 'use q2', 'clear: both; font-size: 13px', `${x}`))
		})

		tooltip.appendChild(equips)

	}

	if (data.procs) {
		// var _procs = looseJsonParse(data.procs)
		var procs = create_element('div', 'use q2', 'clear: both; font-size: 13px')
		data.procs.forEach(function(x) {
			procs.appendChild(create_element('div', 'use q2', 'clear: both; font-size: 13px', `${x}`))
		})
		tooltip.appendChild(procs)
	}


	if (data.use) {
		var use = create_element('div', 'use q2', 'clear: both; font-size: 13px', `Use: ${data.use}`)
		tooltip.appendChild(use)
	}

	if (data.description) {
		var description = create_element('div', 'description', 'clear: both;', `"${data.description}"`)
		tooltip.appendChild(description)
	}

	if (data.itemset) {
		var itemset = ALL_ITEMSETS[data.itemset]
		// let num_items =
		var itemset_text = `${itemset.n} (0/${itemset.items.length})`
		var itemset_elem = create_element('div', 'description', 'clear: both;', `\n${itemset_text}`)
		itemset.items.forEach(function(name) {
			itemset_elem.appendChild(create_element('div', 'q0', 'text-indent: 8px;', `${name}\n`))
		})
		itemset_elem.appendChild(create_element('div', '', '', `\n`))
		itemset.bonuses.forEach(function(bonus) {
			itemset_elem.appendChild(create_element('div', 'q0', '', `${bonus}\n`))
		})
		tooltip.appendChild(itemset_elem)
	}
	tooltip_container.appendChild(tooltip)
	tooltip_container.style.cssText = `left: ${coords.x}px; top: ${coords.y}px; white-space: pre-wrap`
    // tooltip_container.attr("style", `left: ${coords.x}px; top: ${coords.y}px; visibility: visible;`)
}




$(".glyphicon-star-empty").on({
    mouseenter: e=> {
        var target = $( e.target )
        var empty_stars = target.closest($("div.longbar")).find($(".glyphicon-star-empty"))
        var index = empty_stars.index( target )+1
        for (var i=0;i<index;i++) {
            $(empty_stars[i]).removeClass("glyphicon-star-empty").addClass("glyphicon-star gold")
        }

    },
    mouseleave: e=> {
        let target = $( e.target )
        let longbar = target.closest($("div.longbar"))
        let stars = longbar.find($(".glyphicon"))
        stars.removeClass("glyphicon-star gold").addClass("glyphicon-star-empty")
    },
    mousedown: e=> {
        // need some sort of confirmation here
        var target = $( e.target )
        var rating = target.closest($("div.longbar")).find($(".glyphicon-star")).length
        var container = target.closest($(".ratings-container"))
        var id = container.attr("data-id")
        var wow_class = (container.attr("data-wowclass").length) ? container.attr("data-wowclass") : ''
        var data = {
            wow_class: wow_class,
            id: id,
            rating: rating
        }
        rate_saved_list(data)
    }

})

function rate_saved_list(d) {
    var spec = (d.wow_class) ? true : false
    var rating = d.rating
    var id = d.id
    $.ajax({
        method: "POST",
        url: '/ajax/save_rating/',
        data: {
            'value': rating,
            'id': id,
            'spec': spec,
        },
        dataType: 'json',

        success: function (data) {
            console.log('data: ', data)
            // TODO: remove elements that would allow user to potentially vote again
        }
    });
}



{% if request.user.is_staff %}

$("a.remove-rating").on({
    click: e=> {
        e.preventDefault()
        var target = $( e.target )

        var container = target.closest($("div.col-sm")).find($(".ratings-container"))
        var id = container.attr("data-id")
        var wow_class = (container.attr("data-wowclass").length) ? container.attr("data-wowclass") : ''

        var data = {
            wow_class: wow_class,
            id: id,
        }
        delete_rating(data)

    }
})

function delete_rating(d) {
    var spec = (d.wow_class) ? true : false
    var id = d.id
    $.ajax({
        method: "POST",
        url: '/ajax/delete_rating/',
        data: {
            'id': id,
            'spec': spec,
        },
        dataType: 'json',

        success: function (data) {
            console.log('data: ', data)
            // TODO: remove elements that would allow user to potentially vote again
        }
    });
}

// $(".consume-name, .recipe-image").on({
//     mouseenter: e=> {
//         clear_tooltip()
//         // get_tooltip_info(e)
//         ez_tooltip(e)
//     },
//     mouseleave: e=> {
//         $("#tooltip_container").hide()
//     },
//     mousemove: e=> {
//         move_tooltip(e)
//     }
// })

function looseJsonParse(obj){
    return Function('"use strict";return (' + obj + ')')();
}

function ez_tooltip(e) {
    var target = $(e.target)
    var data = target.parent(".recipe-container")[0].dataset

    console.log('data: ', data)
    // console.log('data[0].dataset: ', data[0].dataset)
    // console.log('data: ', data)

    const tooltip_container = $("#tooltip_container")
    const image_name = target.find($('img')).attr('data-img')

    const tooltip = $('<div/>', {
        class: 'tooltip-container',
        id: "tooltip",
        style: "float: right;"
    })

    const image = (image_name) ? $('<img/>', {
        class: 'icon-medium',
        src: "http://127.0.0.1:8000/static/images/icon_border_2.png",
        style: `margin-top: 5px; pointer-events: none; float: left; background-image: url(http://127.0.0.1:8000/static/${image_name})`
    }) : null

    let name = data.n
    let quality = data.q

    tooltip.append($('<div/>', {
        class: `title q${quality}`,
        text: `${name}`,
    }))
    const slot = (data.slot) ? $('<div/>', {
        class: 'slot',
        text: `${data.slot}`
    }) : null

    const proficiency = (data.proficiency) ? $('<div/>', {
        class: 'slot',
        text: `${data.proficiency}`
    }) : null

    const bop = (data.bop) ? $('<div/>', {
        class: 'bop',
        text: "Binds when picked up"
    }) : null

    const unique = (data.unique) ? $('<div/>', {
        class: 'unique',
        text: "Unique"
    }) : null

    looseJsonParse()
    const req_lvl = (data.requirements) ? $('<div/>', {
        class: 'required_level',
        text: `Requires Level ${data.requirements}`
    }) : null

    const use = (data.use) ? $('<div/>', {
        class: 'use',
        text: `Use: ${data.use}`
    }) : null

    const description = (data.description) ? $('<div/>', {
        class: 'description',
        text: `${data.description}`,
    }) : null

    tooltip.append(slot, proficiency, bop, unique, req_lvl, use, description)
    tooltip_container.append(image, tooltip)

    var x = 0
    var y = 0

    if (image) {
        x = e.pageX + 15
        y = e.pageY - 25
    } else {
        x = $(e.target).offset().left + 45
        y = $(e.target).offset().top - 45
    }

    tooltip_container.attr("style", `left: ${x}px; top: ${y}px; visiblity: visible;`)
}


{% endif %}

</script>
{% endblock javascript %}
