{% extends "base.html" %}

{% block title %}- Consume Tool{% endblock title %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "css/consume_tool.css" %}">
{% endblock extra_head %}

{% block mainbody %}
<div class="mainBody container">

    {% block class_selection %}
    <div class="row prof-selection sticky-top" id="prof_selection">

        {% for prof in professions %}
        <a class="prof-filter {% if prof == selected %}selected{% endif %}" id="{{prof}}"
            href="{% url 'consumes' prof|default:"alchemy" %}">
            {% with "images/icons/large/professions/"|add:prof|add:".jpg" as prof_image %}
            <img class="prof-icon {{prof}}" src="{% static "images/icon_border_2.png" %}"
                style="background-image: url('{% static prof_image %}');">
            {% endwith %}
        </a>
        {% endfor %}
    </div>
    {% endblock class_selection %}
    <div class="mainContent container">
    <div class="row justify-content-center prof-header">
        <div class="col-lg-8 col-12 columnTitle">Recipes</div>
        <div class="col-lg-4 col-12 columnTitle d-none d-lg-block">
        </div>
        <!-- <div class="col-lg-3 col-12 columnTitle d-none d-lg-block">Materials</div> -->
    </div>
    <div class="row prof-header sticky-top" style="top: 15vh;">
        <div class="col-xl-8 col-12">
            <div class="row">
                    <div class="col-8 columnTitle">Name</div>
                    <div class="col-4 columnTitle">Reagants</div>
            </div>
        </div>
        <!-- <div class="col-xl-5 col-8 columnTitle">Name</div>
        <div class="col-xl-3 col-4 columnTitle">Reagants</div> -->
        <div class="col-xl-4 d-none d-xl-block columnTitle">Items
            <!-- <a id="open-consume-prompt" class="btn-lg saveConsumeList float-right" role="button"
                aria-label="Save consume list" title="Save" data-toggle="modal" data-target="#consume-list-prompt"
                aria-label="consume list prompt">
                <span class="glyphicon glyphicon-align-right glyphicon-floppy-disk"
                    style="color: rgba(240,255,255,0.95);" aria-hidden="true"></span>
            </a>
            <div class="clearfix"></div> -->
        </div>
    </div>

    <div class="row">
        <div id="recipe_list" class="col-xl-8 col-12 pageColumn custom-scroll-bar">
            {% if something %}
            {% include "consume_helper.html" %}
            {% endif %}
        </div>
        <div id="totals_container" class="col-xl-4 col-12 pageColumn custom-scroll-bar">
            <div class="row">
            <div id="total_crafted" class="col-12"></div>
            <span id="separator" class="col-12">Totals</span>
            <div id="total_materials" class="col-12"></div>
        </div>
        </div>
    </div>

    {% include "save_form.html" %}

    </div>
</div>
{% endblock mainbody %}


<!-- Modal -->
{% block modal %}
<div class="modal fade" id="consume-list-prompt" tabindex="-1" role="dialog" aria-labelledby="specSaver"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white"
            style="box-shadow: rgba(0,0,0,.8) 0 1px 3px 0 inset; border-radius:2px;">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form method="post" id="save-consume-list">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="border-radius: 2px 0 0 2px;">name</div>
                            </div>
                            <input type="text" id="list-name" class="form-control-sm" placeholder="list name"
                                aria-label="Text..." aria-describedby="basic-addon1" autocomplete="off" required=True>
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text btn-sm btn-primary" id="confirm-list-name"
                                    style="border-radius: 0 2px 2px 0;">Confirm</button>
                            </div>
                            <div id="list-name-validation" class="form-text"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}
{% block javascript %}

<script src="{% static "js/utilities.js" %}"></script>
<script src="{% static "js/all_materials.js" %}"></script>
<script src="{% static "js/all_consumes.js" %}"></script>
<script src="{% static "js/consume_tool.js" %}"></script>
<script>

    var my_consume_list = {};
    my_consume_list['materials'] = {};
    
    // function update_url(class_name, search='') {
    //     const CLASS_ARR = ['druid', 'hunter', 'mage', 'paladin', 'priest', 'rogue', 'shaman', 'warlock', 'warrior']
    //     let url = new URL(document.location)
    //     url.pathname = `/talent_calc/${class_name}`
    //     url.search = search
    //     history.replaceState(null, null, url)
    // }

    function update_prof(prof, spec_name = '') {
        $.ajax({
            url: `/consume_tool/${prof}`,
            data: {
                'prof': prof,
            },
            dataType: 'html',

            success: function (data) {
                let selected = $("button.prof-filter.selected").attr("id");
                if (selected != prof) {
                    $("#recipe_list").html(data);
                    $(".prof-filter").removeClass('selected');
                    $(`#${prof}`).addClass('selected');
                }

            }
        });
    }

    function save_consume_list(list_name) {

        var list_name = $("#list-name").val();
        var spec_ele = $(`.consume-list-item[name="${list_name}"]`)
        var spec_list_parent = $(".spec-list")
        $.ajax({
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            url: '/ajax/save_spec/',
            data: {
                spec_url: urlBuilder(),
                spec_name: spec_name,
                spent: [
                    [talentPointsSpent.treeNames[0], talentPointsSpent[talentPointsSpent.treeNames[0]].total()],
                    [talentPointsSpent.treeNames[1], talentPointsSpent[talentPointsSpent.treeNames[1]].total(),],
                    [talentPointsSpent.treeNames[2], talentPointsSpent[talentPointsSpent.treeNames[2]].total(),]
                ],
            },
            method: "POST",
            dataType: 'json',
            traditional: true,
            beforesend: function (data) {
                //
            },
            success: function (data) {
                if (data.spec_url) {
                    if (spec_ele.length) {
                        // update it
                        // let a = `(${talentPointsSpent[treeNames[0]].total()}/${talentPointsSpent[treeNames[1]].total()}/${talentPointsSpent[treeNames[2]].total()})`
                        // $("#allottedTalentPoints").text(a)
                    } else {
                        // create it
                        let spec_cont = $("<div/>", {
                            class: "spec-container",
                        })
                        let spec_info = $("<div/>", {
                            class: "spec-info",
                        }).append($("<span/>", {
                            class: class_name,
                            text: `${utilities.titleCase(class_name)}`
                        }), ' ', $("<span/>", {
                            style: "font-size: 90%;",
                            text: `(${data.spent[0]}/${data.spent[1]}/${data.spent[2]})`,
                        }))

                        let spec_item = $("<div/>", {
                            class: "spec-list-item progress-bar progress-bar-striped progress-bar-animated",
                            href: `${document.location.pathname}?${data.spec_url}`,
                            role: "button",
                            name: spec_name,
                            text: spec_name,
                            style: "height: unset; display: block;",
                        })
                        spec_item.attr("data-wowclass", class_name)
                        spec_item.on({
                            click: e => {
                                var class_name = $(e.target).attr('data-wowclass');
                                var spec_name = $(e.target).attr('name');
                                update_class(class_name, spec_name)
                            }
                        })

                        let trashcan = ($("<button/>", {
                            class: "btn btn-sm float-right trashcan",
                            name: "delete",
                            value: spec_name,
                            type: "button",
                            title: `delete ${spec_name}`
                        })).on({
                            click: e => {
                                var saved_list = $(e.target).val();
                                delete_list(saved_list)
                            }
                        })

                        trashcan.append($("<span/>", {
                            class: "glyphicon glyphicon-trash glyphicon-custom"
                        }))

                        spec_item.append(trashcan)
                        spec_cont.append(spec_info, spec_item)
                        spec_list_parent.append(spec_cont)
                        update_selected_spec(spec_name)
                    }
                }
            }
        });
    }

    $(".prof-filter").on({
        click: e => {
            e.preventDefault()
            var prof = $(e.target)[0].id;
            update_prof(prof);
            // update_url(class_name, '');
        }
    });

    $(".consume-list").on({
        click: e => {
            var list_name = $(e.target).attr('name');
            load_consume_list(list_name)
        }
    });

    $("#open-consume-prompt").on({
        click: e => {
            e.preventDefault()
            $("#consume-list-prompt").modal('show')
        }
    });

    $("#consume-list-prompt").on({
        'shown.bs.modal': () => {
            $("#list-name").focus()
        },
    });

    $("#save-consume-list").on({
        submit: e => {
            var list_name = $("#list-name").val()
            save_consume_list()
        }
    });

</script>
{% endblock javascript %}
