{% load static %}
<div class="row">
    <div id="consumes" class="col-12">
    {% load sanitize from custom_filters %}

    {% for consume in consume_list.consumes.all %}
    <div class="consume-list-item">
        <span class="consume-container" name="{{consume.name}}" role="button" href="#{{consume.name|sanitize}}_collapse"
            data-toggle="collapse" aria-expanded="false">
            <a class="btn btn-sm plus">
                <span class="glyphicon glyphicon-triangle-right" style="color: azure;"></span>
            </a>
            {% with "images/icons/large/"|add:consume.img|add:".jpg" as item_image %}
            <img class="icon-small" src="{% static "images/icons/small/icon_border.png" %}"
                style="background-image: url({% static item_image %});">
            {% endwith %}
            <span class="consume-name q{{consume.quality}}">{{consume.name}}</span>
            <span>[</span><span class="amount">{{consume.amount}}</span><span>]</span>
        </span>

        <div class="materials-list collapse" id="{{consume.name|sanitize}}_collapse">
            {% for mat in consume.mats %}
            <div class="materials-list-item">
                <span class="material-container" name="{{mat.name}}">
                    <img class="icon-small" src="{% static "images/icons/small/icon_border.png" %}"
                        style="background-image: url({% static "images/icons/large/"|add:mat.img|add:".jpg" %});">
                    <span class="materials-name q{{mat.quality}}">{{mat.name}}</span>
                    <span>[</span><span class="amount">{% widthratio mat.amount 1 consume.amount %}</span><span>]</span>
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
    <span id="separator" class="col-12">Totals</span>
    <div id="materials" class="col-12">
        {% for mat_name,v in materials.items %}
        <div class="materials-list-item">
            <span class="material-container" name="{{mat_name}}">
                <img class="icon-small material-image" src="{% static "images/icons/small/icon_border.png" %}"
                    style="background-image: url({% static "images/icons/large/"|add:v.img|add:".jpg" %});">
                    <span class="material-name {{v.quality}}">{{mat_name}}</span>
                    <span>[</span><span>{{v.value}}</span><span>]</span>
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{{consumes|json_script:"hello-data"}}
<script>

$(document).ready(function() {
    consume_helper_handlers()
})

var my_consume_list = JSON.parse(document.getElementById('hello-data').textContent)
if (!my_consume_list) {
    my_consume_list = {}
}

function consume_helper_handlers() {
    $(".material-container").on({
        mouseenter: e => {
            clearTooltip()
            future_tooltip( e )
        },
        mouseleave: e => {
            clearTooltip()
        },

    });

    $(".consume-name, .consume-image, .material-name, .material-image").on({
        mouseenter: e => {
            clearTooltip()
            future_tooltip(e)
        },
        mouseleave: e => {
            clearTooltip()
        },
        mousemove: e => {
            update_tooltip(e)
        }
    });

    $(".materials-list").on({
        'shown.bs.collapse': e => {
            let id = $( e.target ).attr("id")
            $(`span.consume-container[href="#${id}"]`).find('span.glyphicon').removeClass('glyphicon-triangle-right').addClass('glyphicon-triangle-bottom')
        },
        'hidden.bs.collapse': e => {
            let id = $( e.target ).attr("id")
            $(`span.consume-container[href="#${id}"]`).find('span.glyphicon').removeClass('glyphicon-triangle-bottom').addClass('glyphicon-triangle-right')
        },
    });
}


</script>
