{% extends "base.html" %}

{% block title %}- Consume Tool{% endblock title %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "css/consume_tool.css" %}">
{% endblock extra_head %}

{% block mainbody %}
<div class="mainBody container">

    {% block class_selection %}
    <div class="row prof-selection sticky-top" id="prof_selection">

        {% for prof in professions %}
        <a class="prof-filter {% if prof == selected %}selected{% endif %}" id="{{prof}}"
            href="{% url 'consumes' prof|default:"alchemy" %}">
            {% with "images/icons/large/professions/"|add:prof|add:".jpg" as prof_image %}
            <img class="prof-icon {{prof}}" src="{% static "images/icon_border_2.png" %}"
                style="background-image: url('{% static prof_image %}');">
            {% endwith %}
        </a>
        {% endfor %}
    </div>
    {% endblock class_selection %}
    <div class="mainContent container">
    <div class="row justify-content-center prof-header">
        <div class="col-lg-8 col-12 columnTitle">Recipes</div>
        <div class="col-lg-4 col-12 columnTitle d-none d-lg-block">
        </div>
        <!-- <div class="col-lg-3 col-12 columnTitle d-none d-lg-block">Materials</div> -->
    </div>
    <div class="row prof-header sticky-top" style="top: 15vh;">
        <div class="col-xl-8 col-12">
            <div class="row">
                    <div class="col-8 columnTitle">Name</div>
                    <div class="col-4 columnTitle">Reagants</div>
            </div>
        </div>
        <div class="col-xl-4 d-none d-xl-block columnTitle">Items</div>
    </div>

    <div class="row">
        <div id="recipe_list" class="col-xl-8 col-12 pageColumn custom-scroll-bar">
            {% if whole_page %}
            {% include "recipe_helper.html" %}
            {% endif %}
        </div>
        <div id="totals_container" class="col-xl-4 col-12 pageColumn custom-scroll-bar">
            {% if whole_page %}
            {% include "consume_helper.html" %}
            {% endif %}
        </div>
    </div>

    {% if user.is_authenticated %}
    {% include "save_form.html" %}
    {% endif %}

    </div>
</div>
{% endblock mainbody %}


<!-- Modal -->
{% block modal %}
<div class="modal fade" id="consume-list-prompt" tabindex="-1" role="dialog" aria-labelledby="specSaver"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white"
            style="box-shadow: rgba(0,0,0,.8) 0 1px 3px 0 inset; border-radius:2px;">
            <div class="modal-body">
                <button type="button" class="close" aria-label="Close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <form method="post" id="save-consume-list">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                                <div class="input-group-text" style="border-radius: 2px 0 0 2px;">name</div>
                            </div>
                            <input type="text" id="list-name" class="form-control-sm" placeholder="list name"
                                aria-label="Text..." aria-describedby="basic-addon1" autocomplete="off" required=True>
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text btn-sm btn-primary" id="confirm-list-name"
                                    style="border-radius: 0 2px 2px 0;">Confirm</button>
                            </div>
                            <div id="list-name-validation" class="form-text"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock modal %}
{% block javascript %}

<script src="{% static "js/utilities.js" %}"></script>
<script src="{% static "js/all_materials.js" %}"></script>
<script src="{% static "js/all_consumes.js" %}"></script>
<script src="{% static "js/consume_tool.js" %}"></script>
<script>

var my_consume_list = [];
    // my_consume_list['materials'] = {};

function build_recipe_list(prof, spec_name = '') {
    $.ajax({
        url: `/consume_tool/${prof}`,
        data: {
            'prof': prof,
        },
        dataType: 'html',

        success: function (data) {
            let selected = $("button.prof-filter.selected").attr("id");
            if (selected != prof) {
                $("#recipe_list").html(data);
                $(".prof-filter").removeClass('selected');
                $(`#${prof}`).addClass('selected');
            }

        }
    });
}

function update_url(prof_name, search='') {
	console.log('updating url')
	let url = new URL(document.location)
	url.pathname = "/consume_tool"
	url.search = search
	history.replaceState(null, null, url)
}

$(".prof-filter").on({
    click: e => {
        e.preventDefault()
        var prof = $(e.target)[0].id;
        build_recipe_list(prof);
        update_url(prof, '');
    }
});

function build_consume_list(hash, name) {
    $.ajax({
        url: `${hash}`,
        dataType: 'html',
        success: function (data) {
            $("#totals_container").html(data);
            update_url('', hash)
        }
    });
}

</script>
{% endblock javascript %}
