{% extends "base.html" %}
{% load static %}
{% block scripts_and_styles %}
<link rel="stylesheet" type="text/css" href="{% static "css/contact.css" %}">
<script src="{% static "js/contact.js" %}"></script>
{% endblock scripts_and_styles %}

{% block title_splash %}
    </div>
    <div class="container titleSplash">
        <div class="page-title">Contact
            <div class="p-3 page-description">Have an idea you'd like to see on the website? Found a bug? Want to help out? Send us a
                message and let us know about it!</div>
        </div>
    </div>
 {% endblock title_splash %}

    {% block class_selection %}
    <div class="row class-selection nav-is-sticky steel-textured" id="class_selection">
    </div>
    {% endblock class_selection %}

    {% block mainbody %}

    <div class="container mainBody">
        <div class="row about-section">
            <div class="col-2"></div>
            <div class="col-8 formContainer">
                <div id="form-messages"></div>

                <!-- NOTE: old form -->
                <h1 class="fix-me">OLD</h1>

                <form id="ajax-contact" method="post" action="/assets/php/phpmailer/mail_handler.php">
                    <div class="field">
                        <!--<label for="name">Name:</label>-->
                        <input class="mt-3" type="text" id="name" name="name" placeholder="Name" required style="width: 100%;">
                    </div>

                    <div class="field">
                        <!--<label for="email">Email:</label>-->
                        <input class="mt-3" type="subject" id="subject" name="subject"
                            placeholder="Subject: Bug / Suggestion / Request" required
                            style="width: 100%;">
                    </div>

                    <div class="field">
                        <!--<label for="message">Message:</label>-->
                        <textarea class="mt-3" id="message" name="message" placeholder="Message" rows="10" cols="59"
                            required style="width: 100%;"></textarea>
                    </div>
                    <div class="field text-center">
                        <button type="submit" class="btn btn-lg btn-dark mt-3">Send Message</button>
                    </div>
                </form>

                <!-- NOTE: New form -->
                <br><br>
                <h1 class="fix-me">NEW</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="fieldWrapper">
                        <label for="{{ form.subject.id_for_label }}">Email subject:</label>
                        {{ form.subject }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.message.errors }}
                        <label for="{{ form.message.id_for_label }}">Your message:</label>
                        {{ form.message }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.sender.errors }}
                        <label for="{{ form.sender.id_for_label }}">Your email address:</label>
                        {{ form.sender }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.cc_myself.errors }}
                        <label for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
                        {{ form.cc_myself }}
                    </div>
                    <div class="form-actions">
                      <button type="submit">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <br>
    {% endblock mainbody %}
