{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "css/contact.css" %}">
<script src="{% static "js/contact.js" %}"></script>
{% endblock extra_head %}

{% block title_splash %}
    </div>
    <div class="container titleSplash">
        <div class="page-title">Contact
            <div class="p-3 page-description">Have an idea you'd like to see on the website? Found a bug? Want to help out? Send us a
                message and let us know about it!</div>
        </div>
    </div>
 {% endblock title_splash %}

{% block class_selection %}
    <div class="row class-selection nav-is-sticky steel-textured" id="class_selection">
    </div>
{% endblock class_selection %}

{% block mainbody %}
    <div class="container mainBody">
        <div class="row ">
            <div class="col-2"></div>
            <div class="col-8 saveBlock">
                <div class="row">
                        <h1 class="saveTitle col-12">Contact Us!</h1>
                    <form method="post" class="col-12">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper row">
                            <label class="col-4" for="{{ form.subject.id_for_label }}">Email subject:</label>
                            <div class="col-8">
                                {{ form.subject }}
                            </div>
                        </div>
                        <div class="fieldWrapper row">
                            {{ form.message.errors }}
                            <label class="col-4" for="{{ form.message.id_for_label }}">Your message:</label>
                            <div class="col-8">
                                {{ form.message }}
                            </div>
                        </div>
                        <div class="fieldWrapper row">
                            {{ form.sender.errors }}
                            <label class="col-4" for="{{ form.sender.id_for_label }}">Your email address:</label>
                            <div class="col-8">
                                {{ form.sender }}
                            </div>
                        </div>
                        <div class="fieldWrapper row">
                            {{ form.cc_myself.errors }}
                            <label class="col-4" for="{{ form.cc_myself.id_for_label }}">CC yourself?</label>
                            <div class="col-8">
                                {{ form.cc_myself }}
                            </div>
                        </div>
                        <div class="form-actions row justify-content-center pt-4">
                          <button class="btn btn-lg btn-dark pl-5 pr-5 mb-4" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    <br>
{% endblock mainbody %}
