{% extends "base.html" %}
{% load static %}
{% block scripts_and_styles %}
<link rel="stylesheet" type="text/css" href="{% static "css/contact.css" %}">
{% endblock scripts_and_styles %}

{% block title_splash %}
<h2> OOPSY WOOPSY WE MADE A FUCKSY WUCKSY 500 </h2>
{% endblock title_splash %}

 {% block class_selection %}
 <div class="row class-selection nav-is-sticky" id="class_selection">
 </div>
 {% endblock class_selection %}


 {% block mainbody %}

 <div class="container mainBody">
     <div class="container titleSplash">
         <div class="page-title">
         </div>
     </div>
 <div class="container">
     <div class="row about-section justify-content-center">
         <div class="col-12">
             <h2> OOPSY WOOPSY WE MADE A FUCKSY WUCKSY 500 </h2>
         </div>
     </div>
 </div>
 <div class="container">
     <div class="row justify-content-center">
         <div class="col-3">
         </div>
         <div class="col-6">
             <img src="{{gif_url}}" class="img-thumbnail mx-auto d-block">
         </div>
         <div class="col-3"></div>
     </div>
 </div>

 </div>
 <br>
 {% endblock mainbody %}
