{% load static %}
{% load has_voted sanitize from custom_filters %}
{% with "images/icons/large/" as image_prefix %}

{% if specs %}
{% for spec in specs %}
{% if spec.visible %}
	<div class="col-12 saved-list-item" {% if request.user.is_staff %}data-ix="{{spec.id}}" data-uid="{{spec.user.uid}}"{% endif %}>
		<div class="feed-item row mt-5">
			<div class="col">
				<div class="list-image"
					style="background-image: url('{% static image_prefix|add:'mini_spec/'|add:spec.wow_class.name|sanitize|add:'.png' %}')">

					<div class="list-icon untouchable">
						<img class="class-icon" src="{% static "images/icon_border_2.png" %}"
							style="background-image: url('{% static image_prefix|add:spec.img %}');">
					</div>
					<a style=" position : absolute; height: 125px; width: 180px;"
						href="{% url 'talent_builder' spec.id %}?{{spec.hash}}"></a>
				</div>
				<div class="row">
				</div>
			</div>
		<div class="col-md-8 col-12">
			<div class="row feed-header">
			</div>
				<div class="row feed-content">
					<div class="col-8 feed-title">
						<a href="{% url 'talent_builder' spec.id %}?{{spec.hash}}"><span class='name'>{{spec.name}}</span></a>
					</div>
					<div class="col-4">
					</div>
				</div>
				<div class="row feed-content">
					<div class="col-12 feed-desc">
						{{spec.description}}
					</div>
				</div>
				<div class="row feed-content">
					<hr class="row m-2"
						style="border-bottom: 1px solid white; width: 100%; margin-top:0; margin-bottom:0;">
					</hr>
				</div>
				<div class="row tags feed-content">
					{% for tag in spec.tags.all %}
					<div class="feed-tag">{{tag.name}}</div>
					{% endfor %}
				</div>
				<div class="row feed-content"></div>
			</div>
		<div class="col-12 row feed-footer">
			<div class="col-md-4 col-12">
				<span class="wowclass {{spec.wow_class.name|sanitize}}">{{spec.wow_class.name}}</span>
				<span
					class="">({% with trees=spec.treeallotted_set.all %}{% for tree in trees %}{% if not tree == trees|first %}/{% else %}{% endif %}{{tree.invested}}{% endfor %}{% endwith %})</span>
			</div>
			<div class="col-md-3 col-12">
				<div class="ratings-container mx-auto" name="{{spec.name}}" data-id="{{spec.id}}"
					data-wowclass="{{spec.wow_class.name}}">
					{% has_voted spec.id request.user.email 1 as voted %}

						{% if not request.user.is_authenticated or request.user == spec.user or voted %}
						<div class="star-box rating" data-rating="{{spec.rating}}">
							{% widthratio spec.rating 1 20 as width %}
							<div class="star-limiter" style="width:{{width|default:0}}%">
								<div class="longbar">
									{% for n in rangen %}
									<span class="glyphicon glyphicon-star"></span>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="star-bg">
							<div class="longbar">
								{% for n in rangen %}
								<span class="glyphicon glyphicon-star"></span>
								{% endfor %}
							</div>
						</div>
						<!-- <p id="rating_data"></p> -->
						{% else %}
						<div class="star-box rating-vote">
							<div class="star-limiter" style="width: 0%">
								<div class="longbar">
									{% for n in rangen %}
									<span class="glyphicon glyphicon-star-empty"></span>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="star-bg rating-vote">
							<div class="longbar">
								{% for n in rangen %}
								<span class="glyphicon glyphicon-star-empty"></span>
								{% endfor %}
							</div>
						</div>
						{% endif %}
						<span class="ratings-count spec">
							{% if request.user.is_staff and spec.user != request.user and voted %}
							<a href="" class="remove-rating">({{spec.ratings.count}})</a>
							{% else %}
							<span>({{spec.ratings.count}})</span>
							{% endif %}
						</span>
					</div>
				</div>
				<div class="col-md-5 col-12 text-left">
					{% if spec.updated|date:"m/d/Y, P" == spec.created|date:"m/d/Y, P" %}
					Created By
						{% if spec.user == request.user %}
						<a href="">me</a>
						{% elif not spec.private %}
						<a href="">{{spec.user.disc_username}}</a>
						{% else %}
						anonymous
						{% endif %}
					on
					{{spec.created}}
					{% else %}
					Last Edited By
						{% if spec.user == request.user %}
						<a href="">me</a>
						{% elif not spec.private %}
						<a href="">{{spec.user.disc_username}}</a>
						{% else %}
						anonymous
						{% endif %}
					on
					<span class="created" data-created="{{spec.updated|date:"U"}}">{{spec.updated}}</span>
					{% endif %}
					{% if request.user.is_staff %}
					<button class="btn btn-sm float-right flag-item" aria-label="Flag" title="Flag"
						type="button" data-ix="{{spec.id}}" data-uid="{{spec.user.uid}}" data-wowclass="{{spec.wow_class.name}}">
						<span class="glyphicon glyphicon-flag untouchable" aria-hidden="true"></span>
					</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endif %}
{% endfor %}
{% endif %}

{% if consume_lists %}
{% for cl in consume_lists %}
{% if cl.visible %}
	{% has_voted cl.id request.user.email 0 as voted %}

	<div class="col-12 saved-list-item" {% if request.user.is_staff %}data-ix="{{cl.id}}" data-uid="{{cl.user.uid}}"{% endif %}>
		<div class="feed-item row mt-5">
			<div class="col">
				<div class="list-image"
					style="background-image: url('{% static image_prefix|add:'mini_spec/profession_tool_image.png' %}')">

					<div class="list-icon untouchable">
						<img class="class-icon" src="{% static "images/icon_border_2.png" %}"
						style="background-image: url('{% static image_prefix|add:cl.img %}')">

					</div>
					<a style=" position : absolute; height: 125px; width: 180px;"
						href="{% url 'consume_builder' cl.id %}?{{cl.hash}}"></a>
				</div>
				<div class="row"></div>
			</div>
		<div class="col-md-8 col-12">
			<div class="row feed-header"></div>
			<div class="row feed-content">
					<div class="col-8 feed-title">
						<a href="{% url 'consume_builder' cl.id %}?{{cl.hash}}"><span class="name">{{cl.name}}</span></a>
					</div>
					<div class="col-4"></div>
			</div>
			<div class="row feed-content">
				<div class="col-12 feed-desc">
					{{cl.description}}
				</div>
			</div>
			<div class="row feed-content">
					<hr class="m-2"
					style="border-bottom: 1px solid white; width: 100%; margin-top:0; margin-bottom:0;">
				</hr>
			</div>
			<div class="row tags feed-content">
				{% for tag in cl.tags.all %}
				<div class="feed-tag">{{tag.name}}</div>
				{% endfor %}
			</div>
			<div class="row feed-content"></div>
		</div>
		<div class="col-12 row feed-footer">
			<div class="col-md-4 col-12">
			</div>
			<div class="col-md-3 col-12">
				<div class="ratings-container" name="{{cl.name}}" data-id="{{cl.id}}">
					<span class="ratings-count cl">
						{% if request.user.is_staff and cl.user != request.user and voted %}
						<a href="" class="remove-rating">({{cl.ratings.count}})</a>
						{% else %}
						<span>({{cl.ratings.count}})</span>
						{% endif %}
					</span>
					{% if not request.user.is_authenticated or voted or request.user == cl.user %}
						<div class="star-box rating" data-rating="{{cl.rating}}">
							{% widthratio cl.rating 1 20 as width %}
							<div class="star-limiter" style="width:{{width|default:0}}%">
								<div class="longbar">
									{% for n in rangen %}
									<span class="glyphicon glyphicon-star"></span>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="star-bg">
							<div class="longbar">
								{% for n in rangen %}
								<span class="glyphicon glyphicon-star"></span>
								{% endfor %}
							</div>
						</div>
						<!-- <p id="rating_data"></p> -->
						{% else %}
						<div class="star-box rating-vote">
							<div class="star-limiter" style="width: 0%">
								<div class="longbar">
									{% for n in rangen %}
									<span class="glyphicon glyphicon-star-empty"></span>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="star-bg rating-vote">
							<div class="longbar">
								{% for n in rangen %}
								<span class="glyphicon glyphicon-star-empty"></span>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="col-md-5 col-12 text-left">
					{% if cl.created == cl.updated %}
					Created By {% if request.user == cl.user %}
					<a href="">me</a>
					{% elif not cl.private %}
					<a href="">{{cl.user.disc_username}}</a>
					{% else %}
					anonymous
					{% endif %}
					on
					{{cl.created}}
					{% else %}
					Last Edited By {% if cl.user == request.user %}
					<a href="">me</a>
					{% elif not cl.private %}
					<a href="">{{cl.user.disc_username}}</a>
					{% else %}
					anonymous
					{% endif %}
					<span class="created" data-created="{{cl.updated|date:"U"}}">on {{cl.updated}}</span>
					{% endif %}

					{% if request.user.is_staff %}
					<button class="btn btn-sm float-right flag-item" aria-label="Flag" title="Flag"
						type="button" data-ix="{{cl.id}}" data-uid="{{cl.user.uid}}">
						<span class="glyphicon glyphicon-flag untouchable" aria-hidden="true"></span>
					</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
{% if request.user.is_staff %}
<script>

$(document).ready(function() {
    index_helper_handlers()

 });

 function index_helper_handlers() {
	 star_handler()
	 $(".flag-item").on({
	 	click: e=> {
	 		var $data = {}
	 		if ($(e.target).attr("data-wowclass")) {
	 			$data['wow_class'] = $(e.target).attr("data-wowclass")
	 		// }
	 		// $data['uid']= ($(e.target).attr('data-uid')) ? $(e.target).attr('data-uid') : $(e.target).parent().attr('data-uid')
	  		// $data['ix'] = ($(e.target).attr('data-ix')) ? $(e.target).attr('data-ix') : $(e.target).parent().attr('data-ix')
	 		}

	 		$data['uid']= $(e.target).attr('data-uid')
	 		$data['ix'] = $(e.target).attr('data-ix')

	 		console.log('data: ', $data)

	 		$.ajax({
	 			method: "POST",
	 			url: '/ajax/flag_list/',
	 			data: $data,
	 			success: flag_success,
	 			error: flag_error,
	 		})
	 	}
	 })
 }



function flag_success(data, textStatus, jqXHR) {
	let uid = data.uid.toString()
	let ix = data.ix.toString()

	let list_item = $(`.saved-list-item[data-ix='${ix}'][data-uid='${uid}']`);

	list_item.hide(800, function () {
		$(this).remove()
	})

	let message = data.message.toString() // <--------------- NOTE: HERE
	notifyUser(message)
	console.log('\n**success**\n')
	console.log(data.message.toString())
	console.log('data: ', data)
	console.log('status: ', textStatus)
	console.log(jqXHR)
	// $myForm.reset(); // reset form data
}

function flag_error(jqXHR, textStatus, errorThrown) {
	notifyUser(errorThrown)
	console.log('\n**error**\n')
	console.log(jqXHR)
	console.log(textStatus)
	console.log(errorThrown)
}
</script>

{% endif %}
