{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<script type="text/javascript" src="{% static "js/timer/jquery.countdown.js" %}"></script>
<script type="text/javascript" src="{% static "js/timer/jquery.countdown.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/landing_page.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/stars.css" %}">
<script src="{% static "js/landing_page.js" %}"></script>
{% endblock extra_head %}

{% block title_splash %}
{% endblock title_splash %}

{% block mainbody %}
<div class="mainBody container">
    <div class="row selection-header sticky-top">
        <div class="col">
            <form id="test_form" class="form-inline row selection-header">
                <div class="d-none d-md-inline-block col-xl-4 col-md-5">
                    <div class="dropdown show d-inline-block">
                        <a class="btn btn-sm btn-dark dropdown-toggle" href="#" role="button" id="dropdownFilterLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filters
                        </a>
                        <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownFilterLink">
                            <div class="filter-dropdown-container container row">
                                <div class="col-4">
                                    <div class="filter-category-title">Classes</div>
                                    <div name="classes" class="filter-container custom-scroll-bar">
                                        {% for class in wowclasses %}
                                        <div name="{{class.name}}" class="filter-box">{{class.name}}</div>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="filter-category-title">Professions</div>
                                    <div name="professions" class="filter-container custom-scroll-bar">
                                        {% for profession in wowprofessions %}
                                        <div name="{{profession.name}}" class="filter-box">{{profession.name}}</div>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="filter-category-title">Tags</div>
                                    <div name="tags" class="filter-container custom-scroll-bar">
                                        {% for tag in tags %}
                                        <div name="{{tag.name}}" class="filter-box">{{tag.name}}</div>
                                        {%endfor%}
                                    </div>
                                </div>
                                <div class="col-12 justify-content-around mt-2">
                                    <button class="btn btn-sm btn-dark" id="reset-filters">Reset</button>
                                    <button class="btn btn-sm btn-dark" id="apply-filters">Apply Filters</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="dropdown show d-inline-block">
                        <a class="btn btn-sm btn-dark dropdown-toggle" href="#" role="button" id="dropdownSortByLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort By
                        </a>
                        <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownSortByLink">
                            <a class="dropdown-item dropdown-item-custom" href="#">Top Rated</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdown-item-custom" href="#">Most Recent</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item dropdown-item-custom" href="#">Most Relevant</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-8 col-md-7">
                    <input id="search_bar" class="form-control form-control-sm" type="search" placeholder="Search Keywords" size="30" aria-label="Search">
                    <button class="btn btn-sm btn-outline-warning" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row content-container mt-4">
        <div class="applied-filter-container mx-auto col-12"></div>
        <div id="saved_list_container" class="mx-auto">
            {% include "index_helper.html" %}
        </div>

    </div>
</div>
</div>

{% endblock mainbody %}

{% block footer %}
{# "not necessary, here to demonstrate block.super" #}
{{block.super}}
{% endblock footer %}

{% block javascript %}
<script>

    $('.filter-dropdown-container').on({
        click: e => {
            e.stopPropagation()
        }
    })
    $('.filter-box').on({
        click: e => {
            e.stopPropagation()
            var target = $(e.target)
            // add target[0].innerText   to an array to be sent with apply filters
            if (target.hasClass('filter-selected')) {
                target.removeClass('filter-selected')
            } else {
                target.addClass('filter-selected')
            }
        }
    })

    $('#apply-filters').on({
        click: e => {
            e.preventDefault()
            let filterArray = []
            let selectedFilters = $('.filter-selected')
            for (const filter of selectedFilters) {
                filterArray.push(filter.innerText)
            }
            apply_filters(filterArray)
            $('.dropdown-menu').removeClass('show')
            let displayFilters = filterArray.toString().replace(/,/g, ', ')
            $('.applied-filter-container').text(`Applied Filters: ${displayFilters}`)
        }
    })

    // $("#search_bar_button").on({
    //     click: e=> {
    //         e.preventDefault()
    //         e.stopImmediatePropagation()
    //         console.log('searchbar submit')
    //         search_daddy()
    //     }
    // })

    $("#search_bar").on({
        search: e=> {
            e.preventDefault()
            e.stopImmediatePropagation()
            console.log('searchbar search')
            search_daddy()
        }
    })

    function search_daddy() {
        var separator = /(?:\s|\,|\.)/
        var search_string = $("#search_bar").val()
        var words = search_string.split(separator)

        var $data = $.param({ 'query': words }, true)
        // var $data = {'query': words }

        $.ajax({
            method: "GET",
            url: '/ajax/search_query/',
            data: $data,
            dataType: 'json',
            success: apply_filter_success,
        });

        console.log('words: ', words)

    }

    function search_query_success(data) {
        console.log('data: ', data)
    }

    $('#reset-filters').on({
        click: e => {
            e.preventDefault()
            let filterArray = []
            let selectedFilters = $('.filter-selected')
            selectedFilters.removeClass('filter-selected')
            apply_filters(filterArray)
            $('.applied-filter-container').text(filterArray)
        }
    })

    $('.dropdown-item-custom').on({
        click: e => {
            e.preventDefault()
            let sortBySelection = e.target.innerText
            $('#dropdownSortByLink').text(sortBySelection)
            // add sorting function here
        }
    })

    $(".glyphicon-star-empty").on({
        mouseenter: e => {
            var target = $(e.target)
            var empty_stars = target.closest($("div.longbar")).find($(".glyphicon-star-empty"))
            var index = empty_stars.index(target) + 1
            for (var i = 0; i < index; i++) {
                $(empty_stars[i]).removeClass("glyphicon-star-empty").addClass("glyphicon-star gold")
            }
        },
        mouseleave: e => {
            let target = $(e.target)
            let longbar = target.closest($("div.longbar"))
            let stars = longbar.find($(".glyphicon"))
            stars.removeClass("glyphicon-star gold").addClass("glyphicon-star-empty")
        },
        mousedown: e => {
            // need some sort of confirmation here

            var target = $(e.target)
            let longbar = target.closest($("div.longbar"))
            let stars = longbar.find($(".glyphicon"))
            stars.unbind()
            var rating = longbar.find($(".glyphicon-star")).length
            var container = target.closest($(".ratings-container"))
            var id = container.attr("data-id")
            var wow_class = (container.attr("data-wowclass")) ? container.attr("data-wowclass") : 0
            var data = {
                wow_class: wow_class,
                id: id,
                rating: rating
            }
            rate_saved_list(data)
        }
    })

    function rate_saved_list(d) {
        var spec = (d.wow_class) ? 1 : 0
        var rating = d.rating
        var id = d.id
        $.ajax({
            method: "POST",
            url: '/ajax/save_rating/',
            data: {
                'value': rating,
                'id': id,
                'spec': spec,
            },
            dataType: 'json',
            success: update_rating
        });
    }

    function update_rating(data) {
        //
        var ratings_container;
        if (data.wow_class) {
            ratings_container = $(`div.ratings-container[data-id='${data.id}'][data-wowclass="${data.wow_class}"]`)
        } else {
            ratings_container = $(`div.ratings-container[data-id='${data.id}']`)
        }
        let width = data.average_rating*20

        var star_limiter = ratings_container.find("div.star-limiter")
        star_limiter.css('width', `${width}%`)

        var stars = ratings_container.find($(".glyphicon"))
        stars.unbind()
        stars.removeClass("glyphicon-star-empty").addClass("glyphicon-star")
        ratings_container.find("div.star-box").removeClass("rating-vote")
        ratings_container.find("div.star-bg").removeClass("rating-vote")
        ratings_container.find($(".ratings-count")).text(`(${data.num_ratings})`)

    }

    {% if request.user.is_staff %}

    $("a.remove-rating").on({
        click: e => {
            e.preventDefault()
            var target = $(e.target)

            var container = target.closest($(".ratings-container"))
            var id = container.attr("data-id")
            var wow_class = (container.attr("data-wowclass").length) ? container.attr("data-wowclass") : ''

            var data = {
                wow_class: wow_class,
                id: id,
            }
            delete_rating(data)

        }
    })

    function delete_rating(d) {
        var spec = (d.wow_class) ? true : false
        var id = d.id
        $.ajax({
            method: "POST",
            url: '/ajax/delete_rating/',
            data: {
                'id': id,
                'spec': spec,
            },
            dataType: 'json',
            success: function (data) {
            }
        });
    }
    {% endif %}

    //connect to endpoint
    function apply_filters(filters) {
        var $data = $.param({ 'tags': filters }, true)
        $.ajax({
            method: "GET",
            url: '/ajax/apply_filters/',
            data: $data,
            dataType: 'html',
            success: apply_filter_success,
        });
    }

    function apply_filter_success(data) {
        $("#saved_list_container").html(data)
    }


</script>
{% endblock javascript %}
