{% extends "base.html" %}
{% load static %}

{% block extra_head %}
<script type="text/javascript" src="{% static "js/timer/jquery.countdown.js" %}"></script>
<script type="text/javascript" src="{% static "js/timer/jquery.countdown.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/landing_page.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/stars.css" %}">
<script src="{% static "js/landing_page.js" %}"></script>
{% endblock extra_head %}

{% block title_splash %}
{% endblock title_splash %}

{% block mainbody %}
<div class="mainBody container">
    <div class="row selection-header sticky-top">
        <div class="col">
                <form class="form-inline row selection-header">
                        <div class="col-2">
                                <div class="dropdown show">
                                        <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Filters
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuLink">
                                           <div class="filter-dropdown-container container">
                                               <div class="filter-category-title">Classes</div>
                                               <div name="classes" class="filter-container">
                                                   {% for class in wowclasses %}
                                                   <div name="{{class.name}}" class="filter-box">{{class.name}}</div>
                                                   {%endfor%}
                                               </div>
                                               <div class="filter-category-title">Professions</div>
                                               <div name="professions" class="filter-container">
                                                   {% for profession in wowprofessions %}
                                                   <div name="{{profession.name}}" class="filter-box">{{profession.name}}</div>
                                                   {%endfor%}
                                               </div>
                                               <div class="filter-category-title">Tags</div>
                                               <div name="tags" class="filter-container">
                                                    {% for tag in tags %}
                                                   <div name="{{tag.name}}" class="filter-box">{{tag.name}}</div>
                                                   {%endfor%}
                                               </div>
                                               <div class="filter-footer row">
                                                   <div class="col-12 justify-content-around mt-2">
                                                        <button class="btn btn-dark" id="reset-filters">Reset</button>
                                                        <button class="btn btn-dark" id="apply-filters">Apply Filters</button>
                                                   </div>
                                               </div>
                                           </div>
                                        </div>
                                    </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown show">
                                <a class="btn btn-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sort By
                                </a>
                                <div class="dropdown-menu dropdown-menu-custom" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item dropdown-item-custom" href="#">Top Rated</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Most Recent</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item dropdown-item-custom" href="#">Most Comments</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" size="40" aria-label="Search">
                            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                        </div>
                        <div class="col-2"></div>
                    </form>
        </div>
    </div>
    <div class="row content-container mt-4">
        <div class="col d-none mb-4 site-content">
            <div class="sidebar-header">Site Content</div>
            <div class="col sidebar-content">
                <a class="sidebar-ref" href="specsAndGuides">Specs & Guides</a>
                <p>If you need to know what consumes to bring to raid or a quick spec reference or you should check
                    out our Specs & Guides.</p>
                <a class="sidebar-ref" href="consumeTool">Consumable Calculator</a>
                <p>Getting your consumables crafted buy a guildie or crafting them yourself? Use our Consumable Tool
                    to find ot exactly what materials you need.</p>
                <a class="sidebar-ref" href="talent">Talent Calculator</a>
                <p>Want to mess around with your characters spec? Instead of wasting gold for an extra respec, plan
                    it out first with our Talent Calculator.</p>
                <a class="sidebar-ref" href="enchantTool">Enchant Calculator</a>
                <p>Got your preraid bis or a shiney new peice of gear from Molten Core? Use our Enchant Tool to get
                    all the correct materials before hitting up an enchanter.</p>
                <a class="sidebar-ref" href="contact">Contact Us</a>
                <p>Have an idea you'd like to see on the website? Found a bug? Send us a message and let us know
                    about it!</p>
                <span>Classic WoW releases in:</span>
                <div class="countdown"></div>
            </div>
        </div>

    <div id="saved_list_container">
        {% include "index_helper.html" %}
    </div>


        <div class=" pt-4 ">
            <div class="card mb-3 bg-transparent border-light text-center">
                <h5 class="card-header bg-transparent border-light text-light">
                    Changelog
                </h5>
                <div class="card-body text-light">
                    <p class="card-text text-left">4/29/2019</p>
                    <ul class="card-text text-left">
                        <li>
                            Added Specs and Guides Section.
                        </li>
                        <li>
                            Added Working Talent Calculator.
                        </li>
                        <li>
                            Updated Consume Tool to display more useful information.
                        </li>
                        <li>
                            Changed overall site style and design.
                        </li>
                    </ul>
                    <p class="card-text text-left">1/5/2019</p>
                    <ul class="card-text text-left">
                        <li>
                            Initial Launch with consume tool and enchant tool.
                        </li>
                    </ul>
                </div>
                <div class="card-footer text-muted border-light">
                    <p>We are constantly adding new things to Onybuff.com</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock mainbody %}

{% block footer %}
{# "not necessary, here to demonstrate block.super" #}
{{block.super}}
{% endblock footer %}

{% block javascript %}
<script>

    $('.filter-dropdown-container').on({
        click: e => {
            e.stopPropagation()
        }
    })
    $('.filter-box').on({
        click: e => {
            e.stopPropagation()
            var target = $(e.target)
            // add target[0].innerText   to an array to be sent with apply filters
            if(target.hasClass('filter-selected')){
                target.removeClass('filter-selected')
            }else{
                target.addClass('filter-selected')
            }
        }
    })

    $('#apply-filters').on({
        click: e => {
            e.preventDefault()
            let filterArray = []
            let selectedFilters = $('.filter-selected')
            for (const filter of selectedFilters) {
                filterArray.push(filter.innerText)
            }
            apply_filters(filterArray)
        }
    })

    $('#reset-filters').on({
        click: e => {
            e.preventDefault()
            let filterArray = []
            let selectedFilters = $('.filter-selected')
            selectedFilters.removeClass('filter-selected')
            apply_filters(filters)
        }
    })

    $(".glyphicon-star-empty").on({
        mouseenter: e => {
            var target = $(e.target)
            var empty_stars = target.closest($("div.longbar")).find($(".glyphicon-star-empty"))
            var index = empty_stars.index(target) + 1
            for (var i = 0; i < index; i++) {
                $(empty_stars[i]).removeClass("glyphicon-star-empty").addClass("glyphicon-star gold")
            }

        },
        mouseleave: e => {
            let target = $(e.target)
            let longbar = target.closest($("div.longbar"))
            let stars = longbar.find($(".glyphicon"))
            stars.removeClass("glyphicon-star gold").addClass("glyphicon-star-empty")
        },
        mousedown: e => {
            // need some sort of confirmation here
            var target = $(e.target)
            var rating = target.closest($("div.longbar")).find($(".glyphicon-star")).length
            var container = target.closest($(".ratings-container"))
            var id = container.attr("data-id")
            var wow_class = (container.attr("data-wowclass").length) ? container.attr("data-wowclass") : ''
            var data = {
                wow_class: wow_class,
                id: id,
                rating: rating
            }
            rate_saved_list(data)
        }
    })

    function rate_saved_list(d) {
        var spec = (d.wow_class) ? true : false
        var rating = d.rating
        var id = d.id
        $.ajax({
            method: "POST",
            url: '/ajax/save_rating/',
            data: {
                'value': rating,
                'id': id,
                'spec': spec,
            },
            dataType: 'json',

            success: function (data) {
                console.log('data: ', data)
                // TODO: remove elements that would allow user to potentially vote again
            }
        });
    }

    {% if request.user.is_staff %}

    $("a.remove-rating").on({
        click: e => {
            e.preventDefault()
            var target = $(e.target)

            var container = target.closest($(".ratings-container"))
            var id = container.attr("data-id")
            var wow_class = (container.attr("data-wowclass").length) ? container.attr("data-wowclass") : ''

            var data = {
                wow_class: wow_class,
                id: id,
            }
            delete_rating(data)

        }
    })

    function delete_rating(d) {
        var spec = (d.wow_class) ? true : false
        var id = d.id
        $.ajax({
            method: "POST",
            url: '/ajax/delete_rating/',
            data: {
                'id': id,
                'spec': spec,
            },
            dataType: 'json',
            success: function (data) {
                console.log('data: ', data)
                // TODO: remove elements that would allow user to potentially vote again
            }
        });
    }
    {% endif %}

    //connect to endpoint
    function apply_filters(filters) {
        console.log('filters: ', filters);
        // var $data = {'tags': filters}
        var $data = $.param({'tags': filters}, true)
        // var $myData = $data.serialize()
        $.ajax({
            method: "GET",
            url: '/ajax/apply_filters/',
            data: $data,
            dataType: 'html',
            success: apply_filter_success,
        });
    }

    function apply_filter_success(data) {
        $("#saved_list_container").html(data)
    }


</script>
{% endblock javascript %}
