{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "css/info_display.css" %}">

{% if spec %}
	<h1 class="mt-4">{{spec.name}}</h1>
    <!-- add star rating here -->
	{% for tag in spec.tags.all %}
		<div class="feed-tag">{{tag.name}}</div>
	{% endfor %}
	<h5 span class="mt-3">{{spec.description}}</h5>
	<div class="mt-3">
        {% if spec.updated|date:"m/d/Y, P" == spec.created|date:"m/d/Y, P" %}
        Created By {% if spec.user == request.user %}
        <a href="">me</a>
        {% elif not spec.private %}
        <a href="">{{spec.user.disc_username}}</a>
        {% else %}
        anonymous
        {% endif %}
        on
        {{spec.created}}
        {% else %}
        Last Edited By {% if spec.user == request.user %}
        <a href="">me</a>
        {% elif not spec.private %}
        <a href="">{{spec.user.disc_username}}</a>
        {% else %}
        anonymous
        {% endif %}
        on
        {{spec.updated}}
        {% endif %}
        </div>
{% elif consume_list %}
{% with "images/icons/large/" as image_prefix %}

	<h1 class="mt-4">{{consume_list.name}}</h1>
    <!-- add star rating here -->
	{% for tag in consume_list.tags.all %}
		<div class="feed-tag">{{tag.name}}</div>
	{% endfor %}
	<h5 span class="mt-3">{{consume_list.description}}</h5>
	<div class="mt-3">
        {% if consume_list.updated|date:"m/d/Y, P" == consume_list.created|date:"m/d/Y, P" %}
            Created By {% if consume_list.user == request.user %}
            <a href="">me</a>
        {% elif not consume_list.private %}
            <a href="">{{consume_list.user.disc_username}}</a>
        {% else %}
            anonymous
        {% endif %}
        on
        {{consume_list.created}}
        {% else %}
        Last Edited By {% if consume_list.user == request.user %}
        <a href="">me</a>
        {% elif not consume_list.private %}
        <a href="">{{consume_list.user.disc_username}}</a>
        {% else %}
        anonymous
        {% endif %}
        on
        {{consume_list.updated}}
        {% endif %}
        </div>
        {% for consume in consume_list.consumes.all %}
        <div>
            <img class="icon-small" src="{% static "images/icon_border_2.png" %}"
            style="background-image: url({% static image_prefix|add:consume.img|add:".jpg" %});">
            <span class="q{{consume.quality}}">{{consume.name}}</span> : <span class="fix-me">{{consume.amount}}</span>
        </div>
        {% endfor %}
        {% if materials %}
        <div>
            <h5 class="fix-me">MATERIALS</h5>
            {% for mat_name,v in materials.items %}
            <div>
                <img class="icon-small" src="{% static "images/icon_border_2.png" %}"
                    style="background-image: url({% static image_prefix|add:v.img|add:".jpg" %});">
                <span class="q{{v.quality}}">{{mat_name}}</span> : <span class="fix-me">{{v.value}}</span>
            </div>
            {% endfor %}
        </div>
        {% endif %}
{% endwith %}

{% endif %}
