{% extends "base.html" %}

{% block title %}- Profession Tool{% endblock title %}

{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static "css/profession_tool.css" %}">
<script>

if (performance.navigation.type == 1) {
    let myurl = new URL(window.location)
    myurl.search = ''
    history.replaceState(null, null, myurl)
    $("#consumes").hide()
    $("#materials").hide()
}

</script>

{% endblock extra_head %}

{% block mainbody %}
<div class="mainBody container">

    {% block class_selection %}
    <div class="row prof-selection sticky-top" id="prof_selection">

        {% for prof in professions %}
        <a class="prof-filter {% if prof == selected %}selected{% endif %}" id="{{prof}}"
            href="{% url 'recipes' prof|default:"alchemy" %}">
            {% with "images/icons/large/professions/"|add:prof|add:".jpg" as prof_image %}
            <img class="prof-icon {{prof}}" src="{% static "images/icon_border_2.png" %}"
                style="background-image: url('{% static prof_image %}');">
            {% endwith %}
        </a>
        {% endfor %}
    </div>
    {% endblock class_selection %}
    <div class="mainContent container">
    <div class="row justify-content-center prof-header">
        <div class="col-xl-8 col-12 columnTitle">Recipes</div>
        <div class="col-xl-4 col-12 columnTitle d-none d-xl-block">
        </div>
        <!-- <div class="col-lg-3 col-12 columnTitle d-none d-lg-block">Materials</div> -->
    </div>
    <div class="row prof-header sticky-top" style="top: 15vh;">
        <div class="col-xl-8 col-12">
            <div class="row">
                    <div class="col columnTitle">Name</div>
                    <div class="columnTitle" style="min-width: 323px">Reagents</div>
            </div>
        </div>
        <div class="col d-none d-xl-block columnTitle">Items</div>
    </div>

    <div class="row">
        <div id="recipe_list" class="col pageColumn custom-scroll-bar">
            {% if whole_page %}
            {% include "recipe_helper.html" %}
            {% endif %}
        </div>
        <div id="totals_container" class="col-xl-4 col-12 pageColumn custom-scroll-bar">
            {% if whole_page %}
            {% include "consume_helper.html" %}
            {% endif %}
        </div>
    </div>

    <div id="saved_list_info">
        {% include "info_display.html" %}
    </div>
</div>



    {% if user.is_authenticated %}
    {% include "save_form.html" %}
    {% endif %}

    </div>
</div>
{% endblock mainbody %}

{% block javascript %}
<script src="{% static "js/profession_tool.js" %}"></script>


<script>

$(document).ready(function() {
    if (performance.navigation.type == 1) {
        my_consume_list = {}
        $("#consumes").empty()
        $("#materials").empty()
        $("#saved_list_info").empty()

        update_url('', '?')
    }
    profession_tool_handlers()
 });


function profession_tool_handlers() {
    $(".prof-filter").on({
        click: e => {
            e.preventDefault()
            var prof = $(e.target)[0].id;
            build_recipe_list(prof);
        }
    });
}

function build_recipe_list(prof, spec_name = '') {
    var current_prof = $(".prof-filter.selected")
    $.ajax({
        url: `/profession_tool/${prof}`,
        data: {
            'prof': prof,
        },
        dataType: 'html',

        success: function (data) {
            let selected = $("button.prof-filter.selected").attr("id");
            if (selected != prof) {
                $("#recipe_list").html(data);
                $(".prof-filter").removeClass('selected');
                $(`#${prof}`).addClass('selected');
            }
            var path = document.location.pathname
            if (current_prof.length) {
                path = document.location.pathname.toString().replace(current_prof.attr('id'), prof)
            } else {

                var ix = document.location.pathname.toString().replace("\/profession_tool", '')
                path = (Boolean(ix)) ? `/profession_tool/${prof}/${ix}` : `/profession_tool/${prof}`
            }
            update_url(path, document.location.search)
        }
    });
}

function update_url(path='', search='') {

    var url = new URL(document.location.origin.toString())

    if (Boolean(path)) {
        url.pathname = path
    } else {
        url.pathname = "/profession_tool"
    }
    url.search = search

    history.replaceState(null, null, url)
}

</script>
{% endblock javascript %}
