{% extends "base.html" %}
{% block title %}Profession Tool{% endblock title %}

{% load static %}
{% csrf_token %}

{% block extra_head %}
<link media='screen, print' rel="stylesheet" type="text/css" href="{% static "css/profession_tool.css" %}">
<link media='screen, print' rel="stylesheet" type="text/css" href="{% static "css/save_form.css" %}">
{% endblock extra_head %}

{% block mainbody %}

    {% block class_selection %}
    <div class="row prof-selection sticky-top" id="prof_selection">

        {% for prof in professions %}
        <a class="prof-filter {% comment %}{% if prof == selected %}selected{% endif %}{% endcomment %} {% if prof == 'herbalism' or prof == 'fishing' or prof == 'skinning' %}disabled{% endif %}"  id="{{prof}}"
            href="{% url 'recipes' prof|default:"alchemy" %}">
            {% with "images/icons/large/professions/"|add:prof|add:".jpg" as prof_image %}
            <img class="prof-icon {{prof}}" src="{% static "images/icon_border_2.png" %}"
                style="background-image: url('{% static prof_image %}');">
            {% endwith %}
        </a>
        {% endfor %}
    </div>
    {% endblock class_selection %}
    <div class="mainContent container">
    <div class="row justify-content-center" id='prof_header'>
        <div class="col-xl-8 col-12 columnTitle row">
            <div class="col">
                <span>Recipes</span>
            </div>
            <div class="col">
                <input id="search_bar" class="fuzzy-search" placeholder="search" size="15" aria-label="Search">
                <div class="dropdown show d-inline-block float-right">
                    <a id="sorting" class="btn btn-sm dropdown-toggle" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span id='current_sort'>Sort</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-custom sortby-dropdown" style="border-top: 1px solid azure;" aria-labelledby="sorting">
                        <a class="dropdown-item sorting-item" data-sort="data-rating"><span class="untouchable">Level</span></a>
                        <div class="dropdown-divider" style="border-top: 1px solid #adb5cd33;"></div>
                        <a class="dropdown-item sorting-item" data-sort="data-created"><span class="untouchable">Rarity</span></a>
                    </div>
                    <a id="sorting_order" class="btn btn-sm untouchable hidden">
                        <span class="glyphicon glyphicon-triangle-bottom untouchable"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-12 columnTitle d-none d-xl-block">
        </div>
        <!-- <div class="col-lg-3 col-12 columnTitle d-none d-lg-block">Materials</div> -->
    </div>
    <div class="row sticky-top" style="top: 15vh;">
        <div class="col-xl-8 col-12">
            <div class="row">
                    <div class="col columnTitle">Name</div>
                    <div class="columnTitle" style="min-width: 323px">Reagents</div>
            </div>
        </div>
        <div class="col d-none d-xl-block columnTitle">Items</div>
    </div>

    <div class="row">
        <div id="recipe_list" class="col pageColumn custom-scroll-bar">
            <div id="list_container" class="list">
			{% comment %}
            {% if whole_page %}
            {% include "recipe_helper.html" %}
            {% endif %}
			{% endcomment %}
            </div>
        </div>
        <div id="totals_container" class="col-xl-4 col-12 pageColumn custom-scroll-bar">
            <div class="row">
                <div id="consumes" class="col-12">
                </div>
                <span id="separator" class="col-12">Totals</span>
                <div id="materials" class="col-12">
                </div>
            </div>
            {% comment %}
            {% if whole_page %}
            {% include "consume_helper.html" %}
            {% endif %}
            {% endcomment %}
        </div>
    </div>

    <div id="saved_list_info">
        {% comment %}
        {% if whole_page %}
        {% include "info_display.html" %}
        {% endif %}
        {% endcomment %}
    </div>
</div>


    {% if user.is_authenticated %}
    {% include "save_form.html" %}
    {% endif %}

</div>
{% endblock mainbody %}

{% block javascript %}
<script defer src="{% static "js/tooltip.js" %}" defer></script>
<script defer src="{% static "js/list.min.js" %}"></script>
<script defer src="{% static "js/profession_tool.js" %}"></script>
<script defer src="{% static "js/save_form.js" %}"></script>
{% endblock javascript %}
