{% if recipes %}
{% load static %}

{% load titlecase from custom_filters %}

    {% for recipe,v in recipes.items %}
    <div class="row">
            <div class="prof-item-recipe col-6" name="{{recipe}}">
                {% with "images/icons/consumes/"|add:recipe|add:".jpg" as item_image %}
                <div class="recipe-container {{v.quality}}" name="{{recipe}}">
                <img class="icon-medium recipe-image" src="{% static "images/icon_border_2.png" %}"
                style="background-image: url({% static item_image %});">
                {% endwith %}
                <span class="consume-name" name="{{recipe}}">{{v.name|titlecase}}</span>
                </div>
            </div>
        <div class="col-6 reagant-list">
            {% for mat_name,val in v.materials.items %}
            <div class="reagant-list-container" name="{{mat_name}}">
                <img class="icon-medium" src="{% static "images/icon_border_2.png" %}"
                {% if "eko" in mat_name %}
                style="background-image: url({% static "images/icons/medium/materials/eko.jpg" %});">
                {% else %}
                style="background-image: url({% static "images/icons/medium/materials/"|add:mat_name|add:".jpg" %});">
                {% endif %}
                {% if val.amount > 1 %}
                <span class="count-container">
                    <div class="material-count">{{val.amount}}</div>
                    <div class="material-count" style="color: black; bottom: 1px; z-index: 4;">{{val.amount}}</div>
                    <div class="material-count" style="color: rgba(0,0,0,.9); bottom: 3px; z-index: 4;">{{val.amount}}</div>
                    <div class="material-count" style="color: black; right: 3px; z-index: 4;">{{val.amount}}</div>
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    <script src="{% static "js/consume_tool.js" %}"></script>
    <script>

    function update_consume_list(name, amount=1) {
        let prof = $("a.prof-filter.selected").attr("id")

        if (!my_consume_list[prof]) {
            my_consume_list[prof] = {}
        }

        let step = (allConsumes[name].step) ? allConsumes[name].step : 1
        if (!my_consume_list[prof][name]) {
            my_consume_list[prof][name] = amount*step
        }
        else {
            my_consume_list[prof][name] += amount*step
        }
        if (my_consume_list[prof][name] <= 0) {
            my_consume_list[prof][name] = 0
        }
        console.log(my_consume_list)


    }

    $(".consume-name").on({
        mouseenter: e => {
            clearTooltip()
            tooltip_v2(e, false, 2)
        },
        mouseleave: e => {
            clearTooltip()
        },
        mousemove: e => {
            update_tooltip(e)
            // tooltip_v2(e, 'consume')
        },
    })

    $(".recipe-image").on({
        mouseenter: e=> {
            clearTooltip()
            tooltip_v2(e, true, 2)
        },
        mouseleave: e => {
            clearTooltip()
        },

    })


    $(".prof-item-recipe").on({
        mousedown: e => {
            e.stopImmediatePropagation()
            var amount = 1
            let name = $(e.target).closest(".recipe-container").attr('name')

            if (e.shiftKey) {
                amount = 5
            }

            if (e.which === 3) {
                amount = amount*(-1)
            }

            if (((parseInt($(`span.crafted-container[name='${name}']`).find($('span.amount')).text())) >= 100) && (e.which != 3)) {
                // NOTE: visual indicator for
                alert('100 is the limit, fix me')
                return false
            }
            combatText(e, amount)
            update_consume_list(name, amount)
            addCraftedItem(name, amount)
            update_url('', '')
        }
    })

    $(".reagant-list-container").on({
        mouseenter: e => {
            // let name = $(e.target).closest(".reagant-list-container").attr('name')
            tooltip_v2(e, true, 2)
        },
        mouseleave: e => {
            clearTooltip()
        },
    });


    </script>
 {% endif %}
