{% if recipes %}
{% load static %}

{% load titlecase from custom_filters %}

    {% for recipe in recipes %}
    <div class="row">
        <div class="prof-item-recipe data col" name="{{recipe.name}}"
            data-step={{recipe.step}} data-q="{{recipe.quality}}" data-n="{{recipe.name}}"
            data-img="{{recipe.img}}"
            {% if recipe.item.bop %}data-bop="{{recipe.item.bop}}"{% endif %}
            {% if recipe.item.use %}data-use="{{recipe.item.use}}"{% endif %}
            {% if recipe.item.slot %}data-slot="{{recipe.item.slot}}"{% endif %}
            {% if recipe.item.proficiency %}data-proficiency="{{recipe.item.proficiency}}"{% endif %}
            {% if recipe.item.stats %}data-stats="{{recipe.item.stats}}"{% endif %}
            {% if recipe.item.armor %}data-armor="{{recipe.item.armor}}"{% endif %}
            {% if recipe.item.description %}data-description="{{recipe.item.description}}"{% endif %}
            {% if recipe.item.requirements %}data-requirements="{{recipe.item.requirements}}"{% endif %}
            {% if recipe.item.speed %}data-speed="{{recipe.item.speed}}"{% endif %}
            {% if recipe.item.resists %}data-resists="{{recipe.item.resists}}"{% endif %}
            {% if recipe.item.durability %}data-durability="{{recipe.item.durability}}"{% endif %}
            {% if recipe.item.procs.exists %}data-procs='[{% for proc in recipe.item.procs.all %}"{% if proc is recipe.item.procs.all|last %}{{proc.t}}{% else %}{{proc.t}},{% endif %}"{% endfor %}]'{% endif %}
            {% if recipe.item.equips.exists %}data-equips='[{% for equip in recipe.item.equips.all %}"{% if equip == recipe.item.equips.all|last %}{{equip.t}}{% else %}{{equip.t}},{% endif %}"{% endfor %}]'{% endif %}
            {% if recipe.item.dps %}data-dps="{{recipe.item.dps}}"{% endif %}
            {% if recipe.item.damage.exists %}data-damage='[{% for damage in recipe.item.damage.all %}"{{damage}}",{% endfor %}]'{% endif %}
            >

            {% with "images/icons/large/"|add:recipe.img|add:".jpg" as item_image %}

                <div class="recipe-container q{{recipe.quality}}">
                    <img class="icon-medium recipe-image" data-img="{{recipe.img}}" src="{% static "images/icon_border_2.png" %}"
                    style="background-image: url({% static item_image %});">
                    {% if recipe.step > 1%}
                    <span class="recipe-step">
                        <div class="step-amount">{{recipe.step}}</div>
                        <div class="step-amount" style="color: black; bottom: 1px; z-index: 4;">{{recipe.step}}</div>
                        <div class="step-amount" style="color: rgba(0,0,0,.9); bottom: 3px; z-index: 4;">{{recipe.step}}</div>
                        <div class="step-amount" style="color: black; right: 3px; z-index: 4;">{{recipe.step}}</div>
                    </span>
                    {% endif %}
                {% endwith %}
                    <span class="recipe-name">{{recipe.name}}</span>
                </div>
            </div>
        <div class="reagent-list d-none d-md-block">
            {% for mat in recipe.materials.all %}
            <div class="reagent-list-container" name="{{mat.name}}" data-q="{{mat.quality}}">
                <img class="icon-medium" data-img="{{mat.img}}" src="{% static "images/icon_border_2.png" %}"
                style="background-image: url({% static "images/icons/large/"|add:mat.img|add:".jpg" %});">

                {% if mat.amount > 1 %}
                <span class="count-container">
                    <div class="material-count">{{mat.amount}}</div>
                    <div class="material-count" style="color: black; bottom: 1px; z-index: 4;">{{mat.amount}}</div>
                    <div class="material-count" style="color: rgba(0,0,0,.9); bottom: 3px; z-index: 4;">{{mat.amount}}</div>
                    <div class="material-count" style="color: black; right: 3px; z-index: 4;">{{mat.amount}}</div>
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <script>
    $(document).ready(function() {
        $(".recipe-name").unbind()
        $(".recipe-image").unbind()
        $(".reagent-list-container").unbind()
        $(".prof-item-recipe").unbind()
        recipe_helper_handlers()
    })

    function update_consume_list(name, amount=1, step=1) {
        let prof = $("a.prof-filter.selected").attr("id")
        if (!my_consume_list[prof]) {
            my_consume_list[prof] = {}
        }
        // let step = (allConsumes[name].step) ? allConsumes[name].step : 1
        if (!my_consume_list[prof][name]) {
            my_consume_list[prof][name] = amount*step
        }
        else {
            my_consume_list[prof][name] += amount*step
        }
        if (my_consume_list[prof][name] <= 0) {
            delete my_consume_list[prof][name]

        }
        if (Object.keys(my_consume_list[prof]) == 0 ) {
            delete my_consume_list[prof]
        }

    }

function move_tooltip(e) {
	let pageY = e.pageY
	let pageX = e.pageX+15
    const tooltip = $("#tooltip_container")
    // get_dimensions(tooltip)
    tooltip.attr("style", `top: ${pageY}px; left: ${pageX}px; visibility: visible;`)
}

function recipe_helper_handlers() {
    $(".recipe-name").on({
        mouseenter: e => {
            clear_tooltip()
            ez_tooltip( e )
        },
        mouseleave: e => {
            $("#tooltip_container").hide()
        },
        mousemove: e => {
            move_tooltip( e )
        },
    })
    $(".recipe-image").on({
        mouseenter: e => {
            clear_tooltip()
            ez_tooltip( e )
        },
        mouseleave: e => {
            $("#tooltip_container").hide()
        },
        mousemove: e => {
            move_tooltip( e )
        },
    })


    $(".prof-item-recipe").on({
        mousedown: e => {
            e.stopImmediatePropagation()
            var multiple = 1
            var name = ($(e.target).attr('name')) ? $(e.target).attr('name') :
                ($(e.target).parent().attr('name')) ? $(e.target).parent().attr('name') :
                $(e.target).parent().parent().attr('name');

            var step = ($(e.target).attr('data-step')) ? $(e.target).attr('data-step') :
                ($(e.target).parent().attr('data-step')) ? $(e.target).parent().attr('data-step') :
                ($(e.target).parent().parent().attr('data-step')) ? $(e.target).parent().parent().attr('data-step') : 1;

            if (e.shiftKey) {
                multiple = 5
            }

            if (e.which === 3) {
                multiple = multiple*(-1)
            }

            var current_amount = ($(`span.consume-container[name="${name}"]`).length) ? parseInt($(`span.consume-container[name="${name}"]`).find($('span.amount')).text()) : 0
            multiple = consume_calculator(current_amount, multiple, step)
            update_consume_list(name, multiple, step)
            add_consume(name, multiple, step)
            combatText(e, multiple*step)

        }
    })


    $(".reagent-list-container").on({
       mouseenter: e => {
            clear_tooltip(e)
            ez_tooltip( e )
        },
        mouseleave: e => {
            $("#tooltip_container").hide()
        },
        mousemove: e => {
            move_tooltip( e )
        },
    });

}


    </script>
