{% if recipes %}
{% load static %}

{% load titlecase from custom_filters %}
    {% for recipe in recipes %}
    <div class="row">
        <div class="prof-item-recipe data-container col" name="{{recipe.name}}" data-ix="{{recipe.item.ix}}">

            {% with "images/icons/large/"|add:recipe.img|add:".jpg" as item_image %}

                <div class="recipe-container q{{recipe.quality}}">
                    <img class="icon-medium recipe-image" data-img="{{recipe.img}}" src="{% static "images/icon_border_2.png" %}"
                    style="background-image: url({% static item_image %});">
                    {% if recipe.step > 1 %}
                    <span class="recipe-step">
                        <div class="step-amount">{{recipe.step}}</div>
                        <div class="step-amount" style="color: black; bottom: 1px; z-index: 4;">{{recipe.step}}</div>
                        <div class="step-amount" style="color: rgba(0,0,0,.9); bottom: 3px; z-index: 4;">{{recipe.step}}</div>
                        <div class="step-amount" style="color: black; right: 3px; z-index: 4;">{{recipe.step}}</div>
                    </span>
                    {% endif %}
                {% endwith %}
                    <span class="recipe-name">{{recipe.name}}</span>
                </div>
            </div>
        <div class="reagent-list d-none d-md-block">
            {% for mat in recipe.materials.all %}
            <div class="reagent-list-container data-container q{{mat.quality}}" name="{{mat.name}}" data-ix="{{mat.item.ix}}">
                <img class="icon-medium" data-img="{{mat.img}}" src="{% static "images/icon_border_2.png" %}"
                style="background-image: url({% static "images/icons/large/"|add:mat.img|add:".jpg" %});">

                {% if mat.amount > 1 %}
                <span class="count-container">
                    <div class="material-count">{{mat.amount}}</div>
                    <div class="material-count" style="color: black; bottom: 1px; z-index: 4;">{{mat.amount}}</div>
                    <div class="material-count" style="color: rgba(0,0,0,.9); bottom: 3px; z-index: 4;">{{mat.amount}}</div>
                    <div class="material-count" style="color: black; right: 3px; z-index: 4;">{{mat.amount}}</div>
                </span>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% if pagination %}
    <div class="pagination">
        <div>
        {% if pagination.has_previous %}
        <a class="change-page" href="" >&laquo;</a>
        {% endif %}
        {% for page in pagination.rangen %}
        {% if page == pagination.page_number %}
        <span class="current-page"><a class="change-page">{{page}}</a></span>
        {% else %}
        <a class="change-page" href="">{{page}}</a>
        {% endif %}
        {% endfor %}
        {% if pagination.has_next %}
        <a class="change-page" href="" >&raquo;</a>
        {% endif %}
        </div>
    </div>
    {% endif %}

    {% if selected %}
    <script src="{% static "js/professions/"|add:selected|add:"/recipes.js" %}"></script>
    <script src="{% static "js/professions/"|add:selected|add:"/materials.js" %}"></script>
    <script src="{% static "js/professions/"|add:selected|add:"/itemsets.js" %}"></script>

    <script>
    // var recipe_helper;
    // 
    // document.addEventListener('readystatechange', (event) => {
    //     console.log(`recipe_helper readystate: ${document.readyState}\n`);
    //     if (HANDLERS.recipeHelper) {
    //         console.log('and recipeHelper')
    //         HANDLERS.consumeHelper()
    //     }
    // });

    if (!RECIPES) {
        var RECIPES = {}
    }
    if (!MATERIALS) {
        var MATERIALS = {}
    }
    if (!ITEMSETS) {
        var ITEMSETS = {}
    }
    // var OLD_RECIPES = Object.assign({}, ALL_RECIPES)
    ALL_RECIPES = Object.assign(ALL_RECIPES, RECIPES)
    ALL_MATERIALS = Object.assign(ALL_MATERIALS, MATERIALS)
    ALL_ITEMSETS = Object.assign(ALL_ITEMSETS, ITEMSETS)

    // if (HANDLERS.recipeHelper) {
    //     HANDLERS.consumeHelper()
    // }

    </script>

    {% endif %}
