{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/save_form.css" %}">

<div class="row saveBlock">
        <h1 class="saveTitle col-12">SAVE</h1>
    <div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="fieldWrapper row">
            {{ form.tags.errors }}
            <label class="col-2"for="{{ form.tags.id_for_label }}">Tags:</label>
            <div class="col-10 left-align">
                    {% for checkbox in form.tags %}
                    <span class="checkbox">{{checkbox}}</span>
                    {% endfor %}
            </div>
        </div>

        {% if "talent_calc" in request.path %}
        <div class="fieldWrapper">
            <span>
                <label class="{{selected}}" for="id_wow_class">{{selected|title}}</label>
                <input id="wow_class" type="hidden" value="{{selected}}" name="wow_class">
            </span>
            <span>
                <label id="talents_spent" for="id_spent">(0/0/0)</label>
                <input class="tree-input" id="tree0" type="hidden" value="Arms,10" name="spent">
            </span>
            <span>
                <input class="tree-input" id="tree1" type="hidden" value="Fury,15" name="spent">
            </span>
            <span>
                <input class="tree-input" id="tree2" type="hidden" value="Protection,10" name="spent">
            </span>
        </div>
        {% else %}
        {% endif %}

        <div class="fieldWrapper row">
            {{ form.name.errors }}
            <label class="col-2" for="{{ form.name.id_for_label }}">Title:</label>
            <div class="col-8 p-0">
                    {{ form.name }}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="fieldWrapper row">
            {{ form.description.errors }}
            <label class="col-2" for="{{ form.description.id_for_label }}">Notes:</label>
            <div class="col-8 p-0">
                    {{ form.description }}
            </div>
            <div class="col-2"></div>
        </div>
        <div class="fieldWrapper row justify-content-center">
            <div class="privateSelect col-12">
                    {{ form.private.errors }}
                    {{ form.private }}
                    <label for="{{ form.private.id_for_label }}">Private?</label>
            </div>
        </div>
        <div class="fieldWrapper row">
            <input id="list_hash" type="hidden" value="test" name="hash">
        </div>

        {% if selected %}
        <div class="fieldWrapper">
            <input id="wow_class" type="hidden" value="{{selected}}" name="wow_class">
        </div>

        <div class="fieldWrapper">
            <input class="tree-input" id="tree1" type="hidden" value="Arms,10" name="spent" data-treename="a">
        </div>
        <div class="fieldWrapper">
            <input class="tree-input" id="tree2" type="hidden" value="Fury,15" name="spent" data-treename="b">
        </div>
        <div class="fieldWrapper">
            <input class="tree-input" id="tree3" type="hidden" value="Protection,10" name="spent" data-treename="c">
        </div>
        {% endif %}

        <div class="form-actions row justify-content-center">
            <button id="save_spec" class="btn btn-lg btn-dark pl-5 pr-5 mb-4"type="submit">Save</button>
        </div>
    </form>
</div>
</div>

<script>
$('#save_spec').on({
	click: e=> {
		var tree_inputs = $(".tree-input")
        $("#tree0").val(`${talentPointsSpent.treeNames[0]},${talentPointsSpent[talentPointsSpent.treeNames[0]].total()}`)
        $("#tree1").val(`${talentPointsSpent.treeNames[1]},${talentPointsSpent[talentPointsSpent.treeNames[1]].total()}`)
        $("#tree2").val(`${talentPointsSpent.treeNames[2]},${talentPointsSpent[talentPointsSpent.treeNames[2]].total()}`)
		$("#list_hash").val(urlBuilder())
	    $('#save_list').submit();
	},
});

$('#save_consume_list').on({
	click: e=> {
		var tree_inputs = $(".tree-input")
		$("#list_hash").val(urlBuilder())
	    $('#save_list').submit();
	},
});

function build_consume_url() {

}

</script>
