{% load static %}

<div class="row saveBlock">
    <h1 class="saveTitle col-12">SAVE</h1>
    <div class="container">
    <form class="saved-list-form" method="post" data-url='{{ request.build_absolute_uri|safe }}'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper row justify-content-center">
            <div class="privateSelect col-12">
                    {{ form.private.errors }}
                    {{ form.private }}
                    <label for="{{ form.private.id_for_label }}">Anonymous?</label>
            </div>
        </div>

        {% if "talent_calc" in request.path %}
        <div class="fieldWrapper row">
            <span class="col-1 offset-2" style="text-align: right">
                <label id="wow_class_label" class="{{selected}}" for="id_wow_class">{{selected|title}}</label>
                <input id="wow_class" type="hidden" value="{{selected}}" name="wow_class" aria-labelledby="#wow_class_label">
            </span>
            <span class="col-1" style="text-align: left">
                <label id="talents_spent" for="id_spent">(0/0/0)</label>
                <input class="tree-input" id="tree0" type="hidden" value="Arms,10" name="spent">
            </span>
            <span class="d-none">
                <input class="tree-input" id="tree1" type="hidden" value="Fury,15" name="spent">
            </span>
            <span class="d-none">
                <input class="tree-input" id="tree2" type="hidden" value="Protection,10" name="spent">
            </span>
        </div>
        {% else %}
        <div class="fieldWrapper" style="display:none;">
            <div id="all_consumes"></div>
        </div>
        {% endif %}

        <div class="fieldWrapper row">
            {{ form.name.errors }}
            <label class="col-sm-2 col-3" for="{{ form.name.id_for_label }}">Title:</label>
            <div class="col-sm-8 col-9 p-0">
                    {{ form.name }}
            </div>
            <div class="d-none d-sm-block col-2"></div>
        </div>
        <div class="fieldWrapper row">
            {{ form.description.errors }}
            <label class="col-sm-2 col-3" for="{{ form.description.id_for_label }}">Notes:</label>
            <div class="col-sm-8 col-9 p-0">
                    {{ form.description }}
            </div>
            <div class="d-none d-sm-block col-2"></div>
        </div>
        <div class="fieldWrapper row">
            {{ form.tags.errors }}
            <label class="col-sm-2"for="{{ form.tags.id_for_label }}">Tags:</label>
            <div class="col-10 left-align">
                    {% for checkbox in form.tags %}
                    <div class="checkbox">{{checkbox}}</div>
                    {% endfor %}
            </div>
        </div>
        <div class="fieldWrapper row">
            <input id="list_hash" type="hidden" value="test" name="hash">
        </div>


        <div class="form-actions row justify-content-center">
            <button class="btn btn-lg btn-dark pl-5 pr-5 mb-4"type="submit">Save</button>
        </div>
    </form>
</div>
</div>
