{% extends "base.html" %}

	{% block title %}- Talent Calculator{% endblock title %}

	{% load static %}
	{% block extra_head %}
	<link rel="stylesheet" type="text/css" href="{% static "css/talent.css" %}">


	{% endblock extra_head %}


	{% block title_splash %}
	<div class="container titleSplash">
		<div class="page-title">
			<div class="p-3 page-description"></div>
		</div>
	</div>
	{% endblock title_splash %}

	{% block mainbody %}

	<div class="mainBody container">
	{% block class_selection %}
	<div class="row class-selection sticky-top" id="class_selection">
		{% for class in classes %}
		<a class="class-filter {% if class == selected %}selected{% endif %}" id="{{class}}">
			{% with "images/icons/large/class/"|add:class|add:".jpg" as class_image %}
			<img class="class-icon {{class}}" src="{% static "images/icon_border_2.png" %}" style="background-image: url('{% static class_image %}');">
			{% endwith %}
		</a>
		{% endfor %}
	</div>
	{% endblock class_selection %}
	<div class="mainContent">
	<div class="row justify-content-center">
		<div id="talentHeader">
			<span id="allottedTalentPoints" class="col-3 text-left">(0/0/0)</span>
			<span id="requiredLevel" class="col-3">Required level:</span>
			<span id="pointsRemaining" class="col-3 text-right">Points Left:</span>
			<div id="buttonCity" class="col-3 btn-group">
				<!-- <button type="button" id="resetTalents" class="talentcalc-button reset btn" title="Reset"></button> -->
				<button id="resetTalents" class="btn btn-sm float-right" aria-label="Reset Talents" title="Reset"
					style="font-size: 15px; margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; background-color: transparent;" type="button">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>
				<button id="talentLock" class="btn btn-sm float-right unlock" aria-label="Lock Talents" title="Lock"
					style=" font-size: 14px; margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; background-color: transparent;" type="button">
					<span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
				</button>
				<!-- <button class="btn btn-sm float-right" data-toggle="modal" data-target="#specSaverPrompt" aria-label="specSaverPrompt" title="Save"
					style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; background-color: transparent;" type="button">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
				</button> -->
				<button id="export" data-container="#export" data-toggle="popover" data-placement="right"
					class="btn btn-sm float-right" role="button" aria-label="export spec" title="Export"
					style=" font-size: 15px; margin: 0 2px 0 2px; padding: 0 2px 0 2px;">
					<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="row justify-content-center" id="talent_calc" align="center">
		{% include "talent_builder.html" %}
	</div>

	<div id="saved_list_info">
	{% include "info_display.html" %}
	</div>
	{% if user.is_authenticated %}
	{% include "save_form.html" %}
	{% endif %}

</div>

</div>
	{% endblock mainbody %}

<!-- Modal -->
{% block modal %}
<div class="modal fade" id="specSaverPrompt" tabindex="-1" role="dialog" aria-labelledby="specSaver" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content bg-dark text-white" style="box-shadow: rgba(0,0,0,.8) 0 1px 3px 0 inset; border-radius:2px;">
	  <div class="modal-body">
		  <button type="button" class="close" aria-label="Close" data-dismiss="modal">
			  <span aria-hidden="true">&times;</span>
		  </button>
		  <form method="post" id="save-spec">
			  {% csrf_token %}
		<div class="form-group row">
		  <div class="input-group input-group-sm">
			<div class="input-group-prepend">
			  <div class="input-group-text" style="border-radius: 2px 0 0 2px;">name</div>
			</div>
			<input type="text" id="spec-name" class="form-control-sm" placeholder="spec name" aria-label="Text..." aria-describedby="basic-addon1" autocomplete="off" required=True>
			<div class="input-group-append">
			  <button type="submit" class="input-group-text btn-sm btn-primary" id="confirmSpecName" style="border-radius: 0 2px 2px 0;">Confirm</button>
			</div>
			<div id="specNameValidation" class="form-text"></div>
		  </div>
	   </div>
	</form>
	</div>
	</div>
	</div>
	</div>
	{% endblock modal %}

	{% block javascript %}
	<script src="{% static "js/utilities.js" %}"></script>
	<script src="{% static "js/talent_data.js" %}"></script>
	<script src="{% static "js/talent_table_data.js" %}"></script>
	<script>


	function update_url(class_name, search='', badass_url='') {
		const CLASS_ARR = ['druid', 'hunter', 'mage', 'paladin', 'priest', 'rogue', 'shaman', 'warlock', 'warrior']
		var url;
		if (Boolean(badass_url)) {
			url = new URL(badass_url)
		} else {
			url = new URL(document.location.origin.toString())
			url.pathname = `/talent_calc/${class_name}`
		}
		if (Boolean(search)) {
			url.search = search
		}
		history.replaceState(null, null, url)
	}

	$(document).ready(function() {
		if (performance.navigation.type === 1) {
			var class_name;
			if ($(".class-filter.selected").length) {
				class_name = $(".class-filter.selected")[0].id;
			} else {
				class_name = 'warrior'
			}
			update_url(class_name)
		}
		talent_calc_handlers()

	 });





// function update_selected_spec(spec_name) {
// 	let spec_list_item = $(`.spec-list-item[name="${spec_name}"]`)
// 	$(".spec-list-item").removeClass("progress-bar progress-bar-striped progress-bar-animated");
// 	if (spec_list_item.length) {
// 		spec_list_item.addClass("progress-bar progress-bar-striped progress-bar-animated");
// 		spec_list_item.css({"height": "unset", "display":"block"})
// 	}
// }

function update_class(class_name, ix=0, search) {
	var id = ix;
	var badass_url = new URL(document.location.origin.toString())
	badass_url.pathname = `talent_calc/${class_name}`
	if (Boolean(id)) {
		badass_url.pathname = `talent_calc/${class_name}/${id}`
	}
	if (Boolean(search)) {
		badass_url.search = search
	}

	$.ajax({
		url: badass_url,
		dataType: 'html',
		success: function (data) {
			let selected = $("a.class-filter.selected").attr("id");
			if (selected != class_name) {
				$("#talent_calc").html(data);
				$(".class-filter").removeClass('selected');
				$(`#${class_name}`).addClass('selected');
			}
		},
		complete: function (data) {
			var data2 = {}
			if (id) {
				data2['id'] = id
			}
			if (class_name) {
				data2['class_name'] = class_name
				$.ajax({
					url: '/ajax/load_spec/',
					data: data2,
					dataType: 'json',
					success: function (data){
						if (class_name) {
							if (document.location.href.toString().includes('talent_calc')) {
								update_url(class_name, data.hash, badass_url);
							}
							resetAll()
							if (data.hash) {
								preBuiltSpec(data.hash);
							}
							if (id) {
								info_display(id, 'tc')
							}
						}
					}
			   });
			}
		}
	});
}

function talent_calc_handlers() {
	$(".class-filter").on({
	   click: e=> {
		   var class_name = $( e.target )[0].id;
		   update_class(class_name)
	   }
	});
}


 </script>
	{% endblock javascript %}
