{% extends "base.html" %}
{% block title %}Talent Calculator{% endblock title %}

{% load static %}
{% block extra_head %}
{% csrf_token %}
<link rel="stylesheet" type="text/css" href="{% static "css/talent.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/save_form.css" %}">
{% endblock extra_head %}


{% block title_splash %}
<div class="container titleSplash">
	<div class="page-title">
		<div class="p-3 page-description"></div>
	</div>
</div>
{% endblock title_splash %}

{% block mainbody %}

<div class="mainBody container">
{% block class_selection %}
<div class="row class-selection sticky-top" id="class_selection">
	{% for class in classes %}
	<a class="class-filter {% if class == selected %}selected{% endif %}" id="{{class}}">
		{% with "images/icons/large/class/"|add:class|add:".jpg" as class_image %}
		<img class="class-icon {{class}}" src="{% static "images/icon_border_2.png" %}" style="background-image: url('{% static class_image %}');">
		{% endwith %}
	</a>
	{% endfor %}
</div>
{% endblock class_selection %}
<div class="mainContent">
	<div class="row justify-content-center">
		<div id="talentHeader">
			<span id="talent_points_spent" class="col-3 text-left">
				(<span class='spent'>0</span>/<span class='spent'>0</span>/<span class='spent'>0</span>)
			</span>
			<span id="requiredLevel" class="col-3">Required level:</span>
			<span id="pointsRemaining" class="col-3 text-right">Points Left:</span>
			<div id="buttonCity" class="col-3 btn-group">
				<!-- <button type="button" id="resetTalents" class="talentcalc-button reset btn" title="Reset"></button> -->
				<button id="resetTalents" class="btn btn-sm float-right" aria-label="Reset Talents" title="Reset" type="button">
					<span class="glyphicon glyphicon-remove glyphicon-custom" aria-hidden="true"></span>
				</button>
				<button id="talentLock" class="btn btn-sm float-right" aria-label="Lock Talents" title="Lock" type="button" role="button">
					<span class="glyphicon glyphicon-lock glyphicon-custom" aria-hidden="true"></span>
				</button>
				<!-- <button class="btn btn-sm float-right" data-toggle="modal" data-target="#specSaverPrompt" aria-label="specSaverPrompt" title="Save"
					style="margin: 0 2px 0 1px; padding: 0 3px 0 3px; color: #3d7e9a; border: 0; background-color: transparent;" type="button">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
				</button> -->
				<button id="copyLink" data-container="#copyLink" data-toggle="popover" data-placement="right"
					class="btn btn-sm float-right" role="button" aria-label="copy spec link" type="button">
					<span class="glyphicon glyphicon-link glyphicon-custom" aria-hidden="true"></span>
				</button>
			</div>
		</div>
	</div>
	<div class="row justify-content-center" id="talent_calc" align="center"></div>

<div id="saved_list_info">
{% comment %}
{% include "info_display.html" %}
{% endcomment %}
</div>

{% if user.is_authenticated %}
{% include "save_form.html" %}
{% endif %}

</div>

</div>
{% endblock mainbody %}

<!-- Modal -->
{% block modal %}
<div class="modal fade" id="specSaverPrompt" tabindex="-1" role="dialog" aria-labelledby="specSaver" aria-hidden="true">
  <div class="modal-dialog" role="document">
	<div class="modal-content bg-dark text-white" style="box-shadow: rgba(0,0,0,.8) 0 1px 3px 0 inset; border-radius:2px;">
	  <div class="modal-body">
		  <button type="button" class="close" aria-label="Close" data-dismiss="modal">
			  <span aria-hidden="true">&times;</span>
		  </button>
		  <form method="post" id="save-spec">
			  {% csrf_token %}
		<div class="form-group row">
		  <div class="input-group input-group-sm">
			<div class="input-group-prepend">
			  <div class="input-group-text" style="border-radius: 2px 0 0 2px;">name</div>
			</div>
			<input type="text" id="spec-name" class="form-control-sm" placeholder="spec name" aria-label="Text..." aria-describedby="basic-addon1" autocomplete="off" required=True>
			<div class="input-group-append">
			  <button type="submit" class="input-group-text btn-sm btn-primary" id="confirmSpecName" style="border-radius: 0 2px 2px 0;">Confirm</button>
			</div>
			<div id="specNameValidation" class="form-text"></div>
		  </div>
	   </div>
	</form>
	</div>
	</div>
	</div>
	</div>
	{% endblock modal %}

	{% block javascript %}
	<script src="{% static "js/tooltip.js" %}"></script>
	<script src="{% static "js/talent.js" %}"></script>
	<script src="{% static "js/save_form.js" %}"></script>
	{% endblock javascript %}
