{% extends "base.html" %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static " css/thanks.css" %}">
{% endblock extra_head %}

{% block title_splash %}
<div class="container titleSplash">
	<div class="row class-selection nav-is-sticky steel-textured" id="class_selection">
	</div>
</div>
{% endblock title_splash %}

{% block mainbody %}
<div id="mainBody" class="container">
	<div class="row about-section">
		<div class="col-2"></div>
		<div class="jumbotron col-8" id="thanks" style="background-color: transparent;">
			<h2 class="display-5 fancy jumbotron-title">Thank you</h2>
			<p class="lead">Special thanks to the following:</p>
			<hr class="my-4" style="border-color: rgba(240,255,255,0.95);">
			<p class="thank"><a href="https://www.twitch.tv/">Meph</a> <i>&lt;APES&gt; </i><b>SERVERNAME</b> Provided Druid spec guide and consume list for druid/rogue</p>
			<p class="thank"><a href="https://www.twitch.tv/Richardxd">Richard</a> <i>&lt;GRIZZLY&gt; </i><b>SERVERNAME</b> -- Provided specs guides and consumes for warrior and hunter </p>
			<p class="thank"><a href="https://www.twitch.tv/">Icy</a> <i>&lt;GRIZZLY&gt; </i><b>SERVERNAME</b> -- Provided Mage spec guides </p>
			<p class="thank"><a href="https://www.twitch.tv/">Parla</a> <i>&lt;APES&gt; </i><b>SERVERNAME</b> -- Hardly did anything </p>

			<p class="thank"><b style="text-decoration: underline;"> Wilddaddy - &lt;Elitist Jerks&gt; EU-Tichondrius</b> -- Has a big ol dick! check out their <a href="https://www.twitch.tv/">twitch</a> channel!</p>
			<p class="thank"><a href="https://www.twitch.tv/">Familyman</a> <i>&lt;Elitist Jerks&gt; </i><b>US-Mal'Ganis</b> -- Provided Holy Priest spec guide </p>
			<p class="thank"><a href="https://www.twitch.tv/">Wilddaddy</a> &lt;Elitist Jerks&gt; <b>EU-Tichondrius</b> -- Provided PvP/PvE CLASS guide </p>

		</div>
		<div class="col-2"></div>
	</div>
</div>
{% endblock mainbody %}
{% block javascript %}
<script src="{% static " js/contact.js" %}"></script>
{% endblock javascript %}
