.vscode
venv
__pycache__.DS_Store
.DS_Store
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
db.sqlite3
*.log
keys
ONY_BUFF_KEY.pem
*__pycache__
/static*
addondev
home/management/commands/data
tools/scraping/py/old
tools/scraping/js/items
tools/scraping/py/skyscraper3.py
