.vscode
venv
__pycache__.DS_Store
.DS_Store
account/__pycache__
account/migrations/__pycache__
home/__pycache__
home/migrations/__pycache__
onybuff/__pycache__
home/templatetags/__pycache__
db.sqlite3access.log
error.log
static
keys
ONY_BUFF_KEY.pem
