body {
    height: 100vh;
    text-align: center;
    font-size: 100%;
    background-color: grey;
    background-image: url("assets/images/alterac_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.consume-container {
    background-image: url("assets/images/alch_table_transparent.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px #100007 solid;
    min-height: 60vh;
    padding: 10px;
}

.total-container {
    background-image: url("assets/images/textured_background_white.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px #100007 solid;
    min-height: 60vh;
}

.class-filter {
    color: azure;
    padding: 5px;
    font-size: 120%;
    border-right: 2px solid  #100007 ;
    border-left: 2px solid  #100007 ;
    border-top: 2px solid  #100007 ;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #16000ae1;
    cursor: pointer;
}

.class-filter:hover {
    color: black;
    padding: 5px;
    font-size: 120%;
    border-right: 2px solid  #100007 ;
    border-left: 2px solid  #100007 ;
    border-top: 2px solid  #100007 ;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: azure;
}

.consume-input {
    display: block;
    background-color: rgba(240, 240, 240, 0.87);
    text-align: center;
}

input:focus {
    background-color: rgb(173, 255, 179)
}

.consume-block {
    display: inline-block;
    background-color: #100007;
    border: 1px solid azure;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 95%;
}

.consume-form {
    color: azure;
}

.consume-img {
    height: 40px;
    width: 40px;
    vertical-align: top;
}

.consume-title {
    display: inline-block;
    max-width: 142px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    color: black;
    background-color: azure;
}

.navbar {
    opacity: .95;
}

.total-materials {
    font-size: 100%;
    text-align: left;
    background-color: azure;
    padding-left: 5px;
}

.totalTitle {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: black;
    border-radius: 2px;
    border: 1px azure solid;
    color: azure;
}
