body {
    height: 100vh;
    text-align: center;
    font-size: 100%;
    background-color: grey;
    background-image: url("assets/images/alterac_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Quattro;
}

.consume-container {
    background-image: url("assets/images/alch_table_transparent.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px #100007 solid;
    min-height: 58vh;
    padding: 10px;
}

.total-container {
    background-image: url("assets/images/textured_background_white.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px #100007 solid;
    min-height: 100%;
}

.breakdown-container {
    background-image: url("assets/images/textured_background_white.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px #100007 solid;
    min-height: 15vh;
}

.class-filter {
    color: azure;
    padding: 5px;
    font-size: 120%;
    border-right: 2px solid  #100007 ;
    border-left: 2px solid  #100007 ;
    border-top: 2px solid  #100007 ;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #030001e1;
    cursor: pointer;
}

.class-filter:hover {
    color: black;
    padding: 5px;
    font-size: 120%;
    border-right: 2px solid  #100007 ;
    border-left: 2px solid  #100007 ;
    border-top: 2px solid  #100007 ;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: azure;
}

.consume-input {
    display: block;
    background-color: rgba(240, 240, 240, 0.87);
    text-align: center;
    width: 150px;
}

input:focus {
    background-color: rgb(173, 255, 179)
}

.consume-block {
    display: inline-block;
    background-color: #100007;
    border: 1px solid azure;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 100%;
}

.consume-form {
    color: azure;
}

.consume-img {
    height: 45px;
    width: 45px;
    vertical-align: top;
    background-size: contain;
}

.consume-title {
    display: inline-block;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    margin-right: 1px;
    width: 150px;
}

.selected {
    color: black;
    background-color: azure;
}

.navbar {
    opacity: .95;
}

.total-materials {
    font-size: 100%;
    text-align: left;
    background-color: azure;
    padding-left: 5px;
}

.totalTitle {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: black;
    border-radius: 2px;
    border: 1px azure solid;
    color: azure;
}

.footer {
    width: 100%;
    height: 3vh;
    bottom: 0;
    left: 0;
    background-color: black;
}

.topBar {
    width: 100%;
    height: 3vh;
    top: 0;
    left: 0;
    background-color: black;
}

@font-face {
    font-family: 'MetalMacabre';
    src: url('/assets/fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Quattro';
    src: url('/assets/fonts/Quattrocento-Regular.ttf');
}

.navbar-brand {
    font-family: MetalMacabre;
    font-size: 200%;
    color: rgb(255, 54, 4) !important
}


.container {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
    background-color: black;
}

.nav-link {
    background-color: #030001e1;
    font-size: 120%;
    border: 1px solid azure; 
    border-radius: 5px;
    min-width: 165px;
    color: azure !important;
    font-family: Quattro
   }

.nav-link:hover {
    background-color: azure;
    border: 1px solid #030001e1; 
    color: #030001e1 !important;
    font-family: Quattro
   }

.page-title {
    font-family: MetalMacabre;
    font-size: 200%;
    color: azure;
    padding-top: 15px
}