
.itemslot {
    height: 55px;
    width: 55px;
    background-size: cover;
    margin-bottom: 5px;
}

.enchantOptions {
    background-image: url("assets/images/textured_background.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px #100007 solid;
    width: 100%
}

.bookImg {
    background-image: url("assets/images/enchanted_book_3_small.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    min-height: 180px;
}

 .totalContainer {
    background-image: url("assets/images/textured_background_white.png");
    background-size: cover;
    padding: 10px;
    border-radius: 5px;
    border: 1px azure solid;
    min-height: 250px;
} 

.results {
    font-size: 100%;
    text-align: left;
    background-color: azure;
    padding-left: 5px;
}

.enchantOption {
    font-size: 90%;
    color: white;
    margin-top: 20px;
    margin: 5px;
    cursor: pointer;
    border: 2px black solid;
    background-color: black;
    display: block;
    text-overflow: ellipsis;
    border-radius: 4px;
    align-items: center;
}

.enchantOption:hover {
    background-color: grey;
}

.totalTitle {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: black;
    border-radius: 2px;
    border: 1px azure solid;
    color: azure;
}

.enchant-slot-title {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: azure;
    border-radius: 2px;
    border: 1px black solid
}

.mainDisplay {
    max-width: 480px;
    min-width: 360px;
}

.selected-enchant {
    padding-top: 10px;
}

.enchantInfo {
    font-size: 100%;
    padding: 1px;
    margin: 2px;
    background-color: azure;
    border-radius: 2px;
    border: 1px black solid;
}

.enchantable {
    cursor: pointer;
}

.focus {
    border: 3px greenyellow solid
}

#belt {
    background-image: url("assets/images/belt.png")
}

#bracers {
    background-image: url("assets/images/bracers.png")
}

#cloak {
    background-image: url("assets/images/cloak.png")
}

#ring {
    background-image: url("assets/images/ring.png")
}

#gloves {
    background-image: url("assets/images/gloves.png")
}

#head {
    background-image: url("assets/images/head.png")
}

#legs {
    background-image: url("assets/images/legs.png")
}

#mainhand {
    background-image: url("assets/images/mainhand.png")
}

#offhand {
    background-image: url("assets/images/offhand.png")
}

#ranged {
    background-image: url("assets/images/ranged.png")
}

#shoulders {
    background-image: url("assets/images/shoulders.png")
}
#tabard {
    background-image: url("assets/images/tabard.png")
}
#trinket {
    background-image: url("assets/images/trinket.png")
}

#neck {
    background-image: url("assets/images/neck.png")
}

#chest {
    background-image: url("assets/images/chest.png")
}

#shirt {
    background-image: url("assets/images/shirt.png")
}

#pants {
    background-image: url("assets/images/pants.png")
}

#boots {
    background-image: url("assets/images/boots.png")
}

.not-enchantable {
    opacity: 0.5;
}



.delete {
    float: left;
    font-size: 90%;
    background-color: black;
    color: azure;
    border: none;
    cursor: pointer;
}

.delete:focus {
    outline:0;
}

.delete:hover {
    color: black;
    background-color: red;
}