body {
    height: 100vh;
    text-align: center;
    font-size: 100%;
    background-color: grey;
    background-image: url("assets/images/alterac_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Quattro;
}

.itemslot {
    height: 55px;
    width: 55px;
    background-size: cover;
    margin-bottom: 5px;
}

.enchantOptions {
    background-image: url("assets/images/textured_background.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px #100007 solid;
    width: 100%
}

.bookImg {
    background-image: url("assets/images/enchanted_book_2.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    min-height: 180px;
}

 .totalContainer {
    background-image: url("assets/images/textured_background_white.png");
    background-size: cover;
    padding: 10px;
    border-radius: 5px;
    border: 2px black solid;
    min-height: 250px;
} 

.results {
    font-size: 100%;
    text-align: left;
    background-color: azure;
    padding-left: 5px;
}

.navbar {
    opacity: .95;
}

.enchantOption {
    font-size: 100%;
    color: white;
    margin-top: 20px;
    margin: 5px;
    cursor: pointer;
    border: 2px black solid;
    background-color: black;
    display: block;
    text-overflow: ellipsis;
    border-radius: 4px;
    align-items: center;
}

.enchantOption:hover {
    background-color: grey;
}

.totalTitle {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: black;
    border-radius: 2px;
    border: 1px azure solid;
    color: azure;
}

.enchant-slot-title {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: azure;
    border-radius: 2px;
    border: 1px black solid
}

.mainDisplay {
    max-width: 480px;
    min-width: 360px;
}

.selected-enchant {
    padding-top: 10px;
}

.enchantInfo {
    font-size: 100%;
    padding: 1px;
    margin: 2px;
    background-color: azure;
    border-radius: 2px;
    border: 1px black solid;
}

.enchantable {
    cursor: pointer;
}

.focus {
    border: 3px greenyellow solid
}

#belt {
    background-image: url("assets/images/belt.png")
}

#bracers {
    background-image: url("assets/images/bracers.png")
}

#cloak {
    background-image: url("assets/images/cloak.png")
}

#ring {
    background-image: url("assets/images/ring.png")
}

#gloves {
    background-image: url("assets/images/gloves.png")
}

#head {
    background-image: url("assets/images/head.png")
}

#legs {
    background-image: url("assets/images/legs.png")
}

#mainhand {
    background-image: url("assets/images/mainhand.png")
}

#offhand {
    background-image: url("assets/images/offhand.png")
}

#ranged {
    background-image: url("assets/images/ranged.png")
}

#shoulders {
    background-image: url("assets/images/shoulders.png")
}
#tabard {
    background-image: url("assets/images/tabard.png")
}
#trinket {
    background-image: url("assets/images/trinket.png")
}

#neck {
    background-image: url("assets/images/neck.png")
}

#chest {
    background-image: url("assets/images/chest.png")
}

#shirt {
    background-image: url("assets/images/shirt.png")
}

#pants {
    background-image: url("assets/images/pants.png")
}

#boots {
    background-image: url("assets/images/boots.png")
}

.not-enchantable {
    opacity: 0.5;
}

.footer {
    width: 100%;
    height: 3vh;
    bottom: 0;
    left: 0;
    background-color: black;
}

@font-face {
    font-family: 'MetalMacabre';
    src: url('/assets/fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Quattro';
    src: url('/assets/fonts/Quattrocento-Regular.ttf');
}

.navbar-brand {
    font-family: MetalMacabre;
    font-size: 200%;
    color: rgb(255, 54, 4) !important
}


.container {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
    background-color: black;
}

.mainBody {
    min-height: 100vh;
    align-content: center;
   }

.nav-link {
    background-color: #030001e1;
    font-size: 120%;
    border: 1px solid azure; 
    border-radius: 5px;
    min-width: 165px;
    color: azure !important;
    font-family: Quattro
   }

.nav-link:hover {
    background-color: azure;
    border: 1px solid #030001e1; 
    color: #030001e1 !important;
    font-family: Quattro
   }

.page-title {
    font-family: MetalMacabre;
    font-size: 200%;
    color: azure;
    padding-top: 15px
}

.delete {
    float: left;
    font-size: 90%;
    background-color: black;
    color: azure;
    border: none;
    cursor: pointer;
}

.delete:focus {
    outline:0;
}

.delete:hover {
    color: black;
    background-color: red;
}