

body {
    height: 100vh;
    text-align: center;
    font-size: 100%;
    background-image: url("assets/images/tileable_texture3.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Quattro;
}

.navbar {
    opacity: .95;
}


.footer {
    width: 100%;
    height: 3vh;
    bottom: 0;
    left: 0;
    background-color: black;
}

@font-face {
    font-family: 'MetalMacabre';
    src: url('assets/fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Quattro';
    src: url('assets/fonts/Quattrocento-Regular.ttf');
}

.navbar-brand {
    font-family: MetalMacabre;
    font-size: 200%;
    color: rgb(255, 54, 4) !important;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

.navbar-toggler {
    background-color: black;
    border: 1px gray solid !important
}


.container {
    background-color: rgba(0, 0, 0, 0.4);

}


.class-filter {
    padding: 5px;
    font-size: 110%;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    margin-left: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;

    background-position: 0 100%;
    background-size: 100% 200%;
    transition: all .2s ease-in;
    /* background-image: linear-gradient(to bottom, azure, azure 50%, transparent 50%, transparent); */
    /* background-position: 95 100%;
    background-size: 100% 105%;
    transition: all .2s ease-in; */
}

.class-filter:hover {
    color: black !important;
    /* padding: 5px; */
    font-size: 110%;
    border-right: 1px solid #9FA3A9;
    border-left: 1px solid #9FA3A9;
    border-top: 1px solid #9FA3A9;
    /* margin-left: 5px; */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: azure;
    /* animation */
    background-position: 0 0;
}
.class-filter.selected {

    border-right: 1px solid #ff3604;
    border-left: 1px solid #ff3604;
    border-top: 1px solid #ff3604;
}

.class-selection {
    justify-content: center;
    /* padding-left: 35%; */
}

@media only screen and (max-width: 768px) {

    .container {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .class-filter {
      background-position: 95 100%;
      background-size: 100% 105%;
      transition: all .2s ease-in;
      font-size: 0;
    }

    .class-filter:hover {
      background-position: 95 100%;
      font-size: 0;
    }

    .class-icon {
        height: 36px;
        width: 36px;
        top: 4px;
        left: 4px;
    }

    #warrior {
        background-image: url("assets/images/icons/class_warrior.jpg");
        color: rgb(179, 113, 113);
    }

    #mage {
        background-image: url("assets/images/icons/class_mage.jpg");
        color: rgb(80, 185, 255);
    }

    #druid {
        background-image: url("assets/images/icons/class_druid.jpg");
        color: rgb(253, 136, 39);
    }

    #paladin {
        background-image: url("assets/images/icons/class_paladin.jpg");
        color: rgb(255, 147, 232);
    }

    #shaman {
        background-image: url("assets/images/icons/class_shaman.jpg");
        color: rgb(57, 57, 255);
    }

    #warlock {
        background-image: url("assets/images/icons/class_warlock.jpg");
        color: rgb(150, 44, 236);
    }

    #priest {
        background-image: url("assets/images/icons/class_priest.jpg");
        color: white;
    }

    #hunter {
        background-image: url("assets/images/icons/class_hunter.jpg");
        color: rgb(15, 194, 54);
    }

    #rogue {
        background-image: url("assets/images/icons/class_rogue.jpg");
        color: rgb(252, 252, 80);
    }
  }

.navbar {
    /* background-color: black; */
    background-image: url('assets/images/block_texture.jpg');
    border-top: 2px black solid;
    border-bottom: 2px black solid;
}

.mainBody {
    min-height: 80vh;
    align-content: center;
   }

.nav-link {
    font-size: 120%;
    min-width: 165px;
    color: azure !important;
    font-family: Quattro;
    -webkit-transition: background .3s ease-in-out;
       -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
   }

.nav-link:hover {
    outline: none;
    background-color: transparent;
    color: #9FA3A9 !important;
    font-family: Quattro

    /* color: #030001e1 !important; */
    /* background-color: azure;
    border: 1px solid #030001e1;
    color: #030001e1 !important; */
   }

.page-title {
    font-family: MetalMacabre;
    font-size: 200%;
    color: azure;
    padding-top: 15px
}
.page-description {
    color: azure
}

.dark-bricks {
    background-image: url(assets/images/block_texture_dark.jpg)
}


/* ~~~~~~~~~~~~~~~ Class Colors ~~~~~~~~~~~~~~~~~~ */

#warrior {
    color: rgb(179, 113, 113)
}

#mage {
    color: rgb(80, 185, 255);
}

#druid {
    color: rgb(253, 136, 39)
}

#paladin {
    color: rgb(255, 147, 232);
}

#shaman {
    color: rgb(57, 57, 255);
}

#warlock {
    color: rgb(150, 44, 236);
}

#priest {
    color: white;
}

#hunter {
    color: rgb(15, 194, 54);
}

#rogue {
    color: rgb(252, 252, 80);
}

.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
    background-color: gray;
}

ul {
    list-style-type: none;
}

.mainHeader {
    text-align: left;
    color: azure
}
