

body {
    height: 100vh;
    text-align: center;
    font-size: 100%;
    background-color: grey;
    background-image: url("assets/images/tileable_texture3.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: Quattro;
}

.navbar {
    opacity: .95;
}


.footer {
    width: 100%;
    height: 3vh;
    bottom: 0;
    left: 0;
    background-color: black;
}

@font-face {
    font-family: 'MetalMacabre';
    src: url('assets/fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Quattro';
    src: url('assets/fonts/Quattrocento-Regular.ttf');
}

.navbar-brand {
    font-family: MetalMacabre;
    font-size: 200%;
    color: rgb(255, 54, 4) !important;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

.navbar-toggler {
    background-color: black;
    border: 1px gray solid !important
}


.container {
    background-color: rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 600px) {
    .container {
        background-color: rgba(0, 0, 0, 0.1);
    }
  }

.navbar {
    background-color: black;
    background-image: url('assets/images/block_texture.jpg');
    border: 2px black solid;
}

.mainBody {
    min-height: 80vh;
    align-content: center;
   }

.nav-link {
    background-color: #030001e1;
    font-size: 120%;
    border: 1px solid azure; 
    border-radius: 5px;
    min-width: 165px;
    color: azure !important;
    font-family: Quattro
   }

.nav-link:hover {
    background-color: azure;
    border: 1px solid #030001e1; 
    color: #030001e1 !important;
    font-family: Quattro
   }

.page-title {
    font-family: MetalMacabre;
    font-size: 200%;
    color: azure;
    padding-top: 15px
}
.page-description {
    color: azure
}



/* ~~~~~~~~~~~~~~~ Class Colors ~~~~~~~~~~~~~~~~~~ */

#warrior {
    color: rgb(179, 113, 113)
}

#mage {
    color: rgb(80, 185, 255);
}

#druid {
    color: rgb(253, 136, 39)
}

#paladin {
    color: rgb(255, 147, 232);
}

#shaman {
    color: rgb(57, 57, 255);
}

#warlock {
    color: rgb(150, 44, 236);
}

#priest {
    color: white;
}

#hunter {
    color: rgb(15, 194, 54);
}

#rogue {
    color: rgb(252, 252, 80);
}

.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
    background-color: gray;
}