body {
    text-align: center;
    background-color: grey;
    font-size: 100%;
}
div {
    border: 1px black
}

.itemslot {
    height: 40px;
    width: 40px;
    background-size: cover;
}

.results {
    background-color: antiquewhite;
    min-height:  60px;
    margin: 20px;
    overflow-y: auto;
}

.rightSideBar, .leftSideBar{
    border: 3px black solid
}

.enchantOption {
    font-size: 80%;
    height: 50px;
    width: 50px;
    color: white;
    margin-top: 20px;
    padding-top: 10px;
    margin: 10px;
    cursor: pointer;
    border: 2px black solid;
    background-color: black;
    display: inline-block;
    vertical-align: top;
}

.enchant-slot-title {
    font-size: 120%;
    width: 50px;
    font-style: bold;
    margin: 10px;
}

.mainDisplay {
    min-width: 400px;
    max-width: 400px;
}

.selected-enchant {
    padding-top: 10px;
}

.enchantable {
    cursor: pointer;
}

.focus {
    border: 3px greenyellow solid
}

#belt {
    background-image: url("/assets/images/belt.png")
}

#bracers {
    background-image: url("/assets/images/bracers.png")
}

#cloak {
    background-image: url("/assets/images/cloak.png")
}

#ring {
    background-image: url("/assets/images/ring.png")
}

#gloves {
    background-image: url("/assets/images/gloves.png")
}

#head {
    background-image: url("/assets/images/head.png")
}

#legs {
    background-image: url("/assets/images/legs.png")
}

#mainhand {
    background-image: url("/assets/images/mainhand.png")
}

#offhand {
    background-image: url("/assets/images/offhand.png")
}

#ranged {
    background-image: url("/assets/images/ranged.png")
}

#shoulders {
    background-image: url("/assets/images/shoulders.png")
}
#tabard {
    background-image: url("/assets/images/tabard.png")
}
#trinket {
    background-image: url("/assets/images/trinket.png")
}

#neck {
    background-image: url("/assets/images/neck.png")
}

#chest {
    background-image: url("/assets/images/chest.png")
}

#shirt {
    background-image: url("/assets/images/shirt.png")
}

#pants {
    background-image: url("/assets/images/pants.png")
}

#boots {
    background-image: url("/assets/images/boots.png")
}

.not-enchantable {
    opacity: 0.5;
}