.talent {
    min-width: 40px;
    height: 40px;
    background-color: royalblue;
    border: 1px solid black;
    position: relative;
}

.openSlot {
    min-width: 40px;
    height: 40px;
    position: relative;
}
.talentTable {
    border-collapse: separate;
    border-spacing: 15px;
    background-color: grey;
}

.treeTitle {
    color: azure;
}

.spentPoints {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -6px;
    right : -6px;
    border: 1px greenyellow solid;
    background-color: black;
    color: yellowgreen;
    text-align: center;
    line-height: 14px;
}

.locked {
    background-color: grey;
}