
.list-group-item {
    width: 152px;
    height: 60px;
    margin-left: -76px;
    font-size: 100%;
    line-height: 3.5;
    border: none;
    background-color: transparent;
    display: initial;
    color: rgb(76, 87, 104);
    cursor: pointer;
    transition: all .1s ease-in;
    position: absolute;
    top: 10%;
    left: 50%;
    text-align: center;
}

.list-group-item.active {
  border: none;
  background-color: transparent;
  text-shadow: -0.01rem -0.01rem 0.01rem #000, 0.01rem -0.01rem 0 #000;
}

.list-group-item:hover {
  border-color: transparent;
        text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.information-container {
}

.content-list {
    padding: 0;
}

.information-selector {
    padding-right: 0;
}



.information-selection {
    margin-left: 15px;
    width: 152px;
    min-height: 60px;
    margin-bottom: -6px;
    padding-right: 0px !important;
    color: #9FA3A9;
    background-image: url(../images/hanging_sign_small.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    transition: all .1s ease-in;
}


.information-selection.selected{
    color: azure !important;
    background-image: url(../images/hanging_sign_small_selected.png);
}

.information-selection:hover {

    color: azure !important;
    background-image: url(../images/hanging_sign_small_selected.png);
}


.information-block {
    background-image: url("../images/textured_background_dark.png");
    background-size: cover;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 10px dotted;
    border-image-source: url('../images/wow_menu_border.png');
    border-image-slice: 10;
}


.content-description {
    color: azure;
    text-align: left;
    font-size: 120%;
    min-height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.calcLink {
    margin: auto;
    font-size: 120%;
}

.content-title {
    color:  azure;
    font-size: 250%;
    text-align: center;
    padding: 10px;
}

.description-text {
    padding-top: 10px;
}

.instructor {
    color:  azure;
}

.content {
    background-size: contain;
    background-repeat: no-repeat;
}

.content-selection-container {
    text-align: left;
    font-size: 12px;
    padding-right:0;
    top: 96px;
    margin-left: 10px;
}

@media only screen and (max-width: 1199px) {

    .information-selection {
        margin-left: 0;
    }
  }
