
.consume-container {
    background-image: url("../images/alch_table_transparent_smaller.png");
    background-size: cover;
    border-radius: 5px;
    border: 1px azure solid;
    min-height: 58vh;
    padding: 10px;
}

.total-container {
    background-image: url("../images/textured_background_white.png");
    background-size: cover;
    border-radius: 5px;
    border: 1px azure solid;
}


.consume-input {
    display: block;
    background-color: rgba(240, 240, 240, 0.87);
    text-align: center;
    width: 100%;
}

input:focus {
    background-color: rgb(173, 255, 179)
}

.consume-block {
    display: inline-block;
    background-color: #100007;
    border: 1px solid azure;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 100%;
}

.consume-form {
    color: azure;
}

.consume-img {
    height: 45px;
    width: 45px;
    vertical-align: top;
    background-size: contain;
}

.consume-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    margin-right: 1px;
    width: 134px;
}

.selected {
    color: black !important;
    background-color: azure;
}


.total-materials {
    font-size: 100%;
    text-align: left;
    background-color: azure;
    padding-left: 5px;
}

.totalTitle {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: black;
    border-radius: 2px;
    border: 1px azure solid;
    color: azure;
}







@media only screen and (max-width: 600px) {




    .selected {
        color: black;
        background-color: azure;
    }

  }





.consumePrompt {
    background-color: #030001e1;
    font-size: 120%;
    border: 1px solid azure;
    border-radius: 5px;
    color: azure !important;
    font-family: Quattro;
    padding: 5px;
    margin: 50px;
}
