
.consume-container {
    background-image: url("../images/alch_table_transparent_smaller.png");
    background-size: cover;
    padding: 10px;
}

.total-container {
    background-image: url("../images/textured_background_white.png");
    background-size: cover;
    border-radius: 5px;
    border: 1px black solid;
    min-height: 200px;
}


.consume-input {
    display: block;
    background-color: rgba(240, 240, 240, 0.87);
    text-align: center;
    width: 100%;
}

input:focus {
    background-color: rgb(173, 255, 179)
}

/* a.crafted-list-item {
    pointer-events: auto;
    text-decoration: none;
}

a.crafted-list-item:hover {
    pointer-events: auto;
    color: inherit;
} */



/* .crafted-name {
    pointer-events: none;
} */

.blue {
    color: rgba(0, 37, 255, 1);
}

.circle {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(44, 108, 128);
    position: relative;
}

.circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: rgba(240, 255,255,0.95);
    height: 13px;
    margin-top: -7px;
    top: 50%;
    left: 6px;
    right: 6px;
    z-index: 9;
}

.circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: rgba(240, 255,255,0.95);
    width: 11px;
    margin-left: -6px;
    left: 50%;
    top: 6px;
    bottom: 6px;
    z-index: 9;
}

#totals-divider {
    margin: 2px 6px 12px 6px;
    border-color: rgba(240, 255,255,0.95);

}

.prof-header > div{
    border-top: 2px groove black;
    border-bottom: 2px groove black;
    border-left: 1px aliceblue solid;
    border-right: 1px aliceblue solid;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1px;
}

.prof-header > div:first-child{
    border-left: none;
}

.prof-header > div:last-child{
    border-right: none;
}

.prof-item-recipe {
    font-size: 90%;
    margin-top: 1px;
    cursor: pointer;
    border: 2px black solid;
    background-color: black;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    /* align-items: center; */
    pointer-events: auto;
    text-indent: 15px;
}

.prof-item-recipe img,span{
    pointer-events: none;
}

.background-diff {
    background-color: inherit;
}


#recipe_list {
    overflow-y: scroll;
    text-align: left;
    pointer-events: none;
}

#total_materials {
    overflow-y: scroll;
    text-align: left;
    pointer-events: none;
}

#total_crafted {
    overflow-y: scroll;
    text-align: left;
    pointer-events: none;
}

.crafted-list-item {
    font-size: 95%;
    margin-top: 1px;
    cursor: pointer;
    border: 2px black solid;
    background-color: black;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    /* align-items: center; */
    pointer-events: auto;
    /* text-indent: 15px; */
}

/* .crafted-list-item img,span{
    pointer-events: none;
} */



.materials-list-item {
    font-size: 95%;
    margin-top: 1px;
    border: 2px black solid;
    background-color: black;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    pointer-events: auto;
    text-indent: 15px;
}

.materials-list-item.amount{
    pointer-events: none;
}

.materials-list *{
    text-indent: 30px;
}

button.saveConsumeList{
    background-image: url(../images/icons/save_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image:  contain no-repeat; */
    height: 18px;
    width: 16px;
    border: none;
    margin-right: 4px;
    vertical-align: text-bottom;
    background-color: transparent;
}

a.saveConsumeList{
    cursor: pointer;
}

#consumeListName {
    width: 65%;
    font-size: 12px;
    padding-left: 5px;
}

#saveConsumeList >* {
    width: 100%;
    margin-left: 10px;
}



.saved-list{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #343a40;
    user-select: none;
    cursor: pointer;
    text-align: left;
    max-width: 188px;
    margin-bottom: 1px;
    padding-top: 2px;
}

.saved-list:hover{
    background-color: #6d6e70;
}

.saved-list.selected{
    background-color: rgba(0,0,120, 1);
    border-top: 2px black solid;
}

.saved-list.selected:hover{
    background-color: rgba(10,10,160, 1);
}

.savedListsContainer{
    padding: 5px;
    padding-top: 0px;
    background-image: url(../images/naga_sketch.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 1px 0;
    border-radius: 1px;
    border-right: 6px solid whitesmoke;
}

/* .savedSpecsTitle {
    font-size: 14px;
    color: azure;
    border-bottom: 1px solid azure;
    margin-left: 4px;
    margin-bottom: 8px;
    padding-bottom: 4px;
} */

.savedLists{
    color: rgba(240, 255, 255, 0.95);
    position: fixed;
    z-index: 1025;
    background-color: rgba(0, 0, 0, 0.95);
    padding-left: 10px;
    top: 173px;
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
    max-width: 200px;
    min-width: 200px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    transform: translateX(-85%);
    -webkit-transform: translateX(-85%);
    animation: slide-in 1s forwards;
    -webkit-animation: slide-in 1s forwards;
    border-bottom: 5px solid #909caf;
    border-top: 3px solid #909caf;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    box-shadow: -0.01rem -0.01rem 0.1rem 0.1rem black;
    text-align: left;
    text-indent: 10px;
}

.minimized{
    animation: slide-out 1s forwards, glowing 5000ms 0.9s infinite alternate-reverse, glowing-text 5000ms 0.9s infinite;
    -webkit-animation: slide-out 1s forwards, glowing 5000ms 0.9s infinite alternate-reverse, glowing-text 5000ms 0.9s infinite alternate-reverse;
}

.savedLists::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.side-nav-trigger{
    max-width: 20px;
    width: 20px;
    padding: 0;
    border: 1px black solid;
    background-image: linear-gradient(to right,rgb(20, 20, 20), black,rgb(20, 20, 20));
    background-repeat: no-repeat;
}
.side-nav-trigger:hover{
    background-image: linear-gradient(to right,rgb(25, 25, 25), rgb(35, 35, 35),rgb(25, 25, 25));
}

.trigger-icon{
    /* background: url(../images/icons/medium/side_toggle_arrow_alt.png); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 34px;
    width: 18px;
    position: sticky;
    position: -webkit-sticky;
    top: 44%;
    pointer-events: none;
    font-size: 18px;
    color: rgba(240, 255, 255, 0.95);
}

.iconSwitch{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-85%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-85%); }
}

.form-check-label {
    position: relative;
    right: 5px;
}

@keyframes glowing {



  0% { box-shadow: -0.01rem -0.01rem 0.5rem 1px rgba(165, 165, 243, 0.15), -0.02rem -0.02rem 0.5rem 1px rgba(211, 158, 0, 0.1), -0.01rem -0.01rem 0.1rem 0.1rem black; }
  10% { box-shadow: -0.01rem -0.01rem 0.5rem 1px rgba(165, 165, 243, 0.25), -0.02rem -0.02rem 0.5rem 1px rgba(211, 158, 0, 0.2), -0.01rem -0.01rem 0.1rem 0.1rem black; }
  20% { box-shadow: -0.01rem -0.01rem 0.5rem 1px rgba(165, 165, 243, 0.35), -0.01rem -0.01rem 0.5rem 1px rgba(211, 158, 0, 0.3), -0.01rem -0.01rem 0.1rem 0.1rem black; }
  40% { box-shadow: 0.02rem 0.02rem 0.5rem 1px rgba(165, 165, 243, 0.55), 0.04rem 0.04rem 0.5rem 1px rgba(211, 158, 0, 0.4), -0.01rem -0.01rem 0.1rem 0.1rem black; }
  65% { box-shadow: 0.02rem 0.02rem 0.5rem 1px rgba(165, 165, 243, 0.55), 0.04rem 0.04rem 0.5rem 1px rgba(211, 158, 0, 0.4), -0.01rem -0.01rem 0.1rem 0.1rem black; }
  85% { box-shadow: -0.01rem -0.01rem 0.5rem 1px rgba(165, 165, 243, 0.30), -0.02rem -0.02rem 0.5rem 1px rgba(211, 158, 0, 0.3), -0.01rem -0.01rem 0.1rem 0.1rem black; }
  100% { box-shadow: -0.01rem -0.01rem 0.5rem 1px rgba(165, 165, 243, 0.15), -0.01rem -0.01rem 0.5rem 1px rgba(211, 158, 0, 0.2), -0.01rem -0.01rem 0.1rem 0.1rem black; }

}


.savedConsumeList {
    margin: 8px 0px 8px 5px;
}

.saveConsumeList {
    padding: 0;
    line-height: inherit;
}


.pageColumn {
    padding-left: 1px;
    padding-right: 1px;
}
