
.consume-container {
    background-image: url("../images/alch_table_transparent_smaller.png");
    background-size: cover;
    border-radius: 5px;
    border: 1px azure solid;
    min-height: 58vh;
    padding: 10px;
}

.total-container {
    background-image: url("../images/textured_background_white.png");
    background-size: cover;
    border-radius: 5px;
    border: 1px azure solid;
    min-height: 200px;
}


.consume-input {
    display: block;
    background-color: rgba(240, 240, 240, 0.87);
    text-align: center;
    width: 100%;
}

input:focus {
    background-color: rgb(173, 255, 179)
}

.consume-block {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.89);
    border: 1px solid azure;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    font-size: 100%;
}

.consume-form {
    color: azure;
}

.consume-img {
    height: 45px;
    width: 45px;
    background-size: contain;
}

.consume-title {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
    margin-right: 1px;
    width: 195px;
}

.consumePrompt {
    background-color: #030001e1;
    font-size: 120%;
    border: 1px solid azure;
    border-radius: 5px;
    color: azure !important;
    font-family: Quattro;
    padding: 5px;
    margin: 50px;
}

.consume-tooltip{
    font-size: 100%;
    width: 245px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.89);
    color: #1EFF00;
    pointer-events: none;
    border: 1px solid azure;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    z-index: 999;
}

.tooltip-hidden{
    display: none
}

.icon-container{
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.category-container {
 border: 2px solid black;
 margin-bottom: 10px;
 background-color: rgba(0, 0, 0, 0.6);
 border-radius: 5px
}

.category-title {
 font-size: 120%;
 border: 1px solid black;
 background-color: rgba(53, 53, 53, 0.4);
 margin-bottom: 10px;
}

.result-consume {
    font-size: 100%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(22, 22, 22, 0.6);
    margin-bottom: 10px;
    color: azure;
    width: 253px;
    display: inline-block
}

.total-materials {
    font-size: 100%;
    text-align: left;
    background-color: azure;
    padding-left: 5px;
    color: black;
}

.totalTitle {
    font-size: 100%;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 5px;
    border: 1px black solid;
    color: azure;
}