
.about-section {
    color: azure;
    text-align: center;
    padding: 10px;
}

#name {
    width: 100%;
}

#subject {
    width: 100%;
}

#message {
    width: 100%;
}

.formContainer{
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 10px
}