
.about-section {
    color: azure;
    text-align: center;
    padding: 10px;
}

#name {
    width: 100%;
}

#subject {
    width: 100%;
}

#message {
    width: 100%;
}

.formContainer{
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 10px
}

.discordLink {
    background-image: url(../images/icons/discord_link.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 160px;
    cursor: pointer;
    position: relative;
}

.discordLink:hover{
    filter: invert(100%)
}

.clickable {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;     
    z-index: 1;
  }