
.itemslot {
    height: 55px;
    width: 55px;
    background-size: cover;
    margin-bottom: 5px;
}

.enchantOptions {
    background-image: url("../images/textured_background.png");
    background-size: cover;
    border-radius: 5px;
    border: 2px black solid;
    width: 100%
}

.bookImg {
    background-image: url("../images/enchanted_book_3_small.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5px;
    min-height: 180px;
}

 .totalContainer {
    background-image: url("../images/textured_background.png");
    background-size: cover;
    padding: 10px;
    border-radius: 5px;
    border: 1px azure solid;
    min-height: 250px;

    color: #1EFF00;
    border: 1px solid #b6bbc0;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61),  0px 0px 1px 1px rgba(64, 64, 104, 0.4);
}

.results {
    font-size: 100%;
    text-align: left;
    /* background-color: azure; */
    padding-left: 5px;
    pointer-events: none;
}

.enchantOption {
    font-size: 90%;
    color: white;
    margin-top: 20px;
    margin: 5px;
    cursor: pointer;
    border: 2px black solid;
    background-color: black;
    display: block;
    text-overflow: ellipsis;
    border-radius: 4px;
    align-items: center;
}

.enchantOption:hover {
    background-color: grey;
}

.totalTitle {
    font-size: 100%;
    font-style: bold;
    margin: 10px;
    padding: 2px;
    background-color: black;
    border-radius: 2px;
    border: 1px azure solid;
    color: azure;
}

.enchant-slot-title {
    color: rgba(240, 255, 255, .85);
    font-size: 100%;
    margin: 10px;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #b6bbc0;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61), 0px 0px 1px 1px rgba(64, 64, 104, 0.4);
}

.mainDisplay {
    max-width: 480px;
    min-width: 360px;
}

.selected-enchant {
    padding-top: 10px;
}

.enchantInfo {
    font-size: 100%;
    padding: 1px;
    margin: 2px;
    background-image: url("../images/textured_background.png");
    border-radius: 2px;
    border: 1px solid #b6bbc0;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61),  0px 0px 1px 1px rgba(64, 64, 104, 0.4);
    color: #1EFF00;

}

/* .totalContainer {
   background-size: cover;
   padding: 10px;
   border-radius: 5px;
   border: 1px azure solid;
   min-height: 250px;
} */

.enchantable {
    cursor: pointer;
}

.focus {
    border: 3px greenyellow solid
}

#belt {
    background-image: url("../images/equipment_slots/belt.png")
}

#bracers {
    background-image: url("../images/equipment_slots/bracers.png")
}

#cloak {
    background-image: url("../images/equipment_slots/cloak.png")
}

#ring {
    background-image: url("../images/equipment_slots/ring.png")
}

#gloves {
    background-image: url("../images/equipment_slots/gloves.png")
}

#head {
    background-image: url("../images/equipment_slots/head.png")
}

#legs {
    background-image: url("../images/equipment_slots/legs.png")
}

#mainhand {
    background-image: url("../images/equipment_slots/mainhand.png")
}

#offhand {
    background-image: url("../images/equipment_slots/offhand.png")
}

#ranged {
    background-image: url("../images/equipment_slots/ranged.png")
}

#shoulders {
    background-image: url("../images/equipment_slots/shoulders.png")
}

#tabard {
    background-image: url("../images/equipment_slots/tabard.png")
}

#trinket {
    background-image: url("../images/equipment_slots/trinket.png")
}

#neck {
    background-image: url("../images/equipment_slots/neck.png")
}

#chest {
    background-image: url("../images/equipment_slots/chest.png")
}

#shirt {
    background-image: url("../images/equipment_slots/shirt.png")
}

#pants {
    background-image: url("../images/equipment_slots/pants.png")
}

#boots {
    background-image: url("../images/equipment_slots/boots.png")
}

.not-enchantable {
    opacity: 0.5;
}


.icon-small {
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 3px top 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
}



.enchant-tooltip {
    font-size: 100%;
    text-align: left;
    line-height: 17px;
    /* min-width: 100px; */
    position: absolute;
    left: 10px;
    bottom: 40px;
    background-color: rgba(0, 0, 30, 0.85) !important;
    color: #1EFF00;
    pointer-events: none;
    border: 1px solid #b6bbc0;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    z-index: 10250;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61),  0px 0px 1px 1px rgba(64, 64, 104, 0.4);
    padding-right: 5px;
}

.description{
    color: rgba(255, 205, 85, 1) !important;
    white-space: pre-line;
    padding-right: 5px;
}

.title{
    line-height: 15px;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}


.materials-name {
    /* color: black; */
    /* left: 18px; */
    position: absolute;
    left: 22px;
    pointer-events: auto;
    padding-left: 5px;
    top: 1px;
}

.materials-list {
    position: relative;
    margin-bottom: 4px;
}

.amount {
    font-size: 11px;
    position: relative;
    margin-right: 5px;
    left: -8px;
    top: 6px;
    text-decoration: none;
    color: azure;
    pointer-events: none;
    -webkit-text-stroke: 0.01rem black;
    z-index: 10;
}

.underlined {
    text-decoration: underline;
}

.tooltip-container {
    /* z-index: 999; */
    position: relative;
    /* left: -15px; */
    right: 120px;
    top: 40px;
}
