

body {
    height: 100vh;
    text-align: center;
    font-size: 12px;
    background-image: url("../images/tileable_texture_light.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
}

.footer {
    width: 100%;
    height: 3vh;
    bottom: 0;
    left: 0;
    background-color: black;
}

@font-face {
    font-family: 'MetalMacabre';
    src: url('../fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Quattro';
    src: url('../fonts/Quattrocento-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Aeio';
    src: url('../fonts/aeio_goth.ttf');
}

.navbar-logo-text {
    font-family: Aeio;
    font-size: 30px;
    color: #ff3604 !important;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    vertical-align: bottom;
}

.navbar-toggler {
    background-color: black;
    border: 1px gray solid !important
}


.navbar {
    background-color: black;
    background-image: linear-gradient(rgb(20, 20, 20), black ,rgb(20, 20, 20));
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 1030;
}



.navbar-brand{
    padding-left: 15px;
}


.container {
    background-color: rgba(0, 0, 0, 0.4);

}


.class-filter {
    padding: 5px;
    font-size: 110%;
    /* border-right: 1px solid transparent; */
    /* border-left: 1px solid transparent; */
    /* border-top: 1px solid transparent; */
    margin-left: 5px;
    /* border-top-left-radius: 5px;
    border-top-right-radius: 5px; */
    cursor: pointer;

    background-position: 0 100%;
    background-size: 100% 200%;
    transition: all .2s ease-in;
    /* background-image: linear-gradient(to bottom, azure, azure 50%, transparent 50%, transparent); */
    background-position: 95 100%;
    background-size: 100% 105%;
    transition: all .2s ease-in;
    z-index: 5;
}


.class-filter.selected {
    color: inherit;
    border-top: 4px solid #ff3604;
    padding: 5px;
}

.class-filter:hover {
    color: inherit;
    border-top: 4px solid #ff3604;
    padding: 5px;
    background-color: transparent;

}


.class-selection {
    justify-content: center;
    font-size: 14px

}

.class-selection-sticky{
    background-color: black;
}

@media only screen and (max-width: 992px) {
    .container {
        background-color: rgba(0, 0, 0, 0.1);
        padding-top: 18px
    }

    /* NOTE-tbd */
    /* .nav-link:hover {
        background-image: -webkit-gradient(radial, right top, 10, 90% 0%, 150, from(rgba(255, 255, 255, .2)), to(transparent));
        background-image: -webkit-radial-gradient(right top, 150px 230px, rgba(255, 255, 255, .2), transparent);
        background-image: -moz-radial-gradient(right top, farthest-corner, rgba(255, 255, 255, .2) 0%, transparent 80%);
        z-index: -2;
    }
    .nav-link {
        text-align: right;
    } */

}

@media only screen and (max-width: 768px) {

    .container {
        background-color: rgba(0, 0, 0, 0.1);
        padding-top: 10px
    }

    .class-filter {
      background-position: 95 100%;
      background-size: 100% 105%;
      transition: all .2s ease-in;
      font-size: 0;
    }

    .class-filter.selected {
        border: 1px solid #ff3604
    }

    .class-filter:hover {
      background-position: 95 100%;
      font-size: 0;
    }

    .class-icon {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        margin-left: 0;
        margin: 2px
    }

    #warrior {
        background-image: url("../images/icons/class_warrior.jpg");
        color: #C79C6E;
    }

    #mage {
        background-image: url("../images/icons/class_mage.jpg");
        color: #40C7EB
    }

    #druid {
        background-image: url("../images/icons/class_druid.jpg");
        color: #FF7D0A
    }

    #paladin {
        background-image: url("../images/icons/class_paladin.jpg");
        color: #F58CBA
    }

    #shaman {
        background-image: url("../images/icons/class_shaman.jpg");
        color: #0070DE
    }

    #warlock {
        background-image: url("../images/icons/class_warlock.jpg");
        color: #8787ED
    }

    #priest {
        background-image: url("../images/icons/class_priest.jpg");
        color: #FFFFFF
    }

    #hunter {
        background-image: url("../images/icons/class_hunter.jpg");
        color: #ABD473
    }

    #rogue {
        background-image: url("../images/icons/class_rogue.jpg");
        color: #FFF569
    }
  }

.mainBody {
    min-height: 78vh;
    align-content: center;
   }

.nav-link {
    font-size: 14px;
    color: azure !important;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    -webkit-transition: background .3s ease-in-out;
       -moz-transition: background .3s ease-in-out;
            transition: background .3s ease-in-out;
    font-weight: bold
   }

.nav-link.active, .nav-link.selected {
    background-color: rgba(255, 255, 255, .2);
}

.nav-link:hover {
    outline: none;
    background-color: transparent;
    color: #ff3604 !important;
    /* background-color: rgba(255, 255, 255, .2); */
    /* color: #030001e1 !important; */
    /* background-color: azure;
    border: 1px solid #030001e1;
    color: #030001e1 !important; */
   }

.page-title {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: azure;
    padding-top: 60px;
}
.page-description {
    color: azure
}

.dark-bricks {
    background-image: url(../images/block_texture_dark.jpg)
}


/* ~~~~~~~~~~~~~~~ Class Colors ~~~~~~~~~~~~~~~~~~ */

#warrior {
    color: #C79C6E
}

#mage {
    color: #40C7EB
}

#druid {
    color: #FF7D0A
}

#paladin {
    color: #F58CBA
}

#shaman {
    color: #0070DE
}

#warlock {
    color: #8787ED
}

#priest {
    color: #FFFFFF
}

#hunter {
    color: #ABD473
}

#rogue {
    color: #FFF569
}

.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
    background-color: gray;
}

ul {
    list-style-type: none;
}

.mainHeader {
    text-align: left;
    color: azure
}


/* @media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        padding-right: 2px;
    }
} */


.navbar-nav .nav-link {
    padding-right: 2px;

    /* float: right; */
    /* width: 150px; */
}


/* .navbar.navbar-shrink {
    transition: background .3s ease-in-out, padding-top .3s ease-in-out, padding-bottom .3s;
    border-bottom: none;
    background: transparent;
    z-index: 0;
    text-align: right;
} */

/* .navbar.navbar-shrink .nav-link:hover {
    background-image: -webkit-gradient(radial, right top, 10, 90% 0%, 150, from(rgba(255, 255, 255, .2)), to(transparent));
    background-image: -webkit-radial-gradient(right top, 150px 230px, rgba(255, 255, 255, .2), transparent);
    background-image: -moz-radial-gradient(right top, farthest-corner, rgba(255, 255, 255, .2) 0%, transparent 80%);
    z-index: -2;
} */

.icon-container:active {
    transform: scale(.98);
        filter: saturate(120%);
        /* transition: all .05s ease-in-out; */

}

.delete {
    height: 18px;
    width: 18px;
    float: left;
    color: azure;
    border: none;
    cursor: pointer;
    margin-right: 6px;
    background-image: url(../images/icons/small/reset.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
      -o-filter: grayscale(60%);
     -ms-filter: grayscale(60%);
         filter: grayscale(60%);
}

.delete:focus {
    outline:0;
}

.delete:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
     -ms-filter: grayscale(0%);
         filter: grayscale(0%);
}
