
html {
    position: relative;
    min-height: 100vh;
  }

body {
    color: rgba(240,255,255,0.95);
    text-align: center;
    font-size: 12px;
    background-image: url("../images/tileable_texture_light.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    margin-bottom: 3vh;
    margin-top: 53px;
}

.footer {
    width: 100%;
    height: 3vh;
    position: absolute;
    bottom: 0;
    background-color: black;
    background-image: linear-gradient(rgb(20, 20, 20), black ,rgb(20, 20, 20));
}

.container {
    background-color: rgba(0, 0, 0, 0.4);

}

.mainBody {
    min-height: 79.9vh;
    align-content: center;
   }

.page-title {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 300%;
    color: azure;
}
.page-description {
    color: azure;
    font-size: 12px;
}

.titleSplash {
    background-image: url(../images/title_splash.png);
    background-size: cover;
    color: azure;
}

@font-face {
    font-family: 'MetalMacabre';
    src: url('../fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Quattro';
    src: url('../fonts/Quattrocento-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Aeio';
    src: url('../fonts/aeio_goth.ttf');
}

@font-face {
    font-family: 'FrizQuadrata';
    src: url('../fonts/FrizQuadrataStdRegular.otf');
}

/* ````````````````````````NAV`````````````````` */

.navbar-logo-text {
    font-family: Aeio;
    font-size: 25px;
    color: #ff3604 !important;
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
    vertical-align: bottom;
}

.navbar-toggler {
    background-color: black;
    border: 1px gray solid !important
}


.navbar {
    background-color: black;
    background-image: linear-gradient(rgb(20, 20, 20), black ,rgb(20, 20, 20));
    border-top: 2px black solid;
    border-bottom: 2px black solid;
    padding: 0;
    padding-bottom: 0;
    z-index: 1030;
}


.navbar-brand{
    padding-left: 70px;
    padding-right: 20px;
    background-image: linear-gradient(rgb(20, 20, 20), black,rgb(20, 20, 20));
    box-shadow: inset 0 0 5px rgb(40, 40, 40);
    border: 1px solid black;
    margin: 0;
}

.navbar-brand:hover{
    background-image: linear-gradient(black, rgb(20, 20, 20), black);
    box-shadow: inset 0 0 5px black;
}

.nav-link {
    padding: 11px;
    font-size: 14px;
    color: azure !important;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-weight: bold
   }

.nav-link:hover {
    outline: none;
    background-color: transparent;
    color: #ff3604 !important;
   }

.nav-item {
    min-width: 140px;
    min-height: 50px;
    background-image: linear-gradient(rgb(20, 20, 20), black,rgb(20, 20, 20));
    box-shadow: inset 0 0 5px rgb(40, 40, 40);
    border: 1px solid black;
    color: azure !important
}

.nav-item:hover {
    background-image: linear-gradient(black, rgb(20, 20, 20), black);
    box-shadow: inset 0 0 5px black;
}

.nav-item-selected {
    background-image: linear-gradient(black, rgb(30, 30, 30), black);
    box-shadow: inset 0 0 5px black;
}
.nav-link-selected {
    color: #ff3604 !important;
}

/* ``````````````````CLASS SELECTION````````````````````` */

.class-filter {
    padding: 5px;
    font-size: 110%;
    margin-left: 5px;
    cursor: pointer;
    background-position: 0 100%;
    background-size: 100% 200%;
    transition: all .2s ease-in;
    background-position: 95 100%;
    background-size: 100% 105%;
    transition: all .2s ease-in;
    border-top: 4px solid transparent;
    position: relative;
    user-select: none;
}

.nav-is-sticky {
    background-image: linear-gradient(rgb(30, 30, 30), black,rgb(30, 30, 30));
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    top: 53px
}

.classMarker {
    position: absolute;
    background-image: url(../images/icons/medium/orange_filter_marker_alt.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    top: -8px;
    left: 50%;
    margin-left: -15px;
    user-select: none;
    pointer-events: none;
}

.classMarkerGhost {
    position: absolute;
    background-image: url(../images/icons/medium/orange_filter_marker_alt.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 30px;
    top: -8px;
    left: 50%;
    margin-left: -15px;
    filter: grayscale(100%);
    user-select: none;
    pointer-events: none;
}


.class-selection {
    justify-content: center;
    font-size: 14px;
    min-height: 43px;

}

@media only screen and (max-width: 992px) {

    .navbar-brand{
        padding-left: 15px;
        padding-right: 20px;
    }
}

@media only screen and (max-width: 768px) {


    .class-filter {
      background-position: 95 100%;
      background-size: 100% 105%;
      transition: all .2s ease-in;
      font-size: 0;
    }

    .class-icon {
        height: 30px;
        width: 30px;
        border: 2px solid black;
        margin-left: 0;
        margin: 2px
    }

    #warrior {
        background-image: url("../images/icons/medium/class_warrior.jpg");
        color: #C79C6E;
    }

    #mage {
        background-image: url("../images/icons/medium/class_mage.jpg");
        color: #40C7EB
    }

    #druid {
        background-image: url("../images/icons/medium/class_druid.jpg");
        color: #FF7D0A
    }

    #paladin {
        background-image: url("../images/icons/medium/class_paladin.jpg");
        color: #F58CBA
    }

    #shaman {
        background-image: url("../images/icons/medium/class_shaman.jpg");
        color: #0070DE
    }

    #warlock {
        background-image: url("../images/icons/medium/class_warlock.jpg");
        color: #8787ED
    }

    #priest {
        background-image: url("../images/icons/medium/class_priest.jpg");
        color: #FFFFFF
    }

    #hunter {
        background-image: url("../images/icons/medium/class_hunter.jpg");
        color: #ABD473
    }

    #rogue {
        background-image: url("../images/icons/medium/class_rogue.jpg");
        color: #FFF569
    }
  }



/* ~~~~~~~~~~~~~~~ Class Colors ~~~~~~~~~~~~~~~~~~ */

#warrior {
    color: #C79C6E
}

#mage {
    color: #40C7EB
}

#druid {
    color: #FF7D0A
}

#paladin {
    color: #F58CBA
}

#shaman {
    color: #0070DE
}

#warlock {
    color: #8787ED
}

#priest {
    color: #FFFFFF
}

#hunter {
    color: #ABD473
}

#rogue {
    color: #FFF569
}

.warrior {
    color: #C79C6E
}

.mage {
    color: #40C7EB
}

.druid {
    color: #FF7D0A
}

.paladin {
    color: #F58CBA
}

.shaman {
    color: #0070DE
}

.warlock {
    color: #8787ED
}

.priest {
    color: #FFFFFF
}

.hunter {
    color: #ABD473
}

.rogue {
    color: #FFF569
}

.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
    background-color: gray;
}

ul {
    list-style-type: none;
}

.mainHeader {
    text-align: left;
    color: azure
}


.icon-container:active {
    transform: scale(.98);
    filter: saturate(120%);
}

.delete {
    height: 18px;
    width: 18px;
    float: left;
    color: azure;
    border: none;
    cursor: pointer;
    margin-right: 6px;
    background-image: url(../images/icons/small/reset.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
      -o-filter: grayscale(60%);
     -ms-filter: grayscale(60%);
         filter: grayscale(60%);
}

.delete:focus {
    outline:0;
}

.delete:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
     -ms-filter: grayscale(0%);
         filter: grayscale(0%);
}

.rarity {
    text-shadow: 0px 0px 0.1rem rgba(0, 0, 30, 0.85);
}

.common {
    color: rgba(240,255,255,0.95);
}

.uncommon {
    color: rgba(30,255,0,0.95);
}

.rare {
    color: rgba(0, 112, 221, 1);
}

.epic {
    color: rgba(163, 53, 238, 1);
}

.legendary {
    color: rgba(255, 128, 0, 0.95);
}

.req, .unlearn {
    color: rgba(255,33,45,0.95);
    /* color: red !important; */
    white-space: pre-line;
}

.learn {
    color: rgba(23, 253, 23, 0.95) !important;
}

.next {
    white-space: pre-line;
}

.description{
    color: rgba(255, 205, 85, 1) !important;
    white-space: pre-line;
    padding-right: 5px;
}

.title {
    line-height: 15px;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#tooltip {
    font-size: 100%;
    text-align: left;
    line-height: 17px;
    max-width: 320px;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 30, 0.85) !important;
    color: rgba(240,255,255,0.95);
    pointer-events: none;
    border: 1px solid #b6bbc0;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61),  0px 0px 1px 1px rgba(64, 64, 104, 0.4);
    z-index: 500000;
    text-shadow: -0.01rem -0.01rem 0.01rem black;
}

.use {
    color: rgba(30,255,0,0.95);
    font-size: 95%;
}


.unique, .bop, .requiredLevel, .rank {
    font-size: 100%;
    color: rgba(240,255,255,0.95);
    white-space: pre;
}

.spell {
    color: rgba(127,172,244,1);
}

.icon-small {
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 3px top 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
}

.tooltip-container {
    font-size: 100%;
}


.materials-name {
    position: relative;
    pointer-events: auto;
    top: 1px;
}


.amount {
    font-size: 12px;
    position: relative;
    margin-right: 5px;
    /* left: -8px;
    top: 6px; */
    text-decoration: none;
    color: azure;
    pointer-events: none;
    z-index: 10;
    text-shadow: -0.01rem -0.01rem 0.01rem black, -0.01rem 0.01rem 0.01rem grey;

}

.underlined {
    text-decoration: underline;
}

.materials-list-item {
    position: relative;
    margin-top: 3px;
    text-align: left;
}

.results {
    font-size: 100%;
    text-align: left;
    padding-left: 5px;
    pointer-events: none;
}

#thanks {
    box-shadow: rgba(255,255,255,.1) 0 1px 0, rgba(0,0,0,.8) 0 1px 7px 0 inset, 0px 0px 2px rgba(0,0,0,0.7);
    background-size: cover;
    border: 1px rgba(0, 0, 0, 0.5);
    text-align: left;
}

#thanks.jumbotron {
    background-color: #171b1f;
    border-radius: 2px;
    color: rgba(240, 255, 255, 1);
}

.fancy {
    font-family: "Snell Roundhand", cursive;
}

.jumbotron-title {
    text-align: center;
}

p.thank {
    font-size: 13px;
    margin-bottom: 3px;

}

p.testing a{
    text-decoration: underline;
}
