.list-group-item {
    padding: 10px;
    margin: 4px;
    font-size: 100%;
    line-height: 1;
    border-radius: 0px;
    background-color: transparent;
    display: initial;
    color: #9FA3A9;
    cursor: pointer;
    /* animation */
    transition: all .2s ease-in;
}

.list-group-item.active {
  color: azure !important;
  border-left: 6px solid #ff3604;
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
}

.list-group-item.active:hover {
  color: azure !important;
  border-left: 6px solid #ff3604;
  border-radius: 0px;

}

.list-group-item:hover {
  color: azure !important;
  border-color: transparent;
  border-radius: 0px;
}

.information-container {
    background-image: url("assets/images/textured_background.png");
    background-size: cover;
    border-top: 2px solid rgb(79, 80, 83);
    border-bottom: 2px solid rgb(79, 80, 83);
    min-height: 58vh;
    max-height: 72vh;
    padding: 10px;
    overflow-y: scroll;

}

.information-selector {
    padding-right: 0;
}



.information-selection {
    padding: 10px;
    margin: 4px;
    margin-right: 0;
    padding-right: 0px !important;
    color: #9FA3A9;
    cursor: pointer;
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: all .2s ease-in;
}

.information-selection.selected {
    color: azure !important;
    border-left: 6px solid #ff3604;
}

.information-selection:hover {

    color: azure !important;
}


.information-block {
    border-bottom: 10px solid rgba(15, 17, 21, 0.7);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.information-block:last-child {
    border-bottom: none;
}


.content-description {
    color: azure;
    text-align: left;
    font-size: 100%;
    min-height: 100%;
    padding-top: 20px;
}

.content-title {
    font-size: 250%;
    text-align: center;
}

.description-text {
    padding-top: 10px;
}

.instructor {
    color:  azure;
    /* padding: 20px; */
}

.content {
    min-height: 58vh;
    margin-top: 30px;
    /* margin-right: 20px; */
    background-size: contain;
    background-repeat: no-repeat;
}

.content-list {
    padding-left: 0px;
}



  @media only screen and (max-width: 992px) {

    .class-selection {
        padding-left: 2%;
    }
  }
