.list-group-item {
    padding: 10px;
    margin: 4px;
    font-size: 100%;
    line-height: 1;
    border-radius: 0px;
    background-color: transparent;
    display: initial;
    color: #9FA3A9;
    cursor: pointer;
    /* animation */
    transition: all .2s ease-in;
}

.list-group-item.active {
  color: azure !important;
  border-left: 6px solid #ff3604;
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
}

.list-group-item.active:hover {
  color: azure !important;
  border-left: 6px solid #ff3604;
  border-radius: 0px;

}

.list-group-item:hover {
  color: azure !important;
  border-color: transparent;
  border-radius: 0px;
}

.information-container {
}

.information-selector {
    padding-right: 0;
}



.information-selection {
    padding: 10px;
    margin: 4px;
    margin-right: 0;
    padding-right: 0px !important;
    color: #9FA3A9;
    cursor: pointer;
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: all .2s ease-in;
}

.information-selection.selected {
    color: azure !important;
    border-left: 6px solid #ff3604;
}

.information-selection:hover {

    color: azure !important;
}


.information-block {
    background-image: url("../images/textured_background.png");
    background-size: cover;
    border-bottom: 10px solid rgba(15, 17, 21, 0.7);
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 19px dotted black;
    border-image-source: url('../images/content_border_image.png');
    border-image-slice: 19; 
}


.content-description {
    color: azure;
    text-align: left;
    font-size: 120%;
    min-height: 100%;
    padding-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.content-title {
    color:  azure;
    font-size: 250%;
    text-align: center;
}

.description-text {
    padding-top: 10px;
}

.instructor {
    color:  azure;
    /* padding: 20px; */
}

.content {
    /* margin-right: 20px; */
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-is-sticky {
    background-image: linear-gradient(rgb(20, 20, 20), black ,rgb(20, 20, 20));
    border-bottom: 3px solid black;
    top: 70px
}

.content-selection-container {
    text-align: left;
}

  @media only screen and (max-width: 992px) {

    .class-selection {
        padding-left: 2%;
    }
  }

