.locked, .grayed  {
    -webkit-filter: grayscale(90%);
       -moz-filter: grayscale(90%);
         -o-filter: grayscale(90%);
        -ms-filter: grayscale(90%);
            filter: grayscale(90%);
}

.talent-container {
    margin: 8px;
    position: relative;
}


.talent {
    min-width: 42px;
    height: 42px;
    border: 2px solid rgb(23, 253, 23);
    border-radius: 5px;
    background-size: contain;
    z-index: 10;
    border-style: ridge;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
}


.talent.locked, .talent.grayed {
    border-color: rgb(22, 22, 22);
}


.max {
  border-color: rgb(231, 186, 0);
  color: rgb(231, 186, 0);

}

.talent:hover {

  box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 255, 0.15),
              inset -2px 0px 6px 2px rgba(218, 224, 229, .45),
              inset 0px 0px 1px 1px rgba(0, 0, 0, 0.80);

  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  border-style: groove;
}

.openSlot {
    min-width: 42px;
    height: 42px;
    margin: 8px;
    position: relative;

}

.talentTable {
    /* margin: 15px; */
    margin-left: 5px;
    margin-bottom: 15px;

    background-color: grey;
    background-size: 100% 100%;
    border: 2px solid black;
    border-style: ridge;
    user-select: none;
}

.treeTitle {
    color: azure;
    margin-top: 10px;
}

.spentPoints {
    position: absolute;
    width: 22px;
    height: 23px;
    top: 29px;
    left: 30px;
    padding-top: 3px;
    padding-left: 1px;
    /* background-color: rgba(0,0,0, 0.6); */
    background-image: url(../images/icons/bubble2.png);
    background-repeat: no-repeat;

    color: rgb(23, 253, 23);
    text-align: center;
    /* line-height: 14px; */
    pointer-events: none;
    user-select: none;
    z-index: 10;

}

.talentFooter-spentPoints{
  background-color: transparent;
  font-size: 14px;
  position: relative;
}


.spentPoints.locked, .spentPoints.grayed  {
    visibility: hidden;
}


.spentPoints.max {
    color: rgb(231, 186, 0);
    border: 1px rgba(231,186,0, 0.9);
    border-radius: 5px;
}


.talent-tooltip-req{
    color: red !important;
    white-space: pre-line;
}

.talent-tooltip-title{
    font-size: 16px;
}

.talent-tooltip-rank {
    color: white !important;
    font-size: 12px;
}

.talent-tooltip-rank-next {
    white-space: pre-line;
}

.talent-tooltip-description {
    color: rgba(255, 205, 85, 1) !important;
    white-space: pre-line;
}

.talent-tooltip{
    font-size: 100%;
    width: 325px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.89) !important;
    color: azure;
    pointer-events: none;
    border: 1px solid azure;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    /* z-index: 999; */
    text-align: left;
}


.talentFooter {
    color: azure;

    border: 1px solid black;
    margin: 10px;
    margin-top: 20px;
    position: relative;
    background-repeat: no-repeat;
    /* z-index: 20; */
    border-radius: 5px;
    box-shadow: 0 0 10px black;

}

.talentFooter:hover {
    box-shadow: 0 0 10px #ffc000;
    border: 1px solid #ffc000;
}




#buttonCity:hover{

    outline: 7px solid rgba(240, 255, 255, .8);
    box-shadow: inset 0px 0px 1px 2px #04213d;
    /* box-shadow: inset 0 0 1px -webkit-focus-ring-color; */
    /* outline: 2px auto -webkit-focus-ring-color; */
    /* box-shadow: inset 0px 0px 1px 2px rgba(255, 192, 0, .5), inset 0px 0px 2px 3px rgba(0, 0, 255, 0.15); */
    /* box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15); */

    /* border: 1px solid #ffc000; */
    /* border-radius: 5px; */
}

#buttonCity *{
  -webkit-filter: grayscale(60%);
     -moz-filter: grayscale(60%);
       -o-filter: grayscale(60%);
      -ms-filter: grayscale(60%);
          filter: grayscale(60%);
}

#buttonCity:hover *{
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}

#buttonCity *:hover{

    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
            cursor: pointer;
    /* box-shadow: inset 0 0 10px #ffc000; */
    /* outline: 3px auto -webkit-focus-ring-color; */
    /* outline: 2px solid rgba(240, 255, 255, .7); */

    /* outline: 7px solid rgba(240, 255, 255, .8); */

    /* outline: 1rem solid rgba(170, 50, 220, .75); */
    /* border: 1px solid #ffc000; */
    /* border-radius: 5px; */
}

.talentFooter span.treeName {
  width: 18px;
  height: 18px;
  font-size: 14px;
  background: left center no-repeat;
  padding-right: 5px;
  padding-left: 25px;

}


/* #tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0
} */



.tooltip.show {
    opacity: .9
}


.talentcalc-arrow {
    z-index: 5;
    pointer-events: none;
    position: absolute;
    background-repeat: no-repeat;

}
.talentcalc-arrow.right {
    background-image: url(../images/arrows/right.png);
    top: 12px;
    width: 20px;
    height: 100%;
    background-position-x: right;
    left: 40px;
}

.talentcalc-arrow.rightdown {
    background-image: url(../images/arrows/rightdown.png);
    top: 12px;
    width: 42px;
    height: 15px;
    background-position-x: right;
    left: 42px;

}

.talentcalc-arrow-down {
    background-image:url(../images/arrows/down.png);
    width: 100%;
    background-position-x: center;
    background-position-y: bottom;
}

.talentcalc-arrow.down-0 {
    height: 20px;
}

.talentcalc-arrow.down-1 {
    height: 78px;
}

.talentcalc-arrow.down-2 {
    height: 135px;
}

.talentcalc-arrow.rightdown div:last-child {
    background-image: url(../images/arrows/down.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    width: 15px;
    height: 33px;
    background-position-y: bottom;
    left: 27px;
}

.tooltip-container {
    z-index: 15;
    position: relative;
    /* left: -15px; */
    right: 120px;
    top: 40px;
}


.class-filter.selected {
    color: inherit;
    border-top: 4px solid #ff3604;
    padding: 5px;
}

.class-filter:hover {
    color: inherit;
    border-top: 4px solid #ff3604;
    padding: 5px;
    background-color: transparent;
}

.talentcalc-button {
  background-repeat: no-repeat;
  height: 18px;
  width: 16px;
  border: none;

}

.talentcalc-button#resetTalents {
    height: 16px;
    width: 16px;
    background: url(../images/icons/reset.gif);
    background-repeat: no-repeat;
}

.talentcalc-button.lock {
    background: url(../images/icons/lock.gif);
}

.talentcalc-button.unlock {
    background: url(../images/icons/unlock.gif);
}

#export {
   color: #3d7e9a;
   cursor: pointer;
}

#buttonCity {
  /* padding-right: 0px; */
  max-width: 20%;
}

#requiredLevel {
  max-width: 30%;
}

#talentHeader {
  height: 25px;
  width: 63%;
  margin-left: 5px;
  border: 2px solid black;
  /* border-radius: 5px; */
  border-style: ridge;
  color: azure;
  background: #343a40;
  display: flex;
  font-size: 14px;
  position: relative;

  /* align-self: flex-start; */
  /* flex-flow: row-reverse nowrap; */
  /* justify-content: center; */
  /* width: 60%; */
  /* box-sizing: border-box; */

  /* margin-left: 20px; */
  /* margin-right: 20px; */
}

@media only screen and (max-width: 1200px) {
    #talentHeader {
      width: 75%;

    }
}

@media only screen and (max-width: 992px) {
    #talentHeader {
      width: 66%;
      margin-left: 0px;
      font-size: 14px;
      left: 2px;
    }

    #allottedTalentPoints {
      padding-right: 5px;
    }
    #requiredLevel {
      padding-right: 0px;
      padding-left: 0px;
    }

    #pointsRemaining {
      padding-left: 5px;
      padding-right: 5px;

    }

    #buttonCity {
      padding-left: 5px;
    }
}


@media only screen and (max-width: 768px) {
  #talentHeader {
    width: 88%;
    left: 2px;
    /* margin-left: 0px; */
    font-size: 14px;

  }

  #allottedTalentPoints {
    padding-right: 15px;
    padding-left: 15px;
    text-align: center!important;
  }
  #requiredLevel {
    visibility: hidden;
    width: 0px;
    flex: 0 0 0%;
  }

  #pointsRemaining {
    visibility: hidden;
    width: 0px;
    flex: 0 0 0%;
  }

  #buttonCity {
    padding-left: 0px;
    left: 160px;
  }
}

@media only screen and (max-width: 576px) {
  #talentHeader {
    width: 90%;
    /* left: 2px; */
    /* margin-left: 0px; */
    /* font-size: 14px; */

  }
}

.resetTree {
    height: 16px;
    width: 16px;
    background: url(../images/icons/reset.gif);
    background-repeat: no-repeat;
    border: none;
    right: 10px;
    position: absolute;
    top: 3px;
    -webkit-filter: grayscale(40%);
       -moz-filter: grayscale(40%);
         -o-filter: grayscale(40%);
        -ms-filter: grayscale(40%);
            filter: grayscale(40%);
}

.resetTree:hover {
    -webkit-filter: grayscale(0%);
       -moz-filter: grayscale(0%);
         -o-filter: grayscale(0%);
        -ms-filter: grayscale(0%);
            filter: grayscale(0%);
}

svg.icon {
    vertical-align: text-bottom;
}

svg.icon path {
  fill:#ffc000;
}

svg.icon:hover path{
  fill: #3d7e9a;
}
