.talent {
    min-width: 40px;
    height: 40px;
    background-color: royalblue;
    border: 1px solid black;
    margin: 10px;
    position: relative;
    background-size: contain;
}

.openSlot {
    min-width: 40px;
    height: 40px;
    margin: 10px
}

.talentTable {
    margin: 15px;
    background-color: grey;
    background-size: 100% 100%;
    border: 2px solid black;
    user-select: none;
}

.treeTitle {
    color: azure;
}

.spentPoints {
    position: absolute;
    width: 15px;
    height: 15px;
    bottom: -6px;
    right : -6px;
    border: 1px greenyellow solid;
    background-color: black;
    color: yellowgreen;
    text-align: center;
    line-height: 14px;
    pointer-events: none;
    user-select: none;
}

.locked {
    background-color: grey;
}

.talentFooter {
    width: 25px;
    height: 25px;
    background-color: royalblue;
    border: 1px solid black;
    margin: 10px;
    margin-top: 20px;
    position: relative;
}

/* #tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0
} */

.talent-tooltip{
    font-size: 100%;
    width: 325px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    background-color: rgba(0, 0, 0, 0.89);
    color: azure;
    pointer-events: none;
    border: 1px solid azure;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    z-index: 999;
    text-align: left;
}

.tooltip.show {
    opacity: .9
}
