code {
    color: #b3ffd6;
}

.material-count {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 1px;
    text-decoration: none;
    color: azure;
    -webkit-text-stroke: 0.01rem black;
    z-index: 10;
}

.count-container {
    position: relative;
    right: 5px;
    top: 15px;
}

#tooltip {
    font-size: 100%;
    text-align: left;
    line-height: 17px;
    max-width: 320px;
    display: block;
    background-color: rgba(0, 0, 30, 0.85) !important;
    color: rgba(240,255,255,0.98);
    pointer-events: none;
    user-select: none;
    border: 1px solid #b6bbc0;
    padding: 5px;
    margin: 5px;
    margin-left: 2px;
    border-radius: 4px;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61),  0px 0px 1px 1px rgba(64, 64, 104, 0.4);
    text-shadow: -0.01rem -0.01rem 0.01rem black;
}

#tooltip_container {
    font-size: 100%;
    text-align: left;
    position: absolute;
    display: block;
    pointer-events: none;
    user-select: none;
    z-index: 500000;
    border: none;
    margin-bottom: 0;
}

#tooltip-image {
    pointer-events: none;
    user-select: none;
}
