code {
    color: #b3ffd6;
}

.material-count {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-decoration: none;
    color: azure;
    -webkit-text-stroke: 0.01rem black;
    z-index: 10;
}

.count-container {
    position: relative;
    right: 5px;
    top: 15px;
}
