
.itemslot {
    height: 48px;
    width: 48px;
    background-size: cover;
    margin: auto;
    margin-bottom: 5px;
}

.bottom-slots>.itemslot {
    margin: 0;
}

.mainBody{
    min-height: 0
}

.pageColumn{
    background-color: #272727;
    border: 1px black solid;
    min-height: 520px;
    max-height: 520px;
    color: #1EFF00;
}
.enchantOptionContainer {
    border-top-left-radius: 1px;
    border-bottom-left-radius: 5px;
}

.materialContainer {
    overflow-y: scroll;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 5px;
}


.selectedEnchantContainer {
    overflow-y: scroll;
}

.right-slots {
    padding: 0
}

.left-slots {
    padding: 0
}

.enchantHolder {
    pointer-events: none;
}
.enchantOptions {
    border: 1px black solid;
    width: 100%;
    min-height: 419px;
    max-height: 419px;
    overflow-y: scroll;
}

.bookImg {
    background-image: url("../images/enchanted_book_3_small.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 5px;
    margin-left: 10px;
    height: 50%;
}

.enchantOption {
    font-size: 90%;
    color: white;
    margin-top: 5px;
    cursor: pointer;
    border: 1px black solid;
    background-color: #181818;
    display: block;
    text-overflow: ellipsis;
    align-items: center;
    pointer-events: auto;
}

.enchantOption:hover {
    background-color: grey;
}

.columnTitle {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
    box-shadow: none;
    background-color: transparent;
}

.enchant-slot-title {
    color: rgba(240, 255, 255, .85);
    font-size: 100%;
    padding: 2px;
    border-radius: 2px;
    border: 1px solid #b6bbc0;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61), 0px 0px 1px 1px rgba(64, 64, 104, 0.4);
}

.selected-enchant {
    margin-top: 30px;
}

.enchantInfo {
    font-size: 100%;
    padding: 1px;
    margin-top: 5px;
    color: #1EFF00;
    margin-left: 10px; /* offsets scrollbar */
    border: 1px solid black;
    background-color: #181818;

}

.totalContainer {
   padding-top: 10px;
   margin-left: 10px; /* offsets scrollbar */
   margin-top: 30px;
}

.copyTotal {
    position: absolute;
    height: 35px;
    width: 35px;
    background-image: url(../images/icons/medium/copy_clipboard.png);
    background-size: contain;
    background-repeat: no-repeat;
    right: -1px;
}
.copyTotal:hover {
    transform: scale(0.90);
}

.enchantable {
    cursor: pointer;
}

.focus {
    border: 2px greenyellow solid;
    border-radius: 5px;
    border-style: groove;
}

.filterOptions{
    border: 1px solid black;
    background-color: #121212;
    margin-left: 10px;
    color: rgba(240, 255, 255, 0.95);
}

#belt {
    background-image: url("../images/equipment_slots/belt.png")
}

#bracer {
    background-image: url("../images/equipment_slots/bracer.png")
}

#cloak {
    background-image: url("../images/equipment_slots/cloak.png")
}

#ring1 {
    background-image: url("../images/equipment_slots/ring.png")
}

#ring2 {
    background-image: url("../images/equipment_slots/ring.png")
}

#gloves {
    background-image: url("../images/equipment_slots/gloves.png")
}

#head {
    background-image: url("../images/equipment_slots/head.png")
}

#legs {
    background-image: url("../images/equipment_slots/legs.png")
}

#weapon {
    background-image: url("../images/equipment_slots/weapon.png")
}

#shield {
    background-image: url("../images/equipment_slots/shield.png")
}

#ranged {
    background-image: url("../images/equipment_slots/ranged.png")
}

#shoulders {
    background-image: url("../images/equipment_slots/shoulders.png")
}

#tabard {
    background-image: url("../images/equipment_slots/tabard.png")
}

#trinket1 {
    background-image: url("../images/equipment_slots/trinket.png")
}

#trinket2 {
    background-image: url("../images/equipment_slots/trinket.png")
}

#neck {
    background-image: url("../images/equipment_slots/neck.png")
}

#chest {
    background-image: url("../images/equipment_slots/chest.png")
}

#shirt {
    background-image: url("../images/equipment_slots/shirt.png")
}

#pants {
    background-image: url("../images/equipment_slots/pants.png")
}

#boots {
    background-image: url("../images/equipment_slots/boots.png")
}

.not-enchantable {
    opacity: 0.3;
}

.tooltip-container {
    font-size: 100%;
}

.form-check-label {
    position: relative;
    top: 2px;
}

.materials-list-item {
    position: relative;
    margin-top: 3px;
    text-align: left;
    /* pointer-events: auto; */
}

.materials-name {
    /* pointer-events: auto; */
}

.nav-is-sticky {
    padding-top: 0 !important;
}

.results {
    pointer-events: auto;
}

.enchant-slot-container{
    margin-top: 30px;
}
