:root {
    --pale-blue: rgb(89, 133, 186); /* #5985ba */
    --merrigold: rgb(255, 193, 7); /* #ffc107 */
    --navbar-height: 7vh;
    --light-grey: rgb(70, 78, 86); /* #464e56 */
    --sidenav-bg-color: #181818;
    --secondary-navbar-height: 6vh;
}
html {
    position: relative;
    min-height: 100vh;
}

body {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 12px;
    background-color: #121212;
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    margin-bottom: 3vh;
    margin-top: var(--navbar-height);
    width:100%
}

.footer {
    width: 100%;
    position: absolute;
    height: 3vh;
    bottom: 0;
    background-color: var(--sidenav-bg-color);
    z-index: 1310;
    box-shadow: inset 0px 1px 2px 3px rgba(0, 0, 20, 0.15), inset -2px 0px 6px 2px rgba(218, 224, 229, 0.1);
    border-top: 1px solid black;
}

.custom-scroll-bar::-webkit-scrollbar {
    width: 10px;
}

.custom-scroll-bar::-webkit-scrollbar-thumb {
    background-color: #404040;
}

.container {
    max-width: none !important;
}

#mainBody {
    min-height: 100%;
    align-content: center;
    display: inline-block;
    vertical-align: top;
    padding-left: 265px;
}

.padleft {
    animation: 0.75s ease-out forwards padleft;
}

.depad {
    animation: 0.75s ease-out forwards depad;
}

@keyframes padleft {
    0% {
        padding-left: 45px;
    }
    100% {
        padding-left: 265px;
    }
}

@keyframes depad {
    0% {
        padding-left: 265px;
    }
    100% {
        padding-left: 45px;
    }
}

.mainContent {
    min-height: 100%;
    padding: 25px;
}

.page-title {
    font-family: OpenSans, Arial, Helvetica, sans-serif;
    font-size: 300%;
}
.page-description {
    font-size: 12px;
}

.titleSplash {
    background-image: url(../images/title_splash.png);
    background-size: cover;
}

@font-face {
    font-family: 'UniSansLight';
    src: url('../fonts/uni_sans_thin_caps.otf')
}

@font-face {
    font-family: 'UniSans';
    src: url('../fonts/uni_sans_semi_bold.otf')
}

@font-face {
    font-family: 'UniSansHeavy';
    src: url('../fonts/uni_sans_heavy_caps.otf')
}

@font-face {
    font-family: 'MetalMacabre';
    src: url('../fonts/MetalMacabre.ttf');
}

@font-face {
    font-family: 'Quattro';
    src: url('../fonts/Quattrocento-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Aeio';
    src: url('../fonts/aeio_goth.ttf');
}

@font-face {
    font-family: 'FrizQuadrata';
    src: url('../fonts/frizquadrata.otf');
}

@font-face {
    font-family: 'SnellRoundhand';
    src: url('../fonts/snellbt-regular.otf')
}

@font-face {
    font-family: 'lifecraft';
    src: url('../fonts/lifecraft.ttf')
}

@font-face {
    font-family: 'morpheus';
    src: url('../fonts/morpheus.ttf')
}
/* ````````````````````````NAV`````````````````` */

.navbar-logo-text {
    font-family: Aeio, lifecraft, morpheus;
    font-size: 25px;
    color: rgba(240, 255, 255, 0.17) !important;
    vertical-align: bottom;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: .5px rgba(0, 0, 80, 1);
    position: relative;
    top: 4px;
}

.navbar-toggler {
    background-color: black;
    border: 1px gray solid !important
}

.navbar {
    box-shadow: 0 4px 2px -4px #000000;
    padding: 0;
    padding-bottom: 0;
    z-index: 1030;
    transition: all .2s ease-in;
    background-color: #272727;
    height: var(--navbar-height);
}

.navbar-nav{
    background-color: #272727;
    max-height: var(--navbar-height);
}

.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
    border-right: solid 1px black;
    box-shadow: 0 4px 2px -4px #000000;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    height: var(--navbar-height);
}

.navbar-brand:hover {
    box-shadow: inset 4px 0 4px -4px black, inset -4px 0 4px -4px black;
}

.navbar-brand img{
    position: relative;
}

.nav-link {
    font-size: 15px;
    color: rgb(255, 255, 255) !important;
    height: 100%;
    background-color: #272727;
    display: flex;
    align-items :center;
    justify-content: center;
   }

.nav-link:hover {
    outline: none;
    background-color: transparent;
}

.nav-item {
    min-width: 140px;
    min-height: var(--navbar-height);
    box-shadow: inset 0 0 1px rgb(40, 40, 40);
    border-right: 1px solid black;
    border-right: 1px solid black;
    transition: all .1s cubic-bezier(0.57, 0.1, 0.55, 0.95);
}




.nav-item:hover {
    box-shadow: inset 4px 0 4px -4px black, inset -4px 0 4px -4px black;
}

.nav-item.selected, .navbar-brand.selected {
    box-shadow: inset 4px 0 4px -4px black, inset -4px 0 4px -4px black;
}

.nav-link.selected {
    color: whitesmoke !important;
}

/* ``````````````````CLASS SELECTION````````````````````` */


.class-filter, .prof-filter {
    cursor: pointer;
    /* transition: all 0.1s cubic-bezier(0.57, 0.1, 0.55, 0.95); */
    position: relative;
    box-shadow: inset 0 0 1px rgb(40, 40, 40);
    margin: auto 5px;
    border-radius: 5px;
    -moz-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}


.prof-filter.selected {
    border-color: rgb(231, 186, 0);
    color: rgb(231, 186, 0);
}

.class-selection, .prof-selection, .selection-header{
    user-select: none;
    top: var(--navbar-height);
    background-color: var(--sidenav-bg-color);
    height: var(--secondary-navbar-height);
    box-shadow: 0 4px 2px -4px #000000;
    justify-content: center;
}





/* ~~~~~~~~~~~~~~~ Class Colors ~~~~~~~~~~~~~~~~~~ */

#warrior, .warrior {
    color: #C79C6E;
    border-color: #C79C6E;
}
#warrior > img {
    background-image: url("../images/icons/large/class/warrior.jpg");
}
#mage, .mage {
    color: #40C7EB;
    border-color: #40C7EB;
}
#mage > img {
    background-image: url("../images/icons/large/class/mage.jpg");
}

#druid, .druid {
    color: #FF7D0A;
    border-color: #FF7D0A;
}
#druid > img {
    background-image: url("../images/icons/large/class/druid.jpg");
}

#paladin > img{
    background-image: url("../images/icons/large/class/paladin.jpg");
}
#paladin, .paladin {
    color: #F58CBA;
    border-color: #F58CBA;
}

#shaman, .shaman {
    color: #0070DE;
    border-color: #0070DE;
}
#shaman > img {
    background-image: url("../images/icons/large/class/shaman.jpg");

}

#warlock, .warlock {
    color: #8787ED;
    border-color: #8787ED;
}
#warlock > img {
    background-image: url("../images/icons/large/class/warlock.jpg");

}

#priest, .priest {
    color: #FFFFFF;
    border-color: #FFFFFF;
}

#priest > img {
    background-image: url("../images/icons/large/class/priest.jpg");
}

#hunter, .hunter {
    color: #ABD473;
    border-color: #ABD473;
}

#hunter > img {
    background-image: url("../images/icons/large/class/hunter.jpg");
}

#rogue, .rogue {
    color: #FFF569;
    border-color: #FFF569;
}

#rogue > img {
    background-image: url("../images/icons/large/class/rogue.jpg");
}

#alchemy > img{
    background-image: url("../images/icons/large/professions/alchemy.jpg");

}

#blacksmithing > img{
    background-image: url("../images/icons/large/professions/blacksmithing.jpg");

}

#cooking > img{
    background-image: url("../images/icons/large/professions/cooking.jpg");

}

#enchanting > img{
    background-image: url("../images/icons/large/professions/enchanting.jpg");

}
#engineering > img{
    background-image: url("../images/icons/large/professions/engineering.jpg");

}

#leatherworking > img{
    background-image: url("../images/icons/large/professions/leatherworking.jpg");

}

#first_aid > img{
    background-image: url("../images/icons/large/professions/first_aid.jpg");
}

#mining > img{
    background-image: url("../images/icons/large/professions/mining.jpg");
}

#tailoring > img{
    background-image: url("../images/icons/large/professions/tailoring.jpg");
}


#other > img{
    background-image: url("../images/icons/large/professions/other.jpg");
}

#skinning > img{
    background-image: url("../images/icons/large/professions/skinning.jpg");
}

#herbalism > img{
    background-image: url("../images/icons/large/professions/herbalism.jpg");
}

#fishing > img{
    background-image: url("../images/icons/large/professions/fishing.jpg");
}

.class-icon, .prof-icon {
    height: 42px;
    width: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    border-width: 2px;
    border-style: ridge;
    border-radius: 6px;
    border-color: rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
     pointer-events: none;
}

.class-filter.selected img,
.class-filter:focus img,
.class-filter:active img,
.prof-filter.selected img,
.prof-filter:focus img,
.prof-filter:active img {
    border-color: inherit;
}

.class-filter:hover img, .prof-filter:hover img{

    border-color: inherit;
    box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 255, 0.15),
                inset -2px 0px 6px 2px rgba(218, 224, 229, .45),
                inset 0px 0px 1px 1px rgba(0, 0, 0, 0.80);
    -webkit-filter: grayscale(10%);
    -moz-filter: grayscale(10%);
      -o-filter: grayscale(10%);
     -ms-filter: grayscale(10%);
         filter: grayscale(10%);

}

.class-filter:active img, .prof-filter:active img{
    transform: scale(0.97);
}

.disabled {
    opacity: 0.2;
    user-select: none;
    pointer-events: none;
    background-color: gray;
}

ul {
    list-style-type: none;
}

.mainHeader {
    text-align: left;
    color: rgb(255, 255, 255);
}


.icon-container:active {
    transform: scale(.98);
    filter: saturate(120%);
}

.delete {
    height: 18px;
    width: 18px;
    float: left;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-right: 6px;
    background-image: url(../images/icons/small/reset.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
      -o-filter: grayscale(60%);
     -ms-filter: grayscale(60%);
         filter: grayscale(60%);
}

.delete:focus {
    outline:0;
}

.delete:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
      -o-filter: grayscale(0%);
     -ms-filter: grayscale(0%);
         filter: grayscale(0%);
}

.rarity {
    text-shadow: 0px 0px 0.1rem rgba(0, 0, 30, 0.85);
}

.junk, .q0 {
	color: rgba(157,157,157,1);
}

.common, .q1 {
    color: rgba(240,255,255,0.95);
}

.uncommon, .q2 {
    color: rgba(30,255,0,0.95);
}

.rare, .q3 {
    color: rgba(0, 112, 221, 1);
}

.epic, .q4 {
    color: rgba(163, 53, 238, 1);
}

.legendary, .q5{
    color: rgba(255, 128, 0, 0.95);
}

.gm, .q6{
    color: rgba(229, 204, 128, 1);
}

.req, .unlearn {
    color: rgba(245,33,45,0.95);
    white-space: pre-line;
}

.learn {
    color: rgba(23, 253, 23, 0.95);
}

.next {
    white-space: pre-line;
}

.description{
    color: rgba(255, 205, 85, 1);
    white-space: pre-line;
    padding-right: 5px;
}

.title {
    line-height: 15px;
    font-size: 14px;
    padding-top: 1px;
    padding-bottom: 1px;
}

#tooltip_image {
/*     margin-top: 3px; */
    /* padding: 3px; */
    flex: none;
    position: relative;
    top: 3px;
}

#tooltip {
    flex: none;
    font-size: 100%;
    text-align: left;
    line-height: 17px;
    max-width: 320px;
/*     display: block; */
    background-color: rgba(0, 0, 30, 0.85) !important;
    color: rgba(240,255,255,0.98);
    pointer-events: none;
    user-select: none;
    border: 1px solid #85888c;
    padding: 5px;
    margin: 5px;
    /* margin-left: 1px; */
/*     margin-bottom: 2px; */
    padding-bottom: 2px;
    border-radius: 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(64, 64, 104, 0.61),  0px 0px 1px 1px rgba(64, 64, 104, 0.4);
    text-shadow: -0.01rem -0.01rem 0.01rem black;
}

#tooltip > * {
    pointer-events: none;
    user-select: none;
}

#tooltip_container {
    display: flex;
    flex-direction: row;
    font-size: 100%;
    text-align: left;
    position: absolute;
    /* display: block; */
    pointer-events: none;
    user-select: none;
    z-index: 500000;
    visibility: hidden;
    /* border: 1px solid red; */
    /* margin-bottom: 5px; */
}

.use {
    color: rgba(30,255,0,0.95);
    font-size: 95%;
}


.unique, .bop, .requiredLevel, .rank {
    font-size: 100%;
    color: rgba(240,255,255,0.95);
    white-space: pre;
}

.spell {
    color: rgba(127,172,244,1);
}

.icon-small {
    height: 22px;
    width: 22px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left 3px top 3px;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    pointer-events: auto;
}

.icon-medium {
    width: 42px;
    height: 42px;
    border: 1px black ridge;
    border-radius: 5px;
    background-size: 36px 36px;
    background-position: left 1px top 1px;
    background-repeat: no-repeat;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
    pointer-events: all;
}

.amount {
    font-size: 12px;
    position: relative;
    margin-right: 5px;
    text-decoration: none;
    color: rgba(240, 255, 255, 0.95);
    pointer-events: none;
    z-index: 10;
    text-shadow: -0.01rem -0.01rem 0.01rem black, -0.01rem 0.01rem 0.01rem grey;
}

.underlined {
    text-decoration: underline;
}


.results {
    font-size: 100%;
    text-align: left;
    padding-left: 5px;
    pointer-events: none;
}

.steel-textured {
    background: -webkit-linear-gradient(360deg, rgba(0, 0, 0, 0.65) 40%, rgba(0, 0, 0, 0.85) 80%, rgba(196, 202, 208, 0.5) 360%), url(../images/brushedsteel.jpg);
    background: -moz-linear-gradient(360deg, rgba(0, 0, 0, 0.85) 20%, rgba(196, 202, 208, 0.5) 360%), url(../images/brushedsteel.jpg);
    background-size: 100%, cover;
    background-repeat: no-repeat, repeat;
    box-shadow: inset -0.01rem -0.01rem 1px 0.01rem rgba(128,128,128,0.25);
}

.fancy {
    font-family: SnellRoundhand, cursive;
}

.discordLink {
    color: white;
    cursor: pointer;
}



.discordLink:hover{
    filter: invert(100%)
}

.clickable {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 1;
  }

@keyframes glowing-text {
    0% { text-shadow: 0 0 -1px rgba(165, 165, 243, 0.15); }
    40% { text-shadow: 0 0 2px rgba(165, 165, 243, 0.15); }
    60% { text-shadow: 0 0 2px rgba(165, 165, 243, 0.15); }
    100% { text-shadow: 0 0 -1px rgba(165, 165, 243, 0.15); }
}

.columnTitle {
    border: 1px solid black;
    color: white;
    font-size: 16px;
    max-height: 32px;
    line-height: normal;
    background-color: #272727;
    box-shadow: 0 4px 2px -4px #000000;
}

.pageColumn{
    min-height: 65vh;
    max-height: 65vh;
    background-color: #1C1C1C;
    box-shadow: 0 4px 2px -4px #000000;
}


.plus {
    font-size: 95%;
    padding: 1px;
    position: relative;
    width: 20px;
    height: 20px;
    border: 0;
    top: 0;
    float: left;
    padding-left: 5px;
}

.glyphicon-triangle-right, .glyphicon-triangle-bottom {
    display: initial;
}

.glyphicon-trash {
    right: 10px;
    display: initial;
}


a.crafted-item-list:hover{
    color: inherit;
}

.login.discord{
    font-family: UniSans;
    color: #7289DA;
    font-size: 8px;
}

#discord-login{
    transition: all .17s ease-out;
    -webkit-transition: all .17s ease-out;

}
#discord-login path{
    fill: #7289DA;
    /* text-decoration: none; */
}

a#discord-login:hover svg path,
a#discord-login:hover > span,
a#discord-login:hover{
    color: rgb(231, 186, 0);
    fill: rgb(231, 186, 0);
    text-decoration: none;
}

/* #discord-login:hover path {

} */


.login-dropdown {
    background: #18191c;
    border-radius: 3px;
    /* max-width: 220px; */
    padding: 8px 16px 8px 8px;
    /* width: 100vw; */
    z-index: 9999;
    left: unset;
    right: 0;
    font-size: unset;
}

button:focus {
    outline: none !important;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }


.login-dropdown > div:first-child{
    color: inherit!important;
    text-decoration: none;
    background-color: inherit !important;
}

#logout-button {
    -webkit-appearance: none;
    background-color: transparent;
    color:#f04747;
    border:none;
    line-height: 18px;
    -webkit-transition: all .17s ease-out;
    transition: all .17s ease-out;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

#logout-button:focus{
    outline: 0;
}

#logout-button:hover{
    text-decoration: underline;
}

.discord {
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

}


.login-div {
    margin: 0 20px 0 0;
    padding: 0 20px 0 0;
}


.glyphicon-custom{
    user-select: none;
    pointer-events: none;
}

.glyphicon-custom{
    user-select: none;
    pointer-events: none;
}


.fix-me {
    color: orange;
}

.notification-container{
    position: fixed;
    font-size: 250%;
    color: var(--merrigold);
    left:50%;
    top: 20vh;
    background-color: rgba(0, 0, 0, 0.600);
    border-radius: 10px;
    border: 1px solid black;
    z-index: 4000;
    width: 80vw;
    margin-left: -40vw;
    user-select: none;
    pointer-events: none;
    animation-name: fade-out;
    animation-duration: 5s;
    animation-direction: normal;
}

.floating-container{
    position: absolute;
    font-size: 150%;
    color: var(--main-gold-color);
    user-select: none;
    pointer-events: none;
    animation-name: float-up;
    animation-duration: 3s;
    animation-direction: normal;
    z-index: 2000;
}

@keyframes fade-out {
	0% {
        opacity: 1;
    }
	50% {
		opacity: 0.6;
    }
	100% {
        opacity: 0;
	}
}

@keyframes float-up {
	0% {
        transform: translate(-30px, -10px);
        opacity: 1;
    }

	50% {
		opacity: 1;
    }

	100% {
        transform: translate(-30px,-130px);
        opacity: 0;
	}
}

.hidden {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.untouchable {
    user-select: none;
    pointer-events: none;
}

.feed-tag {
    border: 1px solid black;
    padding: 3px;
    background-color: #222222;
    border-radius: 5px;
    margin: 2px;
    font-size: 80%;
    display: inline-block;
}

.dropdown-menu {
    min-width: 0;
}

.h100 {
    height: 100% !important;
}

.secondary-navbar-item {
    display: inline-flex !important;
    vertical-align: baseline;
    flex-shrink: 0;
    padding: 0;
    margin: 0;
}

.secondary-navbar-item > .navlink {
    align-items: center;
    display: flex;
    padding: 0 12px;
}


@media only screen and (max-width: 768px) {
    .class-filter, .prof-filter {
        margin: 1px;
    }

    /* professions */
    #alchemy > img{
        background-image: url("../images/icons/medium/professions/alchemy.jpg");

    }

    #blacksmithing > img{
        background-image: url("../images/icons/medium/professions/blacksmithing.jpg");

    }

    #cooking > img{
        background-image: url("../images/icons/medium/professions/cooking.jpg");

    }

    #enchanting > img{
        background-image: url("../images/icons/medium/professions/enchanting.jpg");

    }
    #engineering > img{
        background-image: url("../images/icons/medium/professions/engineering.jpg");

    }

    #leatherworking > img{
        background-image: url("../images/icons/medium/professions/leatherworking.jpg");

    }

    #tailoring > img{
        background-image: url("../images/icons/medium/professions/tailoring.jpg");
    }

    #first_aid > img{
        background-image: url("../images/icons/medium/professions/first_aid.jpg");
    }

    #mining > img{
        background-image: url("../images/icons/medium/professions/mining.jpg");
    }

    #other > img{
        background-image: url("../images/icons/medium/professions/other.jpg");
    }

    #skinning > img{
        background-image: url("../images/icons/medium/professions/skinning.jpg");
    }

    #herbalism > img{
        background-image: url("../images/icons/medium/professions/herbalism.jpg");
    }

    #fishing > img{
        background-image: url("../images/icons/medium/professions/fishing.jpg");
    }

    #herbalism, #fishing, #skinning {
        display: none;
    }


    #warrior > img{
        background-image: url("../images/icons/medium/class/warrior.jpg");
    }

    #mage > img {
        background-image: url("../images/icons/medium/class/mage.jpg");
    }

    #druid > img {
        background-image: url("../images/icons/medium/class/druid.jpg");
    }

    #paladin > img {
        background-image: url("../images/icons/medium/class/paladin.jpg");
    }

    #shaman > img {
        background-image: url("../images/icons/medium/class/shaman.jpg");
    }

    #warlock > img {
        background-image: url("../images/icons/medium/class/warlock.jpg");
    }

    #priest > img {
        background-image: url("../images/icons/medium/class/priest.jpg");
    }

    #hunter > img {
        background-image: url("../images/icons/medium/class/hunter.jpg");
    }

    #rogue > img {
        background-image: url("../images/icons/medium/class/rogue.jpg");
    }
}


#discord-avatar {
    background-color: transparent;
}

#discord-avatar > img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 0.5vh;
    border: 1px solid white;
}

#discord-avatar > img:hover {
    border: 1px solid var(--merrigold);
}

.nav-item:last-of-type {
    border-right: none;
    width: 100%;
    display: flex;
}

.nav-link:last-of-type {
    padding-top: 0;
    padding-bottom: 0;
}

@media only screen and (max-width: 992px) {

    #discord-avatar {
        background-color: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }

    

    .nav-link:last-of-type {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .nav-item:last-of-type {
        border-right: 1px solid black;
        display: list-item;
    }

    .navbar-brand{
        padding-left: 15px;
        padding-right: 20px;
    }

    .discordLink {
        margin: auto
    }

    .nav-item {
        min-width: initial ;
        min-height: initial;
    }

    .nav-link:hover {
        /* outline: none; */
        color: var(--merrigold) !important;
        background-color: #3a3e42;
    }
}

@media only screen and (max-width: 1400px) {

    #navbarSupportedContent{
        z-index: 1310;
        background-color: #272727;
        max-height: var(--navbar-height);
    }
}

@media only screen and (min-width: 1400px) {

    #navbarSupportedContent{
        z-index: 1310;
        background-color: #272727;
    }
}
