

.mainHeader {
    text-align: left;
    color: azure;
}

.sidebar-header{
    background-color: rgba(0, 0, 0, 0.6);
    color: azure;
}

.sidebar-content{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    color: azure;
    padding: 10px;
}

.sidebar-ref{
    font-size: 14px;
    color: #ff3604;
}
.sidebar-ref:hover{
    color: #FFCD55;
}

.card{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: azure !important;
    border-color: azure !important;
}

.carousel-caption {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}



.recent-news{
	order: 2;
}
.site-content {
	flex: 0 0 100%;
	max-width: 100%;
	order: 1;
}
@media (min-width: 992px){
    .site-content {
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
		order: 2;
    }
	.recent-news{
		order: 1;
	}
}

.property-key {
    text-decoration: underline;
}

table,
td {
    border: 1px solid white;
}

thead,
tfoot {
    border: 1px solid grey;
}

.listImage {
    height: 100px;
    width: 180px;
    background-color: blue;
    margin: auto;
    margin-top: 15px;
}

.listIcon{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: red;
    top: -10px;
    left: 50%;
    margin-left: -20px;
}

.feedItem {
    background-color: #272727;
    text-align: left;
}

.feed-content{
}

.feed-header {
    margin-top: 5px;
}

.feed-tag {
    border: 1px solid black;
    padding: 3px;
    background-color: #222222;
    border-radius: 5px;
    margin: 2px;
    font-size: 80%;

}

.feedTitle{
    font-size: 220%;
}

.feed-footer {
    text-align: center;
    margin-bottom: 3px;
}

.feed-desc {
    text-overflow: ellipsis;
}
