.mainHeader {
    text-align: left;
    color: azure;
}

.sidebar-header{
    background-color: rgba(0, 0, 0, 0.6);
    color: azure;
}

.sidebar-content{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: left;
    color: azure;
    padding: 10px;
}

.sidebar-ref{
    font-size: 14px;
    color: #ff3604;
}
.sidebar-ref:hover{
    color: #FFCD55;
}

.card{
    background-color: rgba(0, 0, 0, 0.4) !important;
    color: azure !important;
    border-color: azure !important;
}

.carousel-caption {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}


.property-key {
    text-decoration: underline;
}

table,
td {
    border: 1px solid white;
}

thead,
tfoot {
    border: 1px solid grey;
}

.listImage {
    height: 125px;
    width: 180px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 15px;
    -webkit-box-shadow: 0 0 7px 1px black;
    -moz-box-shadow: 0 0 7px 1px black;
    box-shadow: 0 0 7px 1px black;
}

.listImage:hover {
    -webkit-box-shadow: 0 0 7px 4px #ffc107;
    -moz-box-shadow: 0 0 7px 4px #ffc107;
    box-shadow: 0 0 7px 4px #ffc107;
    cursor: pointer;
}

.listIcon{
    position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -21px;
}

.feedItem {
    background-color: #272727;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 4px 2px black;
    max-width: 850px;
}

.feed-header {
    margin-top: 5px;
}

.feed-tag {
    border: 1px solid black;
    padding: 3px;
    background-color: #222222;
    border-radius: 5px;
    margin: 2px;
    font-size: 80%;
}

.feedTitle{
    font-size: 220%;
}

a{
    color: #5985ba;
}

a:hover{
    color: #ffc107;
}

.feed-footer {
    text-align: center;
    margin-bottom: 3px;
    margin-top: 5px;
}

.feed-desc {
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 52.8px;
    max-height: 52.8px;
    word-wrap: break-word;
}

.dropdown-item-custom{
    color: #5985ba;
}

.dropdown-item-custom:hover{
    color: #ffc107;
    background-color: #222222;
}

.dropdown-menu-custom{
    background-color: #1c1c1c;
    margin-top: 20px;
    border: 1px solid black;
    font-size: 12px;
}

.filter-dropdown-container{
    width: 500px;
    text-align: center;
}


.filter-category-title{
 color: white;
 margin-right: 10px;
}

.filter-box{
    color: #5985ba;
    display: block;
    border: 1px solid black;
    background-color: #272727;
    padding: 3px;
}

.filter-box:hover{
    border-color:#ffc107;
    cursor: pointer;
}

.filter-box.filter-selected{
    color: #ffc107;
}

.flag-item:hover > span{
    color: #ffc107;
}
.applied-filter-container{
    color: #ffc1078c;
    font-size: 10px;
    font-style: italic
}

#dropdownSortByLink{
    width: 140px;
    margin: 5px;
}

#dropdownFilterLink{
    margin: 5px;
}

.filter-container{
    overflow-y:scroll;
    max-height: 160px;

}
