.blue {
    color: rgba(0, 37, 255, 1);
}

#totals-divider {
    margin: 2px 6px 12px 6px;
    border-color: rgba(240, 255,255,0.95);
}

.prof-header > div{
    background-color: #1C1C1C;
}

.prof-header > div:first-child{
    border-left: none;
}

.prof-header > div:last-child{
    border-right: none;
}

.background-diff {
    background-color: inherit;
}

#list_container {
    overflow-y: scroll;
    border-bottom: 1px solid #000000d6;
    padding-bottom: 5px;
}

#list_container > .row:hover > .recipe-container,
#list_container > .row:hover > .reagent-list {
    background-color: #000000c7;
}

#materials {
    padding:0;
    text-align: left;
    border-right: 1px solid #000000d6;

}

#consumes {
    padding:0;
    text-align: left;
    border-right: 1px solid #000000d6;
}

#totals_container {
    overflow-y: scroll;
    padding-top: 2px;
    padding-bottom: 2px;
    border-left: 1px solid #000000d6;
    border-right: 1px solid #000000d6;
}

#recipe_list {
    text-align: left;
    border-right: 1px solid #000000d6;
    border-left: 1px solid #000000d6;
    background-color: #404040ab;
    padding-bottom: 40px;
    /* user-select: none; */
    /* min-height: 65vh;
    max-height: 65vh; */
}
.consume-list-item {
    font-size: 95%;
    margin-top: 1px;
    padding: 1px;
    border-bottom: 1px solid #404040ab;
    background-color: #101010;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    position: relative;
}

.materials-list-item {
    font-size: 95%;
    margin-top: 1px;
    padding: 1px;
    background-color: #101010;
    display: block;
    text-overflow: ellipsis;
    border-top: 2px solid #404040ab;
    border-radius: 1px;
    text-indent: 15px;
}

.materials-list *{
    text-indent: 30px;
}

#consumeListName {
    width: 65%;
    font-size: 12px;
    padding-left: 5px;
}

#saveConsumeList >* {
    width: 100%;
    margin-left: 10px;
}

.consume-list{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #343a40;
    cursor: pointer;
    text-align: left;
    max-width: 188px;
    margin-bottom: 1px;
    padding-top: 2px;
    margin-left: 1px;
}

.saved-list:hover{
    background-color: #6d6e70;
}

.saved-list.selected{
    background-color: rgba(0,0,120, 1);
    border-top: 2px black solid;
}

.saved-list.selected:hover{
    background-color: rgba(10,10,160, 1);
}

#separator {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%
}

.recipe-name {
    /* text-indent: 4px; */
    padding-left: 4px;
}

.recipe-name:hover {
    text-decoration: solid underline;
}
/* .recipe-container:hover > span {
    text-decoration: solid underline;
} */


.material-name:hover {
    text-decoration: solid underline;
}

.consume-name:hover{
    text-decoration: solid underline;
}

.material-name {
    cursor: default;
}

.material-count {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-decoration: none;
    color: azure;
    -webkit-text-stroke: 0.01rem black;
    z-index: 10;
    user-select: none;
    pointer-events: none;
}

.recipe-step {
    position: relative;
    bottom: -15px;
    right: 5px;
    user-select: none;
    pointer-events: none;
}

.step-amount {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    user-select: none;
    pointer-events: none;
    text-decoration: none;
    color: azure;
    -webkit-text-stroke: 0.01rem black;
    z-index: 10;
}

.amount {
    margin-right: 0;
    z-index: auto;
}

.recipe-container {
    margin-top: 4px;
    cursor: pointer;
    background-color: #101010;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    padding-left: 10px;
    /* margin-left: 10px;
    margin-right: -10px;
    min-width: 262px; */
}

.reagent-list {
    margin-top: 4px;
    background-color: #101010;
    /* min-width: 313px; */
}

.reagent-list-container {
    position: relative;
    display: inline-block;
}

.recipe-container:hover {
    box-shadow: -10px 0 5px -5px var(--merrigold);
    cursor: pointer;
}

.add-subtract-button-container {
    position: absolute;
    right: 0;
    top: 0;
}

.adjustment-button {
    /* height: 24px; */
    /* width: 24px; */
    color: azure;
    background-color: #1C1C1C;
    border: none;
    /* border: 2px solid black; */
    /* font-size: 16px; */
    /* line-height: 1; */
}

/* .adjustment-button:hover {
    cursor: pointer;
} */

.count-container {
    position: relative;
    right: 3px;
    top: 15px;
}

.remove-carrat::after {
    content: none;
}

/* .list-link {
    pointer-events: none;
} */

.user-tag::after {
    content: '\A\A';
    white-space: pre;
}

.dropdown-menu-custom{
    background-color: #1c1c1c;
    border: 1px solid black;
    font-size: 12px;
}

#sorting {
    /* border-bottom: 1px solid white; */
    border-radius: 0;
}

.sortby-dropdown {
    margin-top: 0;
    /* padding-top: unset; */
    border-radius: 1px 1px 2px 2px;
    z-index: 5000;
}

.dropdown-item{
    color: var(--pale-blue)!important;
}

.dropdown-item:hover{
    color: var(--merrigold)!important;
    background-color: #222222;
    cursor: pointer;
}

#sorting_order {
    border-radius: 0;
    position: relative;
    left: -15px;
    /* border-bottom: azure 1px solid; */
}

#sorting_order:hover{
    color: var(--merrigold);
}

#search_bar {
    font-size: 12px;
    /* width: 100%; */
    margin-top: 0.3em;
    border-radius: 1px;
}

#generate_checklist {
    top: 5px;
    background-color: transparent;
    float: left;
    position: relative;
    padding: 2px;
    font-size: 14px;
    color: whitesmoke;
    border: 1px solid white;
    border-radius: 1px;
    transition: all 0.3s ease;
}

#generate_checklist:hover {
    background-color: white;
    color: black;
}
/* @media only screen and (max-width: 992px) {
    #search_bar {
        width: 150px;
    }
}

@media only screen and (max-width: 768px) {
    #search_bar {
        width: 120px;
    }
}

*/

/* @media only screen and (max-width: 576px) {
    #search_bar {
        width: 90%;
    }
} */

tr.sub-material {
    border-left: 2px solid rgb(0 123 255 / 50%);
    background-color: #343a40;
}

#total_materials_table tr[data-target] + tr {
    /* border-top: 3px solid brown; */
}

tr.sub-material td{
    background-color: #007bff2b;
}


.obtained {
    background-color: #0d0042 !important;
    font-style: italic;
}

.row-collapsed {
    visibility: collapse;
}

.test-striped:nth-child(even){
    /* background-color: green; */
}
.test-striped:nth-child(odd){
    background-color: rgba(255,255,255,.05);
}

.amount-input {
    width: 40px;
}

.collapse-toggle.toggled {
    border: 2px solid var(--merrigold);
    border-radius: 1px;
}

#recipe_name_header {
    border-right: 2px solid black;
    text-align: left;
    text-indent: 10px;
}

#recipe_name_header.desc::before {
    content: "\e252";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    padding-right: 2px;
}

#recipe_name_header.asc::before {
    content: "\e253";
    font-family: 'Glyphicons Halflings';
    font-size: 12px;
    padding-right: 2px;
}

#recipe_name_header:hover {
    background-color: #000000c7;
}

@media (min-width: 992px){
    .offset-lg-1 {
        margin-left: 4%;
    }
}
