.blue {
    color: rgba(0, 37, 255, 1);
}

#totals-divider {
    margin: 2px 6px 12px 6px;
    border-color: rgba(240, 255,255,0.95);
}

.prof-header > div{
    background-color: #1C1C1C;
}

.prof-header > div:first-child{
    border-left: none;
}

.prof-header > div:last-child{
    border-right: none;
}

.background-diff {
    background-color: inherit;
}

#materials {
    text-align: left;
    padding:0;
}

#consumes {
    padding:0;
    text-align: left;
}

#totals_container {
    overflow-y: scroll;
    padding-top: 4px;
}

.consume-list-item {
    font-size: 95%;
    margin-top: 1px;
    padding: 1px;
    cursor: pointer;
    border: 2px black solid;
    background-color: #101010;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    position: relative;
}

.materials-list-item {
    font-size: 95%;
    margin-top: 1px;
    padding: 1px;
    background-color: #101010;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    text-indent: 22px;
}

.materials-list *{
    text-indent: 30px;
}

#consumeListName {
    width: 65%;
    font-size: 12px;
    padding-left: 5px;
}

#saveConsumeList >* {
    width: 100%;
    margin-left: 10px;
}

.consume-list{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #343a40;
    cursor: pointer;
    text-align: left;
    max-width: 188px;
    margin-bottom: 1px;
    padding-top: 2px;
    margin-left: 1px;
}

.saved-list:hover{
    background-color: #6d6e70;
}

.saved-list.selected{
    background-color: rgba(0,0,120, 1);
    border-top: 2px black solid;
}

.saved-list.selected:hover{
    background-color: rgba(10,10,160, 1);
}

#separator {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 100%
}

.recipe-name {
    /* text-indent: 4px; */
    padding-left: 4px;
}

.recipe-name:hover {
    text-decoration: solid underline;
}
/* .recipe-container:hover > span {
    text-decoration: solid underline;
} */



#recipe_list {
    overflow-y: scroll;
    text-align: left;
    height: 100%;
    border-right: 1px solid black;
    /* user-select: none; */
}

.material-container {
}

.material-container:hover > span {
    text-decoration: solid underline;
}

.consume-container:hover > span {
    text-decoration: solid underline;
}

.material-name {
    cursor: default;
}

.material-count {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    text-decoration: none;
    color: azure;
    -webkit-text-stroke: 0.01rem black;
    z-index: 10;
    user-select: none;
    pointer-events: none;
}

.recipe-step {
    position: relative;
    bottom: -15px;
    right: 5px;
    user-select: none;
    pointer-events: none;
}

.step-amount {
    font-size: 11px;
    position: absolute;
    bottom: 2px;
    right: 2px;
    user-select: none;
    pointer-events: none;
    text-decoration: none;
    color: azure;
    -webkit-text-stroke: 0.01rem black;
    z-index: 10;
}

.amount {
    margin-right: 0;
    z-index: auto;
}
.recipe-container {
    margin-top: 4px;
    cursor: pointer;
    background-color: #101010;
    display: block;
    text-overflow: ellipsis;
    border-radius: 1px;
    padding-left: 5px;
    margin-left: 10px;
    margin-right: -10px;
    min-width: 262px;
}

.reagent-list {
    margin-top: 4px;
    background-color: #101010;
    min-width: 313px;
}

.reagent-list-container {
    position: relative;
    display: inline-block;
}

.recipe-container:hover {
    box-shadow: -10px 0 5px -5px #ffc107;
    cursor: pointer;
}

.add-subtract-button-container {
    position: absolute;
    right: 0;
    top: 0;
}

.adjustment-button {
    /* height: 24px; */
    /* width: 24px; */
    color: azure;
    background-color: #1C1C1C;
    border: none;
    /* border: 2px solid black; */
    /* font-size: 16px; */
    /* line-height: 1; */
}

/* .adjustment-button:hover {
    cursor: pointer;
} */

.count-container {
    position: relative;
    right: 3px;
    top: 15px;
}

.remove-carrat:after {
    content: none;
}

/* .list-link {
    pointer-events: none;
} */
