.saveBlock {
    margin: auto;
    margin-top: 25px;
    background-color: #1C1C1C;
    max-width: 1000px;
}

.left-align{
    text-align: left;
}

.saveTitle{
    background-color: #272727;
    margin: 0;
    box-shadow: 0 4px 2px -4px #000000;
}

.checkbox{
    border: 1px solid black;
    background-color: #272727;
    margin-top: 2px;
    display: inline-block;
    padding: 2px;
    border-radius: 1px;
}

input[type="text"], textarea {
    background-color : #383838;
    border: none;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-left: 5px;
  }

.fieldWrapper > *, .form-actions{
    border: 1px solid black;
    padding: 8px;
    border-top: 0;
}

label {
    margin-bottom: 0;
}

#id_description{
    height: 200px;
}
