.spec-list-item {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: #343a40;
    user-select: none;
    cursor: pointer;
    text-align: left;
    /* padding-left: 6px; */
    /* padding-top: 2px; */
    height: 21px;
    padding-right: 18px;
    text-indent: 4px;
    position: relative;
}

.black-out {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.692);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1021;
}

.spec-list-item.selected:hover {
    background-color: rgba(10, 10, 160, 1);
}

.spec-list-item.selected {
    background-color: rgba(0, 0, 120, 1);
}

.spec-list-item:hover {
    background-color: #6d6e70;
}

.spec-list {
    border-bottom: #404040;
}

.saved-list-divider {
    background-color: var(--sidenav-bg-color);
    height: var(--secondary-navbar-height);
    box-shadow: 0 4px 2px -4px #000000;

}

#saved_lists {
    color: rgb(255, 255, 255);

    box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 20, 0.15),
        inset -2px 0px 6px 2px rgba(218, 224, 229, 0.1),
        inset 0px 0px 1px 1px rgba(0, 0, 0, 0.80);

    position: fixed;
    background-color: var(--sidenav-bg-color);
    display: inline-block;
    height: 93vh;
    width: 250px;
    left: 0;
    z-index: 1300;
    overflow-y: scroll;
    border-right: 1px solid #00000054;
    animation: 0.75s ease-out forwards slideout;
}

@keyframes slidein {
    0% {
        background-color: #181818;
        left: 0;
        /* transform: translateX(0%) */
    }
    100% {
        background-color: transparent;
        left: -220px;
        /* transform: translateX(-100%) */
    }
}

@keyframes slideout {
    0% {
        background-color: transparent;
        left: -220px;
        /* transform: translateX(-100%) */
    }
    100% {
        background-color: #181818;
        left: 0;
        /* transform: translateX(0%) */
    }
}

@keyframes dissappear {
    0% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}

@keyframes appear {
    100% {
        visibility: visible;
    }
    0% {
        visibility: hidden;
    }
}

.saved-container {
    width: 100%;
    padding: 0;
    border-bottom: 1px solid black;
}

.custom-saves {
    padding: 8px;
    /* overflow: hidden; */
    height: 82vh;
    /* margin-right: 10px; */
    overflow-y: scroll;
    border-top: 1px solid black;

}

#saved_lists.minimized .custom-saves {
    animation: 0.25s ease-out .5s forwards dissappear;
}

#saved_lists:not(.minimized) .custom-saves {
    animation: 0.25s ease-out .5s forwards appear;
}


#saved_lists.minimized {
    animation: 0.75s ease-out forwards slidein;
}

#saved_lists.minimized a.sidebar-toggle-button span.glyphicon {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.sidebar-toggle {
    position: absolute;
    height: var(--secondary-navbar-height);
    right: -5px;

}

.sidebar-toggle:hover a, .sidebar-toggle:active a{
    color: var(--merrigold);
}


.sidebar-toggle-button {
    font-size: calc(var(--secondary-navbar-height) - 1.5vh);
    user-select: none;
}


.sidebar-toggle-button > span {
    position: absolute;
    top: 1vh;
    right: 0;
}


.flip-background {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.form-check-label {
    position: relative;
    right: 5px;
}

#specNameChoice {
    text-align: left;
    width: 100%;
}

#includeInName {
    text-align: left;
}

.form-check-input {
    position: relative;
    margin-top: .3rem;
    margin-right: 5px;
}

legend.col-form-label {
    font-size: 15px;
}

div.modal-footer {
    align-items: flex-start;
}

#specName {
    width: 65%;
    font-size: 12px;
    padding-left: 5px;
}

.invalid-feedback {
    text-align: left;
    font-size: 95%;
    display: block;
    position: relative;
    left: 60px;
}

.spec-info {
    background-color: #141414;
    font-size: 85%;
    justify-content: space-evenly;
    width: 100%;
    user-select: none;
    height: 14px;
    text-align: center;
}

.info-container {
    max-width: 180px;
    min-width: 180px;
    display: inline-block;
}

.spec-container {
    margin: 8px 0px 8px 5px;
    text-align: left;
    height: 39px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #000000;
    max-width: 219px;
    min-width: 219px;
}

.glyphicon-trash {
    right: 0;
}

.trashcan {
    padding: 1px;
    position: absolute;
    top: 0;
    right: 2px;
    border: 0;
    color: rgba(231, 186, 0, 1);
    -webkit-appearance: none;
    background-color: transparent;
}

.trashcan:hover span {
    color: rgba(187, 0, 0, 1) !important;
}

.trashcan:focus {
    box-shadow: 0 0 0;
}

.glyphicon {
    padding: 0;
}

.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, rgba(10, 10, 160, .75) 25%, rgba(10, 10, 160, .75) 50%,
        rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, rgba(10, 10, 160, .75) 75%, rgba(10, 10, 160, .75));
}

.saved-list-icon {
    height: 35px;
    width: 35px;
    background-color: #03040e;
    display: inline-block;
    box-shadow: inset 0 0 5px 3px black;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    border-radius: 0;
    /* border-color: #1c1c1c #1c1c1c black black; */
    position: relative;
    cursor: pointer;
    transition-property: border, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.edit-image {
    position: absolute;
    font-size: 10px;
    right: -2px;
    bottom: -5px;
    padding: 0;
    color: #0056b3 !important;
    cursor: pointer;
}

.icon-selection {
    cursor: pointer;
    transition-property: border, box-shadow;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.icon-selection:hover {
    box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 255, 0.15),
        inset -2px 0px 6px 2px rgba(218, 224, 229, .45),
        inset 0px 0px 1px 1px rgba(0, 0, 0, 0.80);
    /* -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in; */
    border: 1px solid rgba(5, 118, 241, .95);
    /* border: 2px solid #0056b3; */
}

.icon-selection.selected {
    border: 2px solid rgb(231, 186, 0);
    color: rgb(231, 186, 0);
}

.saved-list-link {
    position: absolute;
    width: 100%;
    height: 100%;
}

.saved-list-name {
    left: 0;
    position: absolute;
    width: 90%;
    height: 100%;
}

.saved-list-icon:hover>a span::before {
    content: '\270f';
}

.saved-list-icon:hover {

    box-shadow: inset 0px 0px 2px 3px rgba(0, 0, 20, 0.15),
        inset -2px 0px 6px 2px rgba(218, 224, 229, 0.1),
        inset 0px 0px 1px 1px rgba(0, 0, 0, 0.80);

    border: 1px solid black;
    border-radius: 3px;
}

.saved-list-icon:focus {
    box-shadow: 0 0 0;
}

@media only screen and (max-width: 992px) {
    #mainBody {
        padding-left: 20px !important;
    }
    .sidebar-toggle-button {
        font-size: 4.5vmax;
        user-select: none;
    }

    .sidebar-toggle-button > span {
        top: 1vmax;
    }
}
