
#thanks {
    box-shadow: rgba(255,255,255,.1) 0 1px 0, rgba(0,0,0,.8) 0 1px 7px 0 inset, 0px 0px 2px rgba(0,0,0,0.7);
    background-size: cover;
    border: 1px rgba(0, 0, 0, 0.5);
    text-align: left;
    background-color: transparent !important;

}

/* #thanks {
    border-radius: 2px;
    color: rgba(240, 255, 255, 1);
} */

.fancy {
    font-family: "Snell Roundhand", cursive;
}

.jumbotron-title {
    text-align: center;
}

p.thank {
    font-size: 13px;
    margin-bottom: 3px;

}

p.testing a{
    text-decoration: underline;
}
